[2019-05-23 09:06] piskvorky commented on #319
That's not good, thanks for reporting. @mpenkov can you confirm?

IIRC we decided `from smart_open import smart_open` must remain valid and functional, because much code relies on it. Including our own, and not only in Gensim.

At the very least, deprecations should be `warnings.warn`, so they appear only once (not with "every operation I do"). I must have missed this in a review :(

[2019-05-23 13:19] mpenkov commented on #319
Yes, I agree that `warnings.warn` would have been better than `logging`. We'll fix this in a bugfix release ASAP.

[2019-05-26 03:32] antikvarBE opened #320 "EOFError: End of stream already reached"
Hello,

I'm currently running into a streaming issue using smart_open with tarfiles.
I've described this issue on StackOverflow https://stackoverflow.com/questions/56310366/getting-a-eoferror-end-of-stream-already-reached-error-when-trying-to-untar-a

Any clues?
Thank you in advance.

[2019-05-26 08:51] piskvorky commented on #320
`.tbz` is not a recognized compression extension by `smart_open` (though if it's just `.bz2`, you could [register it yourself](https://github.com/RaRe-Technologies/smart_open#supported-compression-formats)).

I'm puzzled by your "The code I provide here works fine for small files." – I don't see how it could work. @mpenkov any ideas?

[2019-05-26 14:06] antikvarBE commented on #320
Hi @piskvorky,
Thanks for a prompt reaction.

I just tried to run in with the local copy of the file as you suggested and the situation remains the same: OK for small files but NOK for larger ones.

---

As of your previous suggestion, I did try to register my own compressors.
First I just did:
[code]
which worked fine but was providing me with pure tar files.
So I tried this:
[code]
and got the f

[2019-05-26 14:21] mpenkov commented on #320
Thank you for the bug report. I had a look on StackOverflow, and can see you provided some example source there. Could you simplify it by removing the code that does the writing, and post the source here? Ideally, it'd be something we can just copy-paste into an interpreter and reproduce your problem. It'd be super awesome if you used public data as well, but I can see how that may be difficult.

[2019-05-26 14:31] antikvarBE commented on #320
Hi @mpenkov,

Thank you for looking into it with me. It's highly appreciated.
I guess you can just use any .tbz (tar with bz2 compression algorithm) file that's relatively large ( around 8Mb should do) to run a test on the following code:
[code]
A quick sidenote:
You'll notice that I'm not using the "mode" parameter when I'm registering a new compressor as the string "r|bz2" when passed as a param

[2019-05-27 00:50] mpenkov commented on #320
I tried running your source under Py3.6.5 and got the following error:

[code]

Which version of Python are you using?

[2019-05-27 01:12] antikvarBE commented on #320
I’m using python 3.7

[2019-05-27 01:28] mpenkov commented on #320
I get the same problem with 3.7. Could you please double-check your example?

[code]

[2019-05-27 05:43] antikvarBE commented on #320
Strange. I never had this particular issue before. Here's a file I'm trying to process (unfortunately, given the limitations of GitHub, I had to zip it first. If you unzip it you should have the real thing):

[mix_collection.tbz.zip](https://github.com/RaRe-Technologies/smart_open/files/3222005/mix_collection.tbz.zip)

[2019-05-27 07:03] mpenkov commented on #320
OK, I can reproduce your problem.

I can also simplify the example further:

[code]

Interestingly, I get the same result regardless of whether I'm using smart_open.open or io.open. This leads me to suspect the problem isn't actually in smart_open.

[2019-05-27 07:17] antikvarBE commented on #320
Right, I guess people who work on [https://github.com/python/cpython/blob/master/Lib/tarfile.py](url) might cast some light on the issue. I just don't see where one can submit an issue or link to an existing one on this page.

[2019-05-28 00:36] mpenkov commented on #320
You may want to consider using the Python bug tracker, because tarfile is in the standard library.

https://bugs.python.org/

Use the search feature to find tarfile-related issues, there may already be something related there.

[2019-05-28 00:36] #320 closed

[2019-05-28 13:38] mpenkov commented on #316
We could implement `__str__` and `__repr__` for our custom classes, which would solve the problem partially.

What should we do for non-custom wrapper classes? e.g.

[code]

gives

[code]

We don't really have control of that object. What's the best thing to do there?

[2019-05-28 16:15] mehmetilker commented on #319
While waiting a fix I wanted to add ignore case for warning as it is printing that warning every item in an result array, is there any way other then "smart_open.warnings.filterwarnings('ignore')" ?
I am getting "AttributeError: 'function' object has no attribute 'warnings'" exception when I use filter...

[2019-05-28 16:47] mpenkov commented on #319
The problem is smart_open isn't using warnings, it's using the logging module.

So if you want to suppress those logging statements, you need to do so via the functionality offered by the logging module of the standard library.

[2019-05-28 17:05] mehmetilker commented on #319
Yet it worked with "logging.getLogger('smart_open').setLevel(logging.ERROR)"
Thanks.

[2019-05-28 21:22] piskvorky commented on #316
I'd leave it as it is. "Falling back to built-in where possible" is a well-communicated property of smart_open.

[2019-05-29 14:17] #319 closed

[2019-05-29 14:18] #317 closed

[2019-06-14 06:53] gigatesseract commented on #319
I am using the latest version of gensim (3.7.3), and I still get the same warning:
``` /usr/local/lib/python3.6/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function ```
I have tried the follo

[2019-06-14 08:48] gigatesseract commented on #319
TEMPORARY FIX:
For those of you whose still facing the problem, edit the gensim.utils .py file and import open instead of smart_open, as described below:

* Locate the gensim module, by performing the following steps:
    - Go to python shell (or python, depending on what you have, and press enter) ```$ python3 ```
    - Inside the shell, import gensim. ```>>> import gensim```
    - ```>>> print(g

[2019-06-14 09:14] piskvorky commented on #319
I think @mpenkov simply didn't get to updating Gensim to use `smart_open.open` instead of `smart_open.smart_open` yet.

[2019-06-15 07:12] mpenkov commented on #319
@gigatesseract: the warnings module of the standard library has functions for disabling warnings. Please see their documentation.

In the long term, yes, switching to the newer function is the way to go.

[2019-06-19 13:25] ubswrk opened #326 "s3 open fails while s3.upload_fileobj works ok"
Hi,
Any idea why
`with open(s3_file_path, 'wb', transport_params=transport_params) as fout:` returns
`FileNotFoundError: [Errno 2] No such file or directory: <s3_file_path>`,
while `s3.upload_fileobj(bucket, s3_file_path)` works with no errors?
(all directories in the path exist in the bucket)
Thanks!
(1.8.3)
Udi

[2019-06-19 13:27] piskvorky commented on #326
Please post the full stack trace.

[2019-06-19 13:58] ubswrk commented on #326
found the issue - it was a missing s3:// prefix.
thanks.

[2019-06-19 13:58] #326 closed

[2019-06-20 13:58] amolsaudar123 opened #327 "Error while reading ▒ (MEDIUM SHADE) characters from CSV."
Hi Folks,

I'm trying to upload CSV from HDFS to S3 due to special character  ▒ (MEDIUM SHADE) in csv,  smart_open fails to upload file to s3 and here is the screen shot.

And kindly let me know if you are having solution for this.

![c1](https://user-images.githubusercontent.com/29245705/59854929-80aeef80-9391-11e9-87b2-f645955464ec.PNG)

Thanks in advance.

[2019-06-20 16:47] piskvorky commented on #327
Your screenshot says `Access denied`. What makes you think it has anything to do with `▒`?

[2019-06-20 19:14] peter-t-kim commented on #113
Hello Everyone,

I see that @mpenkov 's comment shows that the f object has the 'fileno' method implemented.  However, after migration to the new open function, I no longer see 'fileno' as a method for this object anymore.  This is rather unfortunate as I would like to use the return value of smart_open.open() as the stdin parameter to a Popen call.  But as it is not implemented it throws this err

[2019-06-21 02:28] mpenkov commented on #113
@peter-t-kim I'm not sure at which stage we got rid of fileno. I don't think it's a product of the change to the open function (that change happened at a different abstraction level). You can confirm this by checking on the commit in my previous comment (fbc82cc) and then:

[code]

When reading from S3, smart_open does not create any new file descriptors. The file descriptors get created by the OS

[2019-06-21 04:18] cailiang9 opened #328 "support getting endpoint_url from os.environ"
https://github.com/RaRe-Technologies/smart_open/blob/aea05d090f5ced7980229b147ac86a42a45bc87d/smart_open/smart_open_lib.py#L65

[2019-06-21 04:23] mpenkov commented on #328
There are already multiple methods of setting this (e.g. via keyword arguments and boto3 configuration). Why do we need yet another method?

[2019-06-21 04:24] cailiang9 opened #329 "support http when port is not 443"
https://github.com/RaRe-Technologies/smart_open/blob/aea05d090f5ced7980229b147ac86a42a45bc87d/smart_open/smart_open_lib.py#L624

[2019-06-21 04:29] mpenkov commented on #329
Could you please be more descriptive in your tickets?

What are you trying to achieve? Why? What have you tried? Sample code would be good.

[2019-06-21 05:00] cailiang9 commented on #329
my endpoint_url is 'http://host:port' not https, through uri: s3://host:port@bucket/ , it is not possible to use http protocol.

[2019-06-21 05:48] mpenkov commented on #329
Please show your sample source code, including your actual S3 URI (you can redact private information as needed).

I think it should be possible to access your URI by specifying the right keyword parameters, e.g. see this example in README.md:

[code]

[2019-06-21 10:13] interpolatio opened #330 "error while running tests in win10"
When executing a command `python -m unittest discover` in the project directory:
- for Ubuntu -  the result is ok
- for Win10 - FAILED (failures = 4, errors = 18, skipped = 4)
![image](https://user-images.githubusercontent.com/30384370/59915812-2d3ab100-9426-11e9-8640-a654964d4ffc.png)

[2019-06-22 12:57] mpenkov opened #331 "Implement seek over HTTPS"
[code]

raises "UnsupportedOperation: seek"

smart_open 1.8.3

[2019-06-22 12:59] piskvorky commented on #331
How could we support seek over gzip? Sounds very tricky.

[2019-06-22 13:01] mpenkov commented on #331
We're not actually seeking over gzip. The above code is seeking over raw bytes.

[2019-06-22 14:06] piskvorky commented on #331
Aha. We don't recognize `.tgz` as a compressed format? (shorthand for `.tar.gz`)

Not sure if `seek` over http(s) is implemented (apparently not), but definitely a desirable feature.

[2019-06-22 14:23] mpenkov commented on #331
Yes, we don't.

I'll reword the ticket as a feature request, that way someone may feel more inclined to act on it.

[2019-06-30 09:37] piskvorky opened #332 "`compression_wrapper` compatibility issue"
This used to work in 1.5.6, perhaps even later:

[code]

It doesn't work now, `smart_open.compression_wrapper` no longer exists.

What's the reason? I cannot find anything in the CHANGELOG.

[2019-06-30 10:31] piskvorky commented on #332
Upon investigation, it seems like:

[code]

will restore this (desirable) functionality back.

@mpenkov I'd strongly prefer to avoid such shenanigans. Do you see a better way?

If not, can we bring back `compression_wrapper` (and perhaps others who suffered a similar fate)?

[2019-06-30 11:51] mpenkov commented on #332
What is the use case here? What are you attempting to achieve, and what are the parameters you're passing to the wrapper?

[2019-06-30 12:26] piskvorky commented on #332
Parameter 1 = `io.BufferedIOBase`, parameter 2 = filename `str`, parameter 3 = mode = 'rb'.

We're wrapping an open file-like object so that it decompresses transparently.

[2019-06-30 15:12] mpenkov commented on #332
I demoted compression_wrapper to be an internal function (it's called _compression_wrapper) when I redesigned the smart_open library [over a year ago](https://github.com/RaRe-Technologies/smart_open/commit/b499f874f91df67761b0c90e0b2b894f1f908cc3). My reasoning for making it internal was:

- The function wasn't publicly documented anywhere, unlike e.g. the obviously public smart_open and s3_iter
-

[2019-07-01 10:38] #332 closed

[2019-07-03 08:27] funes79 opened #334 "ReadTimeoutError - how to change the timeout and avoid this error"
Hi, I had this script running fine in python2 every day loading the same amount of data, but today got and exception. The script is downloading and extracting a 1.7GB gzip file from S3 (10.4GB uncompressed).

[code]

This is not the same issue as https://github.com/RaRe-Technologies/smart_open/issues/312, because I can't repeat this error, and there is no problem with encoding, the data was loaded

[2019-07-03 08:29] mpenkov commented on #334
What version of smart_open are you using?

[2019-07-03 08:31] funes79 commented on #334
smart-open==1.8.4

[2019-07-03 08:42] mpenkov commented on #334
Try adjusting the timeout in the botocore [config](https://botocore.amazonaws.com/v1/documentation/api/latest/reference/config.html). To get that into smart_open, create a [boto3 Session](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/session.html) with your config, and pass that as transport_params to smart_open's new open function (see [README](https://github.com/RaRe-Technologies

[2019-07-03 13:01] funes79 commented on #334
The transport_params accepts the session, but not the client. Now what I know is that the Config is applied to a client and not to the session. So I am confused here..

So I create my session and then a client, can I pass the client to the transport_params?
[code]
 's3.ServiceResource' object has no attribute 'resource'

[2019-07-03 13:33] mpenkov commented on #334
In that case, no, it's not possible via transport params with the current code base.

[2019-07-07 14:49] mpenkov commented on #327
Closing as inactive.

[2019-07-07 14:49] #327 closed

[2019-07-07 14:50] mpenkov commented on #328
@cailiang9 Are you able to set the S3 host via other methods?

[2019-07-12 04:16] Jonyorker opened #335 "Help creating a zip from bucket"
Hi,

New to python, and I am having a hard time understanding how I could create a zip file from Bucket/Prefix?

I would use .s3_iter_bucket but after that I'm at a loss as to what to do to create a zip.

Thanks!

[2019-07-12 04:52] mpenkov commented on #335
Sorry, this isn't the appropriate place to ask for such help. Please try somewhere like StackOverflow.

[2019-07-12 04:52] #335 closed

[2019-07-15 13:17] #306 closed

[2019-07-15 15:56] piskvorky commented on #306
@mpenkov did #325 really fix this? It seems unrelated to me.

[2019-07-16 00:56] mpenkov commented on #306
Yes, [here](https://github.com/RaRe-Technologies/smart_open/pull/325/files#diff-6d8b12a1a0fab36149bf68fc0ef770faR146) is the relevant part.

[2019-07-16 01:21] Jonyorker opened #336 "s3_iter_bucket works but open fails "file not found""
I am having some troubles with "open" but "s3_iter_bucket" works well.

When I run the s3_iter_bucket('test-bucket', prefix='test/1/') it works well

however,

for line in open('s3://test-bucket/test/1/file1.iso'):
    print(line)

returns error "file not found"

Why would that be?

[2019-07-16 08:34] piskvorky commented on #336
Full stack trace + log at DEBUG level please.

[2019-07-19 21:49] andrewrobertmadsen opened #338 "Getting error when trying to write .txt file from local fs to webhdfs."
Getting the following error when trying to write a text file from local to webhdfs:
```TypeError: can only concatenate str (not "bytes") to str```

Hoping that I am just doing something wrong. My code is as follows:

[code]

The stack trace for the error is:

[code]

test_file.txt is just an ascii text file. Using python 3.7.

Any guidance that you could provide would be awesome. End use case is c

[2019-07-20 04:11] andrewrobertmadsen commented on #338
Looking at this further, it looks like `init_response.content` on line 131 of webhdfs.py is returning a byte string instead of a string which is causing the error. I changed this to 'init_response.text' and now I am seeing the intended error message. Happy to open a PR to address this issue. Looks like it may occur again on 135 of the same module.

[2019-07-20 08:48] piskvorky commented on #338
Hmm, how come the unit tests pass?

@andrewrobertmadsen a PR will be welcome of course. But let's include a unit test(s), to avoid such regressions in the future: something that fails now, and passes after your PR.

[2019-07-20 16:01] andrewrobertmadsen commented on #338
That’s a good question. I’m guessing the tests pass because it still raises an exception, just not the informative one that was intended. I will have to look first to verify and then I’ll submit a PR. Thanks for looking at this!

[2019-07-25 16:09] rodjunger opened #340 "iter_bucket fails on AWS Lambda when worker threads is not 1"
I did some research before opening this issue so it's more of a "information" kind of issue.
AWS Lambda environments do not support multiprocessing.Queue or multiprocessing.Pool (which is used by smart open) so calling iter_bucket with default arguments results in this exception:

  File "/var/task/handler.py", line 33, in hello
    for data in zs.stream():
  File "/var/task/zipstream/zipstream.py

[2019-07-25 16:40] piskvorky commented on #340
That might work. Which version of Python is needed for `concurrent.futures`?

[2019-07-25 16:45] rodjunger commented on #340
It does work locally, going to test it on lambda in a second. Here's the code i "wrote" (baiscally a copy of the commit i linked with some adaptations) :
`    with concurrent.futures.ThreadPoolExecutor(max_workers=workers) as executor:
        futures = [executor.submit(download_key, key) for key in key_iterator]
        for key_no, future in enumerate(concurrent.futures.as_completed(futures)):

[2019-07-25 16:58] piskvorky commented on #340
`smart_open` supports 2.7 too, so that wouldn't work out-of-the-box. Although we are considering dropping py2 support in our open source projects.

@mpenkov WDYT? According to https://pypistats.org/packages/smart-open , we still get more py2 downloads than py3. But god knows how many of these are bots / noise…

[2019-07-25 17:05] rodjunger commented on #340
Yeah that doesn't seem like a worthy reason to completely drop python 2 support, but there's this: https://pypi.org/project/futures/

[2019-07-26 01:58] mpenkov commented on #340
It sounds like the current smart_open version with default arguments does not work under Lambda **at all**, regardless of the Python version you're using. The fix suggested by @rodjunger improves that situation for Py3.2+ users **only**. As long as nothing changes for Py2.7 users (they continue to see `OSError: [Errno 38] Function not implemented` when using default arguments under Lambda), I thin

[2019-07-26 02:04] #331 closed

[2019-07-26 18:22] rushter opened #341 "Inconsistency with Python API"
When using `r` mode for `builtins.open` function, Python 2 returns binary strings and Python 3 returns decoded strings. Unlike Python's open, `smart_open` will always return decoded strings. Also, the gzip module will alway return byte strings for such mode.

When writing applications for both Python 2 and Python 3, it's very common to use `rt` mode for everything. My muscle memory always types `r

[2019-07-30 21:43] rodjunger commented on #340
@mpenkov Yeah I can do that, I'll submit the PR this week if possible.

[2019-08-05 11:10] bitonp commented on #55
Hiya.. trying to use in an AWS Lambda environment.. and keep getting the 'no module named boto' error. Its imported in smart_open_lib.py on line 39. Is this fixed in a different release? O do I need to carry around a version of boto as well?

[2019-08-05 12:30] mpenkov commented on #55
@bitonp Yes, you need boto installed to use smart_open.

Please ask questions on the mailing list. Github tickets are for bugs and feature requests only (and this particular ticket isn't even relevant to your question).

[2019-08-06 19:34] koshy1123 commented on #334
We've gotten around this by using `resource_kwargs` param within `transport_params` like so:
[code]

[2019-08-06 20:03] funes79 commented on #334
Thanks @koshy1123  as I said unfortunately I can't repeat the error, but thanks for the help, will use this solution.

[2019-08-08 10:48] mirfan899 opened #343 "cannot import name 'open' from 'smart_open'"
Gensim not working properly after updating to the latest version. Getting following error
[code]
I'm using Python 3.7 and Gensim 3.8.0

[2019-08-08 11:40] piskvorky commented on #343
What's your version of `smart_open`?

[2019-08-08 11:43] mirfan899 commented on #343
my bad, after updating the `smart_open` issue is gone. But I think when someone updates the `gensim`, it's dependencies should be updated.

[2019-08-08 12:14] piskvorky commented on #343
Yeah, it should. @mpenkov if we require a specific version of smart_open for Gensim to work, can we pin that in `setup.py`?

[2019-08-08 13:29] mpenkov commented on #343
@piskvorky I will update the pin. It's currently >= 1.7.0, should be >= 1.8.1.

[2019-08-23 23:26] douglasmccormickjr opened #345 "compile issues with pyinstaller"
**Objective:** compile an app (using pyinstaller) that has the smart_open module.

**Issue:** I think the "VERSION" file isn't importing correctly.  Once the app compiles, if you start it in the command line, the error will trigger.

**Error:** Here's the error message I'm seeing when running the app

[code]

**Environment:** Windows 10, Python360564

It looks like someone else ran into this issue

[2019-08-24 08:01] piskvorky commented on #345
Hi Doug, check out https://github.com/RaRe-Technologies/smart_open/pull/344 . Can you try that and report whether it solves your issue?

[2019-08-24 21:45] douglasmccormickjr commented on #345
Hi Piskvorky,

Thank you for the suggestion -- your approach solved it.  It would be great if the main smart_open library used that method of converting the VERSION file into version.py -- I'm thrilled that it's working now.

Have a great day,
-Doug Jr.

[2019-09-08 12:17] indrajeet307 opened #346 "cannot pass custom transport_params to s3_iter_bucket api"
I cannot pass custom transport_params to s3_iter_bucket  api, It defaults to using amazon s3.
I am trying smart_open with a locally deployed minio server, that supports s3 like access.

[2019-09-09 03:34] mpenkov commented on #346
Yes, this is currently not supported. Are you able to make a PR?

[2019-09-09 05:14] shelley-chama commented on #345
I've been confronting with a same problem.
Could you tell me the commands you ran?

[2019-09-10 09:55] mpenkov commented on #343
Done here: https://github.com/RaRe-Technologies/gensim/commit/f2ad5c2d7465e3ee1ee803c8f45faa81ac3f4472#diff-2eeaed663bd0d25b7e608891384b7298

[2019-09-10 09:55] #343 closed

[2019-09-10 15:08] eric-gravyty opened #347 "smart_open cannot be imported from within a zip file"
I'm trying to use smart_open from within an Apache Spark application by sending it to Spark wtihin a zip containing my application's third party dependencies. It works for all the other modules I'm importing, but the [`_get_version`](https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/__init__.py#L33-L36) function in `__init__.py` tries and fails to open the `VERSION` file.

[co

[2019-09-10 16:02] piskvorky commented on #347
Solved by #344, I think. @mpenkov can we finish and merge that PR? It seems to bite quite a few people.

[2019-09-10 20:35] terencezl opened #348 "S3 BufferedInputBase fills buffer during every read"
Here is a question about the purpose of buffering in the Input file class `BufferedInputBase`. Assuming buffer helps small amount of reads, and loads from S3 remote end less frequently than the reads from caller, the current implementation doesn't achieve the purpose.

https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/s3.py#L284

If the request to read is consistently small, t

[2019-09-11 05:59] #345 closed

[2019-09-11 05:59] #347 closed

[2019-09-11 07:17] mpenkov commented on #348
I think we should just fill it to `io.DEFAULT_BUFFER_SIZE` or similar constant, unless `size` is larger. What do you think?

[2019-09-11 08:46] terencezl commented on #348
That should certainly work.

[2019-09-11 10:27] mpenkov commented on #348
Are you able to make a PR?

[2019-09-18 06:03] pederpansen opened #351 "ignoring unsupported keyword arguments: ['version_id']"
Hi,

I'm getting the above error when trying to open a specific file version from S3:

[code]

I'm using the latest release 1.8.4 installed via pip.

[2019-09-18 13:22] mpenkov commented on #351
I cannot reproduce your problem here.

What do you see if you run the code below through a repl?

[code]

[2019-09-18 13:40] pederpansen commented on #351
This is really strange... in IPython, I get the same output as you. From my script, it gives my the above error message. I double-checked, the environment and `smart_open` package versions are identical.

[2019-09-18 13:51] pederpansen commented on #351
I think I found a hint, although it doesn't make much sense to me. If I configure logging in my script, I see the mentioned error.

Here is a minimal example:

[code]

[2019-09-18 13:58] pederpansen commented on #351
I believe the latest version of PyPi is from June 2nd (https://pypi.org/project/smart-open/), is it possible the version functionality was added afterwards and just wasn't released?

[2019-09-19 02:05] mpenkov commented on #351
Ah, you're right, the release notes for 1.8.4 don't mention anything about version_id, so I think that feature is still unreleased at the moment.

We'll do another release soon.

[2019-09-24 16:49] indrajeet307 commented on #346
The changes, I made, in s3.py file
1. Add optional resource_kwargs to iter_bucket api
2. _list_bucket also accepts optional resource_kwargs, and creates a client with or without it.

I tried writing test but moto did not allow sending endpoint_url.
I am getting authentication failed while trying to push commit.

[2019-09-26 03:26] mpenkov commented on #346
You won't be able to push to our repository. That's by design. You need to fork our repository, push the changes to your own fork, and then open a pull request. Then we'll review the PR and merge your changes in.

Here's a guide that describes what you need to do: https://guides.github.com/activities/forking/

Let me know if you're up for it!

[2019-09-26 07:54] fferegrino opened #352 "Release strategy"
Trying not to be annoying here:

Is there a planned release soon? I can't seem to find any docs regarding the release strategy of `smart_open`.

Thanks for the package, and again, I hope not to sound demanding or annoying.

[2019-09-26 08:28] mpenkov commented on #352
Hey @fferegrino, no problem. I'll try to release a new version next week or so, been a bit busy with `gensim` lately.

[2019-09-26 08:31] fferegrino commented on #352
Nice! thank you.

[2019-09-28 12:18] #351 closed

[2019-09-28 12:18] #352 closed

[2019-09-28 12:24] mpenkov commented on #341
Fixed by #342

[2019-09-28 12:24] #341 closed

[2019-09-28 12:27] mpenkov commented on #336
@Jonyorker Could you please provide more info? Otherwise, we cannot help you and will have to close this ticket.

[2019-09-28 12:28] #334 closed

[2019-09-28 13:14] mpenkov commented on #329
@cailiang9 Did this solve your problem?

[2019-09-28 13:15] mpenkov commented on #328
@cailiang9 Ping

[2019-09-28 13:17] mpenkov commented on #275
@piskvorky Do you reckon we can close this?

[2019-09-28 13:18] mpenkov commented on #270
@lambdamusic Did you manage to figure this out?

[2019-09-28 13:21] mpenkov commented on #249
We don't want to do this, by design.

[2019-09-28 13:21] #249 closed

[2019-09-28 14:01] piskvorky commented on #275
Yes, let's close. The monthly bill is fairly small.

[2019-09-28 14:01] #275 closed

[2019-09-30 12:49] JaharshKotha opened #354 "ImportError: cannot import name open"
Trying this library to stream a huge file from s3 line by line

sample code :

'''
from smart_open import open

for line in open('s3://test_bucket/test_folder/test_dump.json'):
    print(repr(line))
    break
'''

[2019-09-30 13:52] piskvorky commented on #354
What version of `smart_open` are you using?

[2019-09-30 15:57] JaharshKotha commented on #354
Version: 1.8.4

[2019-09-30 16:29] piskvorky commented on #354
Yeah, that's the latest. @mpenkov any idea what could be wrong?

[2019-10-01 01:44] mpenkov commented on #354
I cannot reproduce the problem here:

[code]

@JaharshKotha Are you sure about the version? Can you try running the code above, and let me know what the output is?

[2019-10-01 01:51] JaharshKotha commented on #354
Python 2.7.10 (default, Oct  6 2017, 22:29:07)
[GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.31)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "smart_open.py", line 1, in <module>
    from smart_open import opeen
ImportError: cannot import name opeen

[2019-10-01 02:16] mpenkov commented on #354
Well, the function is called `open`, not `opeen`, so there's your problem :)

[2019-10-01 03:26] mpenkov commented on #250
@kmax12 I did some digging, I think you should be able to satisfy your use case with:

[code]

We don't use any Client objects. We use the resource directly. However, the resource objects accept the Config as keyword arguments the same way that Client objects do.

Please let me know if that works for you.

[2019-10-01 03:27] #257 closed

[2019-10-01 04:02] mpenkov commented on #338
@andrewrobertmadsen Ping. Are you able to work on this? Hacktoberfest started today ;)

[2019-10-01 17:11] JaharshKotha commented on #354
I am importing it as from smart_open import opeen

[2019-10-01 19:46] ZlatSic commented on #316
Hi!

I'm new to OSS and am looking to contribute somewhere, mind if I give this a shot?

Just to clarify, the behavior you're looking for is to related to the `__str__` and `__repr__` methods of objects created with the `s3://...` descriptor? Which properties would you like to be shown in the representations? Just the `bucket` and `key` or additionally, some of the other, optional properties?

[2019-10-01 20:08] #354 closed

[2019-10-01 20:09] piskvorky commented on #354
That's incorrect, closing.

[2019-10-02 04:41] Iamshankhadeep commented on #259
@mpenkov can I work on this issue?

[2019-10-02 05:24] mpenkov commented on #259
Yes, please.

[2019-10-02 07:52] Iamshankhadeep commented on #259
@mpenkov  Can you tell me the file I need to edit? I am fairly new on this any help will be appreciated.

[2019-10-04 21:06] topplethepat commented on #287
This worked for me with an audio file:
with smart_open.open(stream_url, 'rb',buffering=0) as f:

[2019-10-06 16:17] lambdamusic commented on #270
Hi sorry no in the end I gave up

----
Michele Pasin
http://www.michelepasin.org

On Sat, 28 Sep 2019 at 09:18, Michael Penkov <notifications@github.com>
wrote:

[2019-10-08 18:19] gilbsgilbs opened #360 "Can't write any bytes-like object to S3"
`open` built-in lets you use `write` method on any object as long as it implements [Buffer Protocol](https://docs.python.org/3.7/c-api/buffer.html#bufferobjects). However, `smart_open` restricts writeable types to only [`bytes`, `bytearray` and `memoryview`](https://github.com/RaRe-Technologies/smart_open/blob/d65819014536c111f66ef30c3f232f77ee115eda/smart_open/s3.py#L547). Is there a specific rea

[2019-10-09 00:51] sachinmukherjee commented on #338
Can I work on this?

[2019-10-09 02:43] mpenkov commented on #338
@sachinmukherjee Sure, go ahead

[2019-10-10 05:26] vuryleo opened #362 "s3 open seek operation try read rest of file into buffer, which makes following read has timeout risk"
[Here](https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/s3.py#L200) makes API call to fetch rest of file into buffer when calling `seek`, which makes `seek` very slow. The API call may be put in `read` method instead.

[2019-10-10 05:36] mpenkov commented on #362
Are you sure that actually reads the file?

[code]

I think in this case, the _body in this case is a file object. Until you actual .read() from it, nothing gets transferred over the wire.

If you have sample code that demonstrates the opposite, I'd be interested in having a look.

[2019-10-10 05:39] vuryleo commented on #362
[Here](https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/s3.py#L144) reads the API call to `get_object` is made, and the bytes are transferred.

[2019-10-10 05:45] vuryleo commented on #362
sample code under work.

[2019-10-10 05:55] vuryleo commented on #362
[code]

[2019-10-10 08:31] mpenkov commented on #362
I think you're misunderstanding how this works.

First, just because you've exited the context manager doesn't mean "S3 is unavailable now".  Try this:

[code]

Second, you can verify that smart_open isn't loading anything into its buffers by slightly modifying your original example:

[code]

Running the above code:

[code]

So, after seeking, you can see that the buffer is empty.

[2019-10-10 08:49] vuryleo commented on #362
Yes, you opened the streams but not read from it yet, but the network traffic is made, s3 server has sent the bytes to client already. s3 server do not have an API that send the bytes individually. Other than exiting mock_s3, you could suspend the network as well.
[code]

[2019-10-10 09:01] mpenkov commented on #362
OK, so what's the actual problem here? Something out there may be doing some buffering, but are you **sure** it reads the full file? Have you tried opening a large file on actual S3 and seeking? On my end, seeking e.g. to the end of a large file is much faster than reading it.

[2019-10-10 09:10] vuryleo commented on #362
I will try that, thanks for help so far.

[2019-10-10 10:24] vuryleo commented on #362
I just upload a large file (s3://oss-playground/big.bin) (~1 GB) to s3 and try to capture the network traffic.

So, the `get_object` call **won't** read the whole file content into memory as a whole directly, but keeps an HTTP streaming connection to s3 server, which has some kind of buffer (~4K). And that's why socket trick does not prevent the `read` because the connection has already created an

[2019-10-11 02:25] mpenkov commented on #362
OK, thank you for investigating.

I think your proposal is OK. We can delay [this block](https://github.com/RaRe-Technologies/smart_open/blob/d65819014536c111f66ef30c3f232f77ee115eda/smart_open/s3.py#L193-L200) until read.

Are you able to make a PR? We can probably make a pre-read callback or something to call that code just before reading happens.

[2019-10-12 00:26] EinKaiser commented on #338
@mpenkov Hi, can I work on this parallely along with @sachinmukherjee  too?

[2019-10-12 06:02] mpenkov commented on #338
@EinKaiser I'd prefer to avoid doubling up on a small ticket like this, so I encourage you to look through the issue list and pick another ticket. There are plenty to go around. Ping me if you can't find anything suitable.

[2019-10-13 08:30] #360 closed

[2019-10-15 15:32] sachinmukherjee commented on #338
@mpenkov How to reproduce this error?

[2019-10-17 04:13] sd1998 commented on #228
@menshikh-iv I would like to work on this.

[2019-10-17 04:39] menshikh-iv commented on #228
@sd1998 feel free to contribute

[2019-10-17 08:00] vryazanov opened #363 "S3 Multipart upload using threads"
Hi there,
It would be great to have an ability to upload chunks to s3 with `ThreadPoolExecutor`, in other words to send each chunk in a separate thread to make uploading faster. This is how we do in my current project. I think it's better to include this functionality to `smart_open`. wdyt? let me know if it's interesting and I'll prepare a pull request.

[2019-10-17 08:42] piskvorky commented on #363
Isn't uploading already I/O bound? How would more threads (more CPU) help?

[2019-10-17 08:58] vryazanov commented on #363
@piskvorky in current implementation if we have 10 chunks to upload , they will be uploaded in a row. but since it's I/O bound operation we could do it in parallel in threads.
summarizing, the problem is that uploading a chunk is a blocking operation.

[2019-10-17 09:05] piskvorky commented on #363
But threads won't help you in I/O bounds operations. They add more CPU, which is not the bottleneck.

I appreciate your offer, but as part of your PR, we'd need to see convincing benchmarks first. Can you post some numbers?

Threads always add a lot of complexity and maintenance and support headache, so unless the gains are obvious, I'm -1 on complicating the code.

[2019-10-17 09:18] vryazanov commented on #363
@piskvorky ok, I got your point. I'll prepare some numbers first

[2019-10-17 10:36] vryazanov commented on #363
Look at https://gist.github.com/vryazanov/10fc4f7790b56560565e13ad45a70e38
I tried to upload 1Gb file from my pc both ways (with and without threads), see results:
[code]

Thread pool gives me up to 30% in speed, but I didn't run a script a dozen of times to see more statistically correct results.

[2019-10-18 01:51] jk5462 opened #364 "Is it possible to stream upload to a same file from multiple machines?"
Hi,

I am attempting to make a program on AWS Lambda that needs to write a new S3 object.

The problem is, the task can take beyond Lambda's current time limit of 15 minute run time. Right now, I am attempting to bypass this issue by invoking another Lambda and continuing the task.

I am aware that S3 does NOT support append operations to the existing objects, so I couldn't solve my problem by sim

[2019-10-18 08:23] jk5462 commented on #364
Wait so.. I simply open an existing S3 object in WB mode, seek to its end, and continue writing data on to it and it will just append to the existing data? instead of overwriting it?

[2019-10-18 08:28] jk5462 commented on #364
Sorry for asking a dumb question. Could I get a sample code of your idea? Quite new to using boto3 and smart_open

[2019-10-18 18:04] jk5462 commented on #364
@mpenkov Hey, I was looking through the code and noticed this.

`if mode == READ_BINARY:
        fileobj = SeekableBufferedInputBase(
            bucket_id,
            key_id,
            version_id=version_id,
            buffer_size=buffer_size,
            session=session,
            resource_kwargs=resource_kwargs,
        )
    elif mode == WRITE_BINARY:
        fileobj = BufferedOutputBase

[2019-10-19 07:58] mpenkov commented on #364
Oh, I see. If we don't support seeking on the write stream, then yes, you cannot append.

Is seeking and writing to S3 possible in theory? I can't think of a reason why it wouldn't be.

[2019-10-19 08:17] piskvorky commented on #364
AFAIK, the only way to stream to S3 is using multipart uploads (which smart_open already does).

[2019-10-25 12:24] dilzeem opened #366 "s3_iter_bucket for non default profile_name"
Hi,

I am trying to use s3_iter_bucket with the non default profile name.

Currently when I try to do it, I get a 403 Error.

[code]

[2019-10-25 13:12] mpenkov commented on #366
Please show the full exception with the stack trace.

[2019-10-25 13:22] piskvorky commented on #366
+ your `smart_open` version.

@mpenkov how about adding an issue template, similar to the one we have in gensim?

[2019-10-25 13:59] dilzeem commented on #366
I am using smart_open version 1.8.4
Windows 10 OS

This is what I get when I do `next(s3bucket_objs)`:

[code]

[2019-10-26 07:22] mpenkov opened #367 "Add issue template"

[2019-10-28 05:15] wadleo commented on #338
@sachinmukherjee are you still working on this? If not, I can pick it up.

[2019-10-28 05:39] sachinmukherjee commented on #338
@wadleo I got struck in reproducing the error. You can take this up.

[2019-10-29 01:46] derpferd commented on #340
@mpenkov Assumed that since you marked this as Hackoberfest and @rodjunger hasn't respond that this needed work. I submitted a PR for the work @rodjunger said they were going to do.
Let me know what you think.

[2019-10-30 22:59] ELind77 opened #371 "BufferedInputBase readline reading buffer twice"
Hi,

`BufferedInputBase` may run through the buffer multiple times while running `readline`:

https://github.com/RaRe-Technologies/smart_open/blob/1770807b0c8da2a34f749afa17ff70a715bc85de/smart_open/s3.py#L307-L315

I think we can remove this inefficiency if we use `find` instead of `index`.  E.g.:

[code]

Does this make sense or am I missing something?

-- Eric

[2019-10-31 02:49] mpenkov commented on #371
Thank you for raising this.

I'm not sure I'm seeing the same problem as you are. The code you posted does the following:

- read stuff into a temproary buffer using `peek`
- call `index` will find the first occurrence of a newline
- read up to and including the newline
- return

This sounds like intended behavior to me. What am I missing?

Could you write a unit test that demonstrates it?

[2019-10-31 18:35] ELind77 commented on #371
It's not a bug, just an inefficiency.  The comment in the code excerpt I posted calls it out specifically:

The call to `__contains__` is going to iterate over every element in the buffer until EOL or the end of the buffer and if EOL is found `index` will iterate over all of the same elements again.  Even though these are built-ins, it's still a performance hit, especially for large buffers.  Usin

[2019-11-01 01:13] mpenkov commented on #371
Oh, I see. Thank you for your explanation.

Are you able to make a PR? My preference would be to extract that logic into a separate function, e.g. `_read_next_line`.

[2019-11-03 06:04] mpenkov opened #374 "Make mpenkov a maintainer for the repository"
My status is still "Collaborator", so I can't edit PRs.

[2019-11-03 06:22] mpenkov commented on #316
Closed via #359

[2019-11-03 06:22] #316 closed

[2019-11-03 06:24] #363 closed

[2019-11-03 06:27] #328 closed

[2019-11-03 06:28] #336 closed

[2019-11-03 06:32] #329 closed

[2019-11-03 06:33] mpenkov commented on #346
Duplicates #259

[2019-11-03 07:50] piskvorky commented on #374
Done!

[2019-11-03 07:50] #374 closed

[2019-11-04 06:29] #367 closed

[2019-11-04 09:43] piskvorky opened #375 "Move the "1.8.1 migration guide" to a separate document"
Right now, the detailed migration instructions are in the [top-level README](https://github.com/RaRe-Technologies/smart_open#migrating-to-the-new-open-function). This looks scary to newcomers scanning the README for the first time (what? i have to worry about compatibility issues?), and misplaced for existing `smart_open` users (who I don't think would ever look to README for such info).

And in b

[2019-11-04 11:46] mpenkov opened #376 "S3 integration tests not cleaning up after themselves"
We have a ton of S3 buckets under our account. They don't contain much data, but they eat up our quota (we're unable to create more than a certain number). We should work out why the tests are leaving these buckets in place as opposed to removing them after test completion.

[2019-11-04 12:02] piskvorky commented on #376
Oh dear. Which bucket / account is that? I'll check the S3 bill.

[2019-11-04 12:03] piskvorky commented on #376
AWS bill is still minimal, no problem there :+1:

[2019-11-05 06:53] mpenkov commented on #376
Yeah, we pay for the volume of storage, not the number of buckets, so it's not a big deal cost-wise. Just a PITA.

[2019-11-06 03:52] vuryleo opened #378 "open can not open s3url which key value contains ':@'"
Reproduce code:
[code]

Expected result:
[code]
Reality:
[code]

There should be at least someway to access `'s3://oss-playground/:@'`

[2019-11-06 06:00] mpenkov commented on #378
Thanks for reporting this. Sounds like a bug in the [parser](https://github.com/RaRe-Technologies/smart_open/blob/fc83b92df0bc7f0c83ee90151f0a70a7bf74f30d/smart_open/smart_open_lib.py#L763). Are you able to debug and make a PR?

[2019-11-06 06:15] vuryleo commented on #378
I would think it's a design decision. If you wish to support something like credentials in URL, you may need to support url-encoded URL. So, the bucket/key part need to be URL-encoded.

For example,

`s3://user/name:pass/word@buc:ket/ke@y`

needs to be encoded as

`s3://user/name:pass/word@buc%3Aket/ke%40y`

It's a breaking change for user used to use

`s3://bucket/100%25`

to access

`s3://bucket

[2019-11-06 06:17] vuryleo commented on #378
FYI:
[code]
works.
[code]
does not.

[2019-11-07 09:08] vuryleo commented on #378
So, what do you think? URL-encode? or drop username/password/host/port via URL?

[2019-11-07 09:25] mpenkov commented on #378
I think URL-encoding is the way to go.

The Amazon CLI allows `@` in URL paths, but that [breaks the RFC](https://tools.ietf.org/html/rfc3986), so we shouldn't be following their example. Could you please confirm whether this reasoning is true?

[2019-11-07 16:01] mrk-its commented on #378
I agree - percent encoding to conform RFC is the way to go.
Also - what about dropping support for host/port in S3 URLs (endpoint_url may be still provided in transport_params)? It seems this is rarely used feature and these URLs also break RFC rules (like two @ characters in url). Parsing will be much easier without that (parse.urlsplit will be enough).

[2019-11-07 18:09] ivanhigueram opened #380 "Upload big io.Buffer to S3"
#### Problem description

I am requesting a set of files, zipping them, and then upload the zipped data to S3 using `smart_open` and a `io.BytesIO()` object. The size of the compressed data exceeds the 5 Gb S3 limit, and I know that in that case a multi-parts approach should be use (just like in `boto3`). I am using `smart_open.s3.open()` for doing this, but I do not completely understand how to c

[2019-11-07 21:05] canada11 commented on #338
I'm having a similar issue which I think is related.

smart_open 1.9.0
python 3.6

Code:
[code]
Stacktrace:
[code]

Just putting this here as an FYI, since the bug is still open and I think they might be related

[2019-11-07 21:30] vmaksimenko opened #381 "s3 multpart upload doesn't complete correctly"
#### Problem description
in the heavily concurrent environment, it was noticed that our process leaves a lot of noncompleted multipart uploads and some files are missing without an exception generated.
I reviewed the smart_open code and see that there is no respond check in the close call.
However, documentation https://docs.aws.amazon.com/AmazonS3/latest/API/API_CompleteMultipartUpload.html.
that

[2019-11-07 23:08] canada11 commented on #338
Yeah, same issue, I dug into it and made the changes that Andrew made and they helped. I made a pull request. [#382 ](https://github.com/RaRe-Technologies/smart_open/pull/382)

[2019-11-08 00:28] mrk-its commented on #338
@canada11 ups, we duplicated work a bit :) While testing I've found & fixed few other issues, take a look on description of my PR.

[2019-11-08 15:22] canada11 commented on #338
Awesome, yours looks better. I'll close mine so that just your pull gets merged.

[2019-11-09 02:34] mpenkov commented on #381
Thank you for reporting this problem. Are you able to make a PR?

[2019-11-09 02:41] mpenkov commented on #380
Thanks for reporting this.

Could you simplify the example a bit? It's too long and requires external data (wind_2012_test_parts.zip).

From your description of the problem, it sounds like the following should reproduce your problem:

[code]

Can you confirm whether the above reproduces your problem? If not, let's look into reducing your original example, it's a bit too much for me to look at.

[2019-11-09 02:45] mpenkov opened #385 "Drop support for host/port in S3 URLs"
What about dropping support for host/port in S3 URLs (endpoint_url may be still provided in transport_params)? It seems this is rarely used feature and these URLs also break RFC rules (like two @ characters in url). Parsing will be much easier without that (parse.urlsplit will be enough).

_Originally posted by @mrk-its in https://github.com/RaRe-Technologies/smart_open/issues/378#issuecomment-551

[2019-11-09 08:06] piskvorky commented on #385
I never used that functionality, so no preference either way. Clean and consistent is my general preference – or we'll drown in corner cases.

[2019-11-09 12:18] mpenkov opened #386 "Switch test runner to pytest"
It is because I'm using py.test everywhere, it is able to generate great debug info from regular assert calls (BTW I strongly recommend as unit test runner here too, it should be able to run current tests). But for now I of course change it.

_Originally posted by @mrk-its in https://github.com/RaRe-Technologies/smart_open/pull/383_

[2019-11-10 03:24] #338 closed

[2019-11-11 08:05] #375 closed

[2019-11-11 13:24] petedannemann commented on #198
I am working on adding GCS support and wanted to ask a question before I get too deep into the code. I can create a new issue and repost the question there if this is the wrong place to ask it.

Will future smart-open releases support Python 2.7?

[2019-11-11 23:33] canada11 opened #388 "WebHDFS readline() for single line not working"
The read() function in webhdfs.py doen't handle a certain case:
[code]

When I used readline(), the code goes through the read() function and looking at it, my size was larger than the buffer. This caused the retval to never get set, so later on line ~93, retval is used but never set.

Output:
[code]

Versions:
Python 3.6
smart_open 1.9

[2019-11-12 00:18] mpenkov commented on #198
I don't think so. There is little value of spending effort supporting a language that even the language creators no longer support ([Py2.7 end of life is Jan 1 2020](https://pythonclock.org/)).

That said, the library doesn't depend on the Python version _that_ much, so the effort of maintaining support for 2.7 is probably much less than for e.g. gensim.

Why do you ask?

[2019-11-12 00:19] mpenkov commented on #388
Good catch. Are you able to make a PR?

[2019-11-12 00:25] canada11 commented on #388
I don't know what the fix would be without digging in more, and at the moment I can't dig in more to find the fix. Someone can probably compare the read() of other classes and fix it. I tried that but the read() functions weren't all the same, so I couldn't compare them easily.

[2019-11-12 19:16] vmaksimenko commented on #381
Hi Michael,

What details do you need?
I am wroking for Samsung Knox B2B analytics team as a big data system
architect Vancouver Canada.

Valery

On Fri., Nov. 8, 2019, 6:34 p.m. Michael Penkov, <notifications@github.com>
wrote:

[2019-11-12 19:24] vmaksimenko commented on #381
Michael,

More I am researching this issue more I think it might be not smart open
problem but boto client itself. I see smart open uses multipart uploading
interface that boto client has. Those calls handle error error responds and
rise exeptions accordently. It is could be that aws api service calls
within our account scope got overloaded and doesnt return any respond event
an error one. I think

[2019-11-12 23:00] petedannemann commented on #198
GCS support will just require a substantial amount of code to be added (similar to the amount of S3) and I wasn't sure how much I should focus on backwards compatibility. We can revisit this once I've actually completed the code and submitted a PR.

[2019-11-13 00:33] mpenkov commented on #198
In general, aim for Py3. It's unlikely you'll finish this before the end of the year, and Py2 will be gone by then.

[2019-11-13 00:35] mpenkov commented on #381
By "PR", I meant ["pull request" on github](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests): if there is a bug or deficiency on the smart_open side, are you able to fix it yourself and contribute to our project?

[2019-11-13 11:50] miraculixx commented on #228
I am interested in this too, what is the canonical way to extend `smart_open` with a new scheme/backend?

[2019-11-13 17:11] vmaksimenko commented on #381
Hi Michael,

this was funny I think I was working to much these days. We  are looking to
resolve this issue in case we find a solution I will do it if it is a part
of the smart open.

Valery

On Tue., Nov. 12, 2019, 4:35 p.m. Michael Penkov, <notifications@github.com>
wrote:

[2019-11-14 17:25] lucastamoios opened #390 "S3 readline doesn't accept other line terminator than `\n`"
#### Problem description

When trying to read from a file with newlines `\r` the `s3.readline` method doesn't work correctly. The correct behavior would be having in the interface a way to set the line terminator to be universal, like described in the [PEP 0278](https://www.python.org/dev/peps/pep-0278/).

When we try to open a file with `\r` as line break we get the error:

    Error: new-line ch

[2019-11-15 02:59] mpenkov commented on #390
Thank you for reporting this.

Can you show how you're opening the file? The error you reported (new-line character seen in unquoted field) suggests some sort of CSV reading.

[2019-11-18 13:56] lucastamoios commented on #390
I am using this:
[code]

[2019-11-18 15:36] mpenkov commented on #390
It's not possible for me to reproduce your problem without seeing what you're doing in the `iterate_over_stream` function.

I've tried to reproduce it here, and failed:

[code]

[2019-11-24 10:06] #362 closed

[2019-11-25 05:56] NumberVII opened #391 "Is that posiible to remove boto dependency?"
Boto is quite large and no longer provided in AWS lambda env. Any plan to remove that?

[2019-11-25 08:34] piskvorky commented on #391
Possibly. Can you prepare a PR?

[2019-11-26 05:35] acarapetis opened #392 "Provide public API to get version id after writing to S3"
#### Problem description

I'm using smart_open to stream large file uploads to S3, for which it works beautifully; but I've run into a bit of an inconvenience: I'm using S3 versioning, and after uploading an object I'd like to know its version_id. This is currently possible, but (as far as I can tell) only by using undocumented internals:

[code]

It'd be great if there was a documented public API

[2019-11-26 20:20] kenahoo opened #393 "ResourceWarning: unclosed file"
#### Problem description

I'm seeing a `ResourceWarning: unclosed file` warning when using context managers to open files/streams with `smart_open`.

**Note**: if I don't run under `unittest`, or if I don't `gzip` the file, resources seem to be closed correctly.  I'm guessing `unittest` and `smart_open` are somehow not coordinating correctly on closing the layers.

#### Steps/code to reproduce the

[2019-11-26 20:58] kenahoo commented on #393
I should add - I'm not sure whether the warning is correct and the filehandle isn't being closed properly, or it's a spurious warning.

[2019-11-30 05:54] yunjiangster opened #394 "inconsistent with bz2.open on files containing vertical tab ^K"
#### Problem description

Be sure your description clearly answers the following questions:

- What are you trying to achieve?
Trying to use smart_open to replace bz2.open
- What is the expected result?
same behavior as bz2.open wrt recognizing line breaks
- What are you seeing instead?
a long line got truncated due to the presence of non-line break symbol ^K

#### Steps/code to reproduce the prob

[2019-11-30 05:59] yunjiangster commented on #394
Tried with 1.9.0 as well and same problem.

with smart_open.smart_open('debug.tsv.bz2', mode='r') as f:
...     tmp = f.readline().strip('\r\n').split('\t')

444

with smart_open.smart_open('debug.tsv', mode='r') as f:
...     tmp = f.readline().strip('\r\n').split('\t')

852

with open('debug.tsv', mode='r') as f:
...     tmp = f.readline().strip('\r\n').split('\t')

852

with bz2.open('debug.tsv

[2019-11-30 10:09] piskvorky commented on #394
Why are you opening binary files in text mode (`mode='r'`)?

[2019-11-30 11:06] mpenkov commented on #394
I think this is a duplicate of https://github.com/RaRe-Technologies/smart_open/issues/269

[2019-11-30 17:46] yunjiangster commented on #394
Two different examples. The input contains special tokens so I quoted an excerpt of the binary representation.

[2019-11-30 17:47] yunjiangster commented on #394
I think the culprit here is the vertical tab character \x0b. Not sure why it gets confused with the line return character.

[2019-11-30 17:54] piskvorky commented on #394
Please post a fully reproducible example.

[2019-12-01 19:32] wordtracker commented on #269
I just got bit by this as well. smart_open reads a /u2028 character fine off a text file however as soon as that same file with the same contents is compressed, the lines get split up (because /u2028 is unicode for newline. Wouldn't correct default behaviour be to mimic open of the text file for consistency?

[2019-12-01 20:38] wordtracker commented on #269
I'm wondering if there is a way to bypass the issue with something like this:
`
file_contents = fh.read().replace('\u2028',' ')
`

I've looked through the source but can't find a good place to try this out. Any ideas?

[2019-12-03 01:05] gojomo opened #396 "doctools.py throws error when executing python with -OO optimization level"
See report misdirected against gensim for full details:

https://github.com/RaRe-Technologies/gensim/issues/2680

(`extract_kwargs()` shouldn't count on a docstring being present to be parsed, because `-OO` pre-strips even docstrings that were in original source.)

[2019-12-04 05:40] kenahoo commented on #393
Hi, any thoughts on this?

[2019-12-04 08:39] piskvorky commented on #393
@kenahoo thanks for the clear and detailed report. I agree context managers should be closing handles, so that looks like a bug.

 @mpenkov is busy ATM – any chance you could take a stab at this yourself?

[2019-12-06 01:20] reece opened #397 "Feature Request: Support `-` for stdin and stdout"
#### Problem description

It is common in Unix environments to use `-` to mean stdin or stdout (depending on context). The hyphen convention is supported by the Python [fileinput](https://docs.python.org/3.7/library/fileinput.html) library.

smart_open does not support this convention.

#### Steps/code to reproduce the problem

[code]

#### Versions

[code]

[2019-12-06 05:11] piskvorky commented on #397
Smart_open mimics the built-in `open()`, which doesn't recognize `-` as a special filename. It will treat `-` as a file with the literal filename `-`, and so will smart_open.

In Python, you use Unix stdin/stdout via `sys.stdin` / `sys.stdout`, which are already opened streams.

[2019-12-06 05:11] #397 closed

[2019-12-06 05:16] reece commented on #397
I understand the cause fully.

This was a feature request to support a common convention that is in keeping with the spirit of smart_open to abstract the many ways that people refer to files and streams.

Thanks for your reconsideration.

[2019-12-06 07:34] mpenkov commented on #397
I think treating hyphen as stdout (or stdin, depending on the context) is a common convention, but only in command-line applications.

smart_open is a **library** (as opposed to a command-line application), so I think conforming to the above convention does not make sense in our case.

[2019-12-08 06:16] mpenkov opened #398 "improve timeout handling"
#### Problem description

Be sure your description clearly answers the following questions:

- What are you trying to achieve?
- What is the expected result?
- What are you seeing instead?

When iterating through a large file, it's possible that botocore will raise a timeout error. Currently, this terminates the read entirely, and you have to start again from the beginning of the file. The trace l

[2019-12-08 18:44] goodside opened #399 "Feature request: Supply parameters to registered compression handlers"
Currently, when a compression handler is registered via `register_compressor('.ext', _handle_ext)`, the function `_handle_ext` is passed only two arguments, `file_obj` and `mode`. Many compressors support additional parameters that can greatly affect their behavior. For example, Zstandard supports setting compression levels (trading between speed and compression ratio), setting the number of threa

[2019-12-10 18:13] kenahoo commented on #393
Hi @piskvorky - I'm afraid I probably won't be able to tackle this, mostly because I had a look at the guts of `smart_open` and I think I'm not up to the task at this point, but also because this is coming up in my "day job" and the deadlines are pretty tight, so I'm not able to commit the necessary time, at least in the short term.

[2020-01-03 19:44] georgeflanagin opened #403 "Expanded schemes and filetype registrations"
#### Problem description

University of Richmond is a Linux/Python/Oracle shop, with MicroStrategy as the data warehouse. Our staff have written an ETL system entirely in Python 3, and that makes us an obvious consumer of `smart_open`. The ETL system executes a few more than 1000 integrations per day, and is considered Tier 1 business software. My impressions of the `smart_open` package are unifor

[2020-01-04 04:27] mpenkov commented on #403
Hi George,

Thank you for your interest in the smart_open library. The below is my personal opinion. @piskvorky , please let us know what you think about this, too.

I think adding the additional schemes would be a great idea. BTW, AFAIK https reading works now, but writing doesn't.

I'm not so sure about the other functionality: additional file types and file type diagnosis. I think this sort of

[2020-01-04 21:31] georgeflanagin commented on #403
I should have made it clear by an italic or something that with https, I meant to have emphasis on the *write*.

What you said sounds fine to me. When I get back to my office on Monday, I will suggest that we proceed as you described. We use the magic package currently; I see that one of the goals may be to have as few entanglements with other packages as possible/practical. My vision is warped by

[2020-01-05 06:01] mpenkov commented on #403
Yes, that's exactly right. The tradeoffs when building a product and a library are different. That said, we can probably find significant common ground. For example, I'm not opposed to using `~/.ssh/config` for the `ssh` submodule. The existing library we use for SSH (paramiko) probably has support for interpreting that config file already.

[2020-01-05 20:45] georgeflanagin commented on #403
paramiko definitely has that capability, and we use it now.

[2020-01-08 07:49] mpenkov commented on #399
Isn't it simpler to do something like this instead?

[code]

[2020-01-08 08:55] mpenkov commented on #244
@navado How are you disabling the underlying internet connection?

I tried to simulate it by turning off my WiFi, and botocore barfed tracebacks all over my console. Those tracebacks are entirely inside botocore and its version of urllib3, so I'm not sure what we can do about them.

[2020-01-08 12:32] #396 closed

[2020-01-08 14:18] navado commented on #244
@mpenkov for example if connected with a cable and then disconnect the cable during transfer. same with mobile roaming and signal loss

[2020-01-09 18:08] kenahoo opened #407 "Behavior of file:// URLs with two slashes"
#### Problem description

I'm trying to intercept `file:` URL-based paths so that I can auto-create the given directory (or die saying it doesn't exist) at the beginning of my program, rather than dying an hour later when the results are written using `smart_open.open(url, 'w')`.

If the user specifies a URL like `file://foo/bar`, there seems to be an inconsistency between how `urllib` and `smart_

[2020-01-12 09:17] mpenkov opened #409 "Remove boto entirely"
We don't really need `boto`, IMHO. It's entirely separate to `boto3`.

Let's remove it in a separate PR.

_Originally posted by @mpenkov in https://github.com/RaRe-Technologies/smart_open/pull/408/review_comment/create_

[2020-01-22 02:16] yanickc commented on #270
Might it be related to: https://bugs.python.org/issue33725

I was having messages like this:
[code]

doing:
[code]

before execution was a workaround for me.

[2020-01-22 14:05] menshikh-iv opened #410 "Support for S3 "requester-pays" buckets"
**Problem:**
I trying to open file `s3://arxiv/pdf/arXiv_pdf_manifest.xml` but get `AccessDenied` error.

This happens because of `arxiv` bucket is https://docs.aws.amazon.com/AmazonS3/latest/dev/RequesterPaysBuckets.html.

The idea is simple: you should pay for any queries to this bucket (not bucket owner). For this reason, in tools like `awscli` or `s3cmd`  authors add `--request-payer ` flag th

[2020-01-24 15:29] rwedge commented on #250
@mpenkov that approach worked for me, thanks!

[2020-01-30 03:54] #250 closed

[2020-01-30 04:00] #410 closed

[2020-01-31 05:33] petedannemann commented on #198
Can we close this?

[2020-01-31 09:50] mpenkov commented on #198
Yes, thank you for following up.

[2020-01-31 09:50] #198 closed

[2020-02-02 14:16] qiuwei opened #416 "[Question] Is it possible to disable https certificate validation?"
#### Problem description

I use minio (https://min.io) to self-host an s3 compatible object storage. The service uses a self signed certificate. Accessing objects using smart open gives
[code]

I am wondering whether I could disable the certificate validation.

- What are you trying to achieve?
Accessing self-hosted s3-compatible object storage with a self-signed certificate.
- What is the expecte

[2020-02-02 15:24] piskvorky commented on #416
Please include a full reproducible example.

[2020-02-02 20:53] goodside commented on #399
I was trying to make it possible to `open()` zstd files as effortlessly as gzip/bz2, so as to have code that accepts arbitrary path strings and doesn’t need to check the extension to decide how to read/write. But I see the logic that if you need do anything that requires parameters you should just do compression yourself explicitly and write the binary stream. Feel free to close if nobody else thi

[2020-02-03 00:20] #399 closed

[2020-02-07 19:54] mirkogrcic opened #417 "GCS Writing multiple times does not work"
#### Problem description
When I open a GCS bucket object and write multiple times only the data of the first write is stored in the object
The logs must show that it uploaded multiple parts (2+) like this `INFO:smart_open.gcs:uploading part #2`

Be sure your description clearly answers the following questions:

- What are you trying to achieve?
Upload a 1 MB file to a google bucket object

- What

[2020-02-10 13:39] petedannemann commented on #417
Thanks for reporting this. It looks like I made some mistakes with the multipart uploading that I'll try to fix this week.

[2020-02-10 14:44] mirkogrcic commented on #417
Thank you very much, very much appreciated.

[2020-02-11 11:32] subivasudev opened #418 "TypeError: initiate_multipart_upload() got an unexpected keyword argument"
#### Problem description

I am trying to write info to aws s3
 File "/xx/xx/xx-xx/xx/xx/python3.6/site-packages/smart_open/smart_open_lib.py", line 162, in smart_open
    return S3OpenWrite(key, **kw)
  File "/xx/xx/xx-xx/xx/lib64/python3.6/site-packages/smart_open/smart_open_lib.py", line 641, in __init__
    self.mp = self.outkey.bucket.initiate_multipart_upload(self.outkey, **kw)
TypeError: ini

[2020-02-14 06:27] mohithg commented on #228
Is there any progress on this?

[2020-02-17 14:58] gdmachado opened #422 "GCS decompressive transcoding not supported when reading"
#### Problem description

Using `smart_open` (**unreleased version with GCS support**) to download files from GCS with transparent [decompressive transcoding](https://cloud.google.com/storage/docs/transcoding) enabled *may* lead to incomplete files being downloaded depending on the compressed file size.

With Google Cloud Storage there is the option to store gzip-compressed files & use decompressi

[2020-02-17 15:22] petedannemann commented on #422
Thanks for reporting this and providing clear descriptions and solutions! Your possible solution seems like a good start, but how will we be able handle compression formats other than gzip? Could we just switch `raw_download=True` for everything or create a transport_param to toggle raw_download? Is there a case when someone would want to not read a raw download of a compressed file?

I think we w

[2020-02-20 03:12] yongyct opened #423 "gs URI scheme not supported"
#### Problem description
- What are you trying to achieve?
Trying to use this with GCS objects for streaming the latter
- What is the expected result?
GCS object to be opened normally as per README
- What are you seeing instead?
Got: `NotImplementedError: unknown URI scheme 'gs' in 'gs://...`

#### Steps/code to reproduce the problem
##### My Code
[code]
##### My Traceback
[code]

#### Versions
1.

[2020-02-20 08:22] piskvorky commented on #423
CC @petedannemann is this expected?

[2020-02-20 13:00] petedannemann commented on #423
@yongyct GCS has not yet been officially released and is not yet on Pypi. If you want to use GCS functionality please pip install from github:
[code]

[2020-02-26 14:10] thoroc opened #424 "expected output of write() method"
#### Problem description

I was expecting a returned value for the write() method when testing with a local filesystem, as I would using open() from the standard lib. It was raised before (see: https://github.com/RaRe-Technologies/smart_open/issues/231), but my test are showing otherwise.

#### Steps/code to reproduce the problem

Run the following script. It contains writing using pathlib, the re

[2020-02-28 13:31] PrzemekPobrotyn commented on #423
@petedannemann hi, when can we expect a new pypi release?

[2020-02-28 14:10] piskvorky commented on #423
CC @mpenkov .

[2020-03-06 16:59] gfournier opened #425 "Add a generic way to call smart_open API to allow change of storage without changing code"
#### Problem description

New feature / new way to call the smart_open API.
We can contribute the development if idea accepted.

- What are you trying to achieve?
Write a generic code and just change one variable to switch between S3 storage / FileStorage ...

- What is the expected result?
Example:
[code]

So changing the backend at the beginning of the code would change the behaviour everywhere

[2020-03-08 07:51] mpenkov commented on #425
Interesting idea. You're putting the config inside the context manager as opposed to the `open` call.

When would someone use something like this? Can you think of a real-life use-case?

There is already this possibility:

[code]

which seems to achieve approximately the same thing, a little less elegantly, but with no changes to the codebase.

[2020-03-08 07:54] mpenkov commented on #424
Thank you for creating such a well-documented issue. Are you able to make a PR?

[2020-03-08 08:00] mpenkov commented on #418
1.4.0 is a very old version.

Can you please try to reproduce with 1.9.0? Also, please include code that reproduces your problem.

[2020-03-09 01:05] mpenkov commented on #366
I cannot reproduce this with 1.9.0. Could you please try with that version? @dilzeem

[2020-03-09 03:23] mpenkov opened #428 "Drop Py2 support in the next major version"

[2020-03-09 14:19] gfournier commented on #425
Yes we thought about that idea.
But we want to write:
[code]

So that the code is not bound with the backend itself (not part of the URI) and change (by config) the context of the open operation.

If it's with S3 it will add the connection parameters and the `s3://bucket` prefix, if it's a file it will add the `file://` prefix, etc...

Some real-life use case (for us):
* change the backend for uni

[2020-03-09 23:19] petedannemann commented on #422
I misunderstood, other compression formats would not have this problem as they are not transparently decompressed by Google. It looks like the `raw_download` method on `Blob.download_as_string` has been [removed in the latest version of google-cloud-python](https://google-cloud-python.readthedocs.io/en/0.32.0/storage/blobs.html#google.cloud.storage.blob.Blob.download_as_string) so I'm not sure we

[2020-03-09 23:55] petedannemann opened #429 "gcs support encryption keys"
#### Problem description

Allow encrypting/decrypting file contents for Google Cloud Storage (GCS)

Create an additional parameter, `encryption_key` to `smart_open.gcs.open` that takes in an encryption key to use when uploading or downloading a file. This simply gets passed to the underlying `google.cloud.storage.blob.Blob` [constructor](https://google-cloud-python.readthedocs.io/en/0.32.0/storage

[2020-03-10 09:04] mpenkov commented on #422
It'd be good if we can avoid adding more options. Can you think of a logical way to handle this?

Why don't we just perform all the compression/decompression on our side?

[2020-03-10 09:07] mpenkov commented on #425
Sounds like something that's a bit too narrow in scope for our library.

In theory, you could implement the backends thing entirely outside of smart_open, right?

[2020-03-10 12:36] petedannemann commented on #422
Ok @gdmachado's suggestion is probably what we want to do then. If `Blob.content_encoding == 'gzip' and file_extension != '.gz'` then we save state so smart_open knows the file was transcoded to gzip and download the raw compressed data which will have a size true to `Blob.size`. I think `smart_open.gcs.SeekableBufferedInputBase.read` will have to use this state to know to decompress the data befo

[2020-03-10 22:09] gfournier commented on #425
Ok understood, we can implement it outside of smart_open.
We let you know when we release this adapter on top. of smart_open.

[2020-03-11 00:20] mpenkov commented on #425
Yes, please do. I'd like to take a look at it when it's ready.

[2020-03-11 00:20] #425 closed

[2020-03-11 03:17] mpenkov commented on #259
Closed via https://github.com/RaRe-Technologies/smart_open/pull/372

[2020-03-11 03:17] #259 closed

[2020-03-11 05:12] mpenkov commented on #340
Closed via #368

[2020-03-11 05:12] #340 closed

[2020-03-14 06:15] mpenkov opened #432 "Investigate s3 buffering"
It's possible boto3 does its own buffering, and we may be able to simplify our implementation.

_Originally posted by @mpenkov in https://github.com/RaRe-Technologies/smart_open/pull/427#issuecomment-597440686_

[2020-03-15 05:35] #348 closed

[2020-03-15 05:37] #371 closed

[2020-03-15 06:59] mpenkov commented on #366
We will release a new version soon that resolves the problem. For now, you can do this with the current master:

[code]

[2020-03-15 06:59] #366 closed

[2020-03-15 09:27] mpenkov commented on #381
@vmaksimenko Did you end up making any progress on the problem?

I did some digging, and found out that the multipart upload `complete()` function [_always_ returns the created S3 object in Python](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.MultipartUpload.complete). If there was any sort of error, it raises an exception, which will propagate to the user.

[2020-03-15 09:27] #381 closed

[2020-03-16 00:20] #244 closed

[2020-03-16 03:46] #388 closed

[2020-03-16 04:59] #417 closed

[2020-03-16 08:13] abigcarrot opened #435 "Maybe i need a new version"
Because we work in an environment where the network is not very stable, we especially hope to use the version containing #389. Can we plan to release a new version? Thanks

[2020-03-16 10:27] nclsmitchell commented on #228
I am interesting to develop this feature, I will open a new PR when finished

[2020-03-16 13:15] petedannemann commented on #423
@mpenkov can we close this?

[2020-03-16 13:39] #423 closed

[2020-03-17 03:02] mpenkov commented on #423
Yes, I think closing this is appropriate.

[2020-03-17 04:48] mpenkov commented on #435
Please see version 1.10.0 https://pypi.org/project/smart-open/

[2020-03-17 04:48] #435 closed

[2020-03-17 13:53] abigcarrot commented on #435
thanks

[2020-03-19 21:56] vmaksimenko commented on #381
Hi Michael,
Thank you for the update, I was not able to solve it within a reasonable
time. We are using a workaround, save files in temporary space and then
transfer it file by file when processing is finished.
However it caused us another problem that in lambda temp space is limited
by 512MB and the smart_open buffering approach is preferred here.
I also learned that lambda has another limit only

[2020-03-21 04:14] mpenkov commented on #381
What is the output of your script? In particular, what exceptions do you end up encountering? Seeing some stack traces would be helpful.

Also, I think you need to do better exception handling. One thing I would do is:

[code]

For the specific handling, there are several ideas:

- Try closing the file again
- Try completing the multipart upload yourself
- Add sleep statements to throttle your req

[2020-03-22 17:11] dargueta opened #440 "Feature Request: Add plugin support to enable new protocols"
#### Problem description

I was thinking maybe we could provide a plugin system so that people can build their own packages and provide support for other file systems/protocols, (e.g. `dropbox://` to access a file on Dropbox) _without_ having to put all of them in `smart_open()` and make it a heavyweight package. For example, one could implement https://github.com/RaRe-Technologies/smart_open/issu

[2020-03-22 17:51] piskvorky commented on #440
Interesting idea, thanks.

I also like the badge in your link :) @mpenkov WDYT about adding these?
[![Downloads](https://pepy.tech/badge/smart-open/month)](https://pepy.tech/project/smart-open/month)
[![Downloads](https://pepy.tech/badge/gensim/month)](https://pepy.tech/project/gensim/month)

[2020-03-23 05:36] mpenkov commented on #440
It's an interesting idea, but I don't think it's worth the effort at the moment, because it introduces additional complexity and doesn't solve any problems that are hurting us at the moment.

For example, if we started to get overwhelmed with dependencies like boto3, gcs, etc. (currently, it's manageable), then we could make them optional, like we do with `paramiko`.

If people were contributing b

[2020-03-24 07:58] #216 closed

[2020-03-24 17:03] dargueta commented on #440
Haha I already started tinkering with it. But yes, I do see your point.

[2020-03-24 17:04] dargueta commented on #440
Gonna close this for now and we can revisit it later I guess

[2020-03-24 17:04] #440 closed

[2020-03-24 20:09] piskvorky commented on #440
@dargueta you can open Dropbox as a PR  – that sounds useful!

[2020-03-24 23:00] dargueta commented on #440
Will do

[2020-03-26 14:53] Tyrannas opened #443 "Don't package all cloud dependencies at once"
#### Problem description

Smart open is a really useful library, but I find it a bit annoying to have all dependencies packaged with it. Most of the time one doesnt need to manipulate s3 and gcs and maybe azure storage if it were to be integrated in smart-open.

#### What I wish I could do:

pip install smart-open would be the same behaviour as now
pip install smart-open[s3] would only install bot

[2020-03-26 15:26] mwozniczak commented on #443
I was just about to open this exact same issue, what are the odds!

[2020-03-26 15:52] piskvorky commented on #443
Thanks for the feedback (and offer to work on it!). We'll discuss with @mpenkov .

Related to #440.

[2020-03-27 04:26] mpenkov commented on #443
@Tyrannas @mwozniczak Out of interest, what is the problem with `smart_open` installing `boto3`, `gcs`, etc. by default? The installation is automatic, so you don't really need to do anything.

(It's a genuine question. It's obvious that this is an issue for some people, and I'd like to understand why.)

[2020-03-27 09:01] mwozniczak commented on #443
@mpenkov speaking from my experience, there's two main factors: one is that there's a somewhat hard limit on AWS lambda filesize and when you've got some heavy libs like numpy+pandas, it starts to add up.

second one is, for some reason I needed to add an explicit reference to `google-api-core` in my requirements, otherwise it did not work (even though all dependencies were installed). and next th

[2020-03-27 09:43] gfournier commented on #443
@mpenkov same remarks for us, we tend to generally have a low number of requirements as possible. On bigger projects it can reduce the likelihood to have conflicts between versions.

Other concerns are build time + docker image sizes. If we have less requirements then we have smaller docker images + a smaller build time, it's a more efficient process.

[2020-03-27 10:08] mpenkov commented on #443
OK, those reasons make sense to me.

@Tyrannas I'm glad you're interested in implementing this. I'm in the middle of a refactoring right now (#408) - once that's merged, please make a PR.

[2020-03-27 13:24] suyuchenxm opened #446 "import 'smart_open': module 'smart_open' has no attribute 's3'"
#### Problem description
After pip install smart_open, I tried to import smart_open and it raised AttributeError.

      import smart_open

[code]

#### Version
smart-open==1.10.0

[2020-03-27 14:37] mpenkov commented on #446
What version of Python?

[2020-03-27 14:47] mpenkov commented on #446
I cannot reproduce this with 3.7:

[code]

Running that script shows no errors on my system.

[2020-03-27 15:02] mpenkov opened #447 "Make bytebuffer tests deterministic"
Yeah, I agree that having random in the tests is a bit of a code smell, but it appears to be a core feature of those tests. I'm not sure how we'd go about removing them. Let's handle that in a separate PR.

_Originally posted by @mpenkov in https://github.com/RaRe-Technologies/smart_open/pull/408/review_comment/create_

[2020-03-28 21:12] suyuchenxm commented on #446
I used python 3.6 yesterday, the Error raised when I imported gensim. However I recreated a new venv and it works today. thanks

[2020-03-28 21:12] #446 closed

[2020-03-29 16:21] mpenkov opened #450 "Set up our own bucket for GCS integration tests"
Related to above, does it make sense long term for me to be the one running those tests? Would RaRe-Technologies be willing to create a Google Cloud account to run the tests on? I would be happy to help in any way with that, but I don't think it makes sense to have the account linked to me. I believe you get $300 in credits for the first year and billing information isn't even required during that

[2020-03-29 17:09] piskvorky commented on #450
@petedannemann we have bad experience with free time-limited trial accounts, because when they expire it's chaos.

Unfortunately we have zero budget for open source, this is all 100% voluntary work (which we sink a lot of our time into).

[2020-03-29 17:16] petedannemann commented on #450
@piskvorky if I did a cost estimate would you accept a donation?

[2020-03-30 02:50] mpenkov commented on #443
@Tyrannas The PR has been merged, please go ahead.

[2020-03-30 03:05] mpenkov commented on #450
@piskvorky The price is comparable to what we're paying for our S3 bucket (https://cloud.google.com/storage/pricing#price-tables). We don't move large amounts of data around, so it'll be no more than a few cents per month, from what I understand.

[2020-03-30 08:27] Tyrannas commented on #443
Alright, I'll fork and create a WIP PR

[2020-03-30 12:43] Tyrannas commented on #443
Update on this: @mwozniczak @mpenkov
I said that "pip install smart_open" would still be the same, well it seems that one cannot package 'default' extras: https://github.com/pypa/setuptools/issues/1139

This means that if I modify the setup to allow the pip install smart_open[boto3] of pip install smart_open[gcs] the pip install smart_open with no extras would only install requests.

Which means t

[2020-03-30 13:23] mpenkov commented on #443
@piskvorky WDYT? Seems like it will inconvenience more people than it would help.

@Tyrannas Is there a way to _disable_ certain extras explicitly? That way, people who need a lean install can request one explicitly.

[2020-03-30 13:43] mpenkov commented on #443
A hacky way would be to use an environment variable to specify extras explicitly. When empty, assume the user wants all the extras. So, if you just want S3, you'd do:

[code]

and then handle that in setup.py as something like:

[code]

[2020-03-30 14:53] Tyrannas commented on #443
Huum I'm not quite fan of the env variable option, but I guess it could work.
Another more pythonic workaround would be ([according to pip documentation](https://pip.pypa.io/en/stable/reference/pip_install/#id30)) to pass parameters to the setup.py and to modify install requires depending on this parameters.
This option seems better since I think it can be handled in a requirements.txt file.

so:

[2020-03-30 15:16] piskvorky commented on #443
Yes, I'd like the default to remain "use everything" = the current behaviour = the most common use-case (most people don't care).

But I like the idea of a lean install too, it's a valid use-case. Not sure what's the best way to achieve that. How about `pip install smart_open --install-option="--install_only=s3,gcs,ftp"`?

[2020-03-31 01:23] mpenkov opened #452 "Huum I'm not quite fan of the env variable option, but I guess it could work."
Yeah, `--install-option` is probably better than env vars.

[code]

I would avoid letting the user specify which specific packages to install. That's really a task for pip, not for us, because it could involve dependency management problems. We could do:

[code]

and then let people `pip install` the packages they need themselves.

@piskvorky's suggestion also looks good:

[code]

but also open to

[2020-03-31 01:23] mpenkov commented on #452
Opened by mistake.

[2020-03-31 01:23] #452 closed

[2020-03-31 01:24] mpenkov commented on #443
Yeah, `--install-option` is probably better than env vars.

[code]

I would avoid letting the user specify which specific packages to install. That's really a task for pip, not for us, because it could involve dependency management problems. We could do:

[code]

and then let people `pip install` the packages they need themselves.

@piskvorky's suggestion also looks good:

[code]

but also open to

[2020-03-31 12:55] Tyrannas commented on #443
Well I'm afraid those solutions would not be userfriendly at all, and are not easily packagable (which is the real problem here). What I suggest is to hope for a update on [the setuptools issue](https://github.com/pypa/setuptools/issues/1139) before changing smart_opens packaging if that suits everyone

[2020-03-31 13:02] mwozniczak commented on #443
@Tyrannas not sure about that. if the default would be "install everything", then I think I personally would be okay with @mpenkov's idea, as it's more of a poweruser feature anyway.

side note, are the extras-related values magic in some way in how setuptools works with them? I mean, a lot of the `setup()` function's parameters can be generated on the fly, as they're pretty much just python code

[2020-03-31 13:39] Tyrannas commented on #443
@mwozniczak yeah I know but was I was saying is that is it not an easily packagable solution. Like you can indeed write --install-option in a requirements.txt but it seems that it can lead to some side effects: https://github.com/pypa/pip/issues/5795#issuecomment-526857080

[2020-03-31 14:41] mpenkov commented on #443
OK, so it sounds like there are no perfect solutions here.

1. Wait for pypa/setuptools to fix this (don't know when or if this will ever happen)
2. Environment variables (ugly, fragile)
3. --install-option (has side effects)

Out of the above, I think (3) is the way to go, because:

1. It solves the problem for people who want a lean install
2. It doesn't create any problems for existing users (f

[2020-03-31 15:00] gfournier commented on #443
I'm not a big fan of `--install-option` because it's not very used on package install, the people usually don't know about this. The common way is `pip install smart_open[flavor]`.

Some more talks about this here: https://stackoverflow.com/questions/8874638/how-to-maintain-pip-install-options-in-requirements-file-made-by-pip-freeze, we need to test if `pip freeze` command is printing out the `--i

[2020-03-31 15:12] mpenkov commented on #443
Is it really necessary to answer that question now? Personally, I'd deal with it when and if that happens.

[2020-03-31 15:40] mwozniczak commented on #443
@mpenkov if my opinion carries any weight, option 3 would be perfectly fine for me :)

[2020-04-01 04:16] Amertz08 commented on #443
I would suggest using `extras_require` in the `setup()` call. This is how we do it for our internal packages. We add some code to make it clear how to fix the issue. Airflow has a ton of extras_requires. You can see that [here](https://github.com/apache/airflow/blob/master/setup.py#L629).

[code]
It would obviously be a breaking issue but to my knowledge `extras_require` is the standard convention

[2020-04-01 04:44] Amertz08 commented on #443
This would seem to go well w/ #428 and be like a 2.0 release or however you're versioning.

[2020-04-01 04:47] Amertz08 commented on #386
Is this still a valid issue? I could probably contribute here but I'm not clear as to what the issue is. It looks like pytest is being used to run the tests currently. Does this ticket mean to have the command `python setup.py test` run pytest? This is a fairly easy thing to do and I could knock it out quickly.

[2020-04-01 04:53] Amertz08 opened #453 "Add Python3.8 CI build"
Python 3.8 has been out since Oct '19. Add it as a build environment. Potentially might just ignore if it fails.

[2020-04-01 05:16] mpenkov commented on #443
@menshikh-iv @piskvorky WDYT?

[2020-04-01 05:17] mpenkov commented on #386
No, I think the idea was to rewrite the tests so they look like py.test ones instead of the standard library's unittest ones. Pytest has its own way of dealing with fixtures, etc.

Leave this item with me, I'm still working out what exactly to do, whether it's worth it, and when to do it.

[2020-04-01 05:30] menshikh-iv commented on #443
@mpenkov I'm OK with `pip install smart_open[s3]`/`pip install smart_open[all]` stuff

[2020-04-01 06:08] Amertz08 commented on #443
Jus as an FYI this is the requirements.txt generated from a requirements.in file with just this package as a dependency.

[code]

It would only get worse with Azure support.

[2020-04-01 07:24] mwozniczak commented on #443
just a suggestion, but might it make some sense to extract the core functionality, name it something like `smart-open-core` (probably not _exactly_ that, I know the words "open core" are a bit of a sore subject in opensource community ;))?

that repo would have the flavors solely as extras, as was suggested, and this current project would just have `smart-open-core[all]` as a dependency, for backw

[2020-04-01 08:02] Tyrannas commented on #443
Well @mpenkov your call, I'm fine with this two last solutions !

[2020-04-01 08:26] Amertz08 commented on #443
It seems like pulling them out into a "core" package would cause developer toil. Every add/deletion of functionality would require 2 releases just for the sake of backwards compatibility. Given this doesn't really have to happen now you could provide the extras_require keys in advance so people can prep their code bases for the drop.

[code]

The first PR to introduce this could be the #228 PR as

[2020-04-01 08:45] Amertz08 commented on #443
Like the fix to the backwards compatibility issue seems trivial compared to having to managing 2 pypi packages. Every time you added a new feature you'd have to mimic it's import path in the wrapping package. Same with deletions. Then you gotta version and deploy it. In order to fix the backwards compatibility issue with dependencies is change your install to `smart_open[all]`. I could understand

[2020-04-01 09:19] mwozniczak commented on #443
@Amertz08 well, i'm no packaging expert, so i'll just have to defer to other peoples' expertise on the matter

[2020-04-01 23:41] Amertz08 opened #456 "Add coverage to test running"
In order to find gaps in testing the testing process should run coverage.

[2020-04-02 22:01] willgdjones opened #457 "[s3] Streaming data transfer rates"
Hi all - thank you for the great package.

This is just a quick question about expected download rates. I'm seeing rates of ~2Mb/s streaming data from an S3 bucket to a Lambda function that are both in the same region. In total, I can stream a 300mb file in ~159 seconds.

Are these rates to be expected using the package or is there something I am missing?

Thank you!

[2020-04-02 22:50] petedannemann commented on #457
You can see benchmarks by running `pytest integration_tests/test_s3.py::test_s3_performance`. You can probably increase performance substantially by increasing the buffer_size passed into `smart_open.open`. This might require increasing the memory used by your lambda function.

[2020-04-03 03:15] #453 closed

[2020-04-03 08:31] willgdjones commented on #457
Thanks for the response! I've been modifying the `bytes_size` value from 1024 to 262144, in increments that multiply by 4 each time, and I'm still getting a very similar transfer speed.

[2020-04-03 08:52] willgdjones commented on #457
Just checked that the default rate is much higher. I've now benchmarked much higher values, from 4*128*1024 in intervals increasing by 4x to 32*128*1024 but I'm still seeing similar results.

[2020-04-03 09:11] piskvorky commented on #457
What is "default rate" and how did you check it it's "much higher"?

[2020-04-03 09:24] willgdjones commented on #457
By "default rate" I mean `DEFAULT_BUFFER_SIZE` that is defined here:

https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/s3.py#L38

[2020-04-03 09:48] willgdjones commented on #457
Running the integration-tests from the root directory gives me:
[code]

[2020-04-03 12:12] petedannemann commented on #457
When you say “streaming” are you reading from S3, writing to S3, or both? I think the buffer_size is related to reading and min_part_size kwarg is related to writing

[2020-04-03 12:20] willgdjones commented on #457
I'm specifically reading from from S3. I seem to be able to download the 330mb file file in 6 seconds using boto3's `get_object`, but using `smart_open` this seems to take 159 seconds.

[2020-04-03 12:27] willgdjones commented on #457
Additionally, using `get_object().iter_lines()` seems to run through the file in 8 seconds.

I just want to check if I'm missing anything here!

[2020-04-03 12:36] piskvorky commented on #457
20x slower is really weird. There should be very little overhead in `smart_open`, so the numbers ought to ± match.

Btw `get_object().iter_lines()` didn't exist back then, maybe it's worth changing our "S3 read" implementation to that @mpenkov ? Any downsides?

[2020-04-03 13:01] willgdjones commented on #457
I've noticed that actually decompressing the file takes up a large amount of time that I was not previously factoring. The following loop for the same file takes ~50 seconds:

[code]
whereas this loop takes ~8 seconds:
[code]

[2020-04-04 04:11] chakruperitus opened #458 "Cannot read files with '?' character in the path when using google storage"
#### Problem description

Cannot open files from google storage  when the file path has '?' character in it (which are legal in google storage).

This was addressed for s3 in https://github.com/RaRe-Technologies/smart_open/issues/285 via PR https://github.com/RaRe-Technologies/smart_open/pull/291
The same fix is needed for Google Storage as well.

#### Versions

Please provide the output of:

[cod

[2020-04-04 07:46] #458 closed

[2020-04-06 13:38] Amertz08 commented on #456
Closed by #462

[2020-04-06 13:38] #456 closed

[2020-04-07 07:35] mpenkov opened #463 "Make the submodule importing system robust to missing extras"
I'm not sure about this but I think the imports in the code should now be in try except ? Like if someone installs the smart_open[gcs] the smart_open.s3 will throw an import error

_Originally posted by @Tyrannas in https://github.com/RaRe-Technologies/smart_open/pull/454#issuecomment-609804100_

[2020-04-07 07:36] mpenkov opened #464 "Deprecate smart_open.s3_iter_bucket in favor of smart_open.s3.iter_bucket"
The logger will only print if the root logger is configured which is no guarantee.

As far as that import path in `__init__.py` goes it would seem that it would need to be removed. Once those underlying dependencies are dropped from being installed I believe the import will cause issues. If sys.exit is dropped and the shortcut path maintained it would cause the import error to be suppressed here a

[2020-04-07 08:01] #443 closed

[2020-04-07 10:18] jethrogillgren opened #465 "pip install smart_open[aws] gives smart-open 1.10.0 does not provide the extra 'aws'"
#### Problem description
Hi all, I can't install the AWS extras. Thanks for any assistance.
The README says to run:

[code]

But I get the above error.

#### Steps/code to reproduce the problem.
`pip install smart_open[aws]`

#### Versions
Tested on Ubuntu 18 LTS
[code]

And Mac 10.15.4
[code]

[code]

The same occurs for `pip install smart_open[aws]==1.9.0` etc...

Many Thanks

[2020-04-07 12:18] mpenkov commented on #465
The new extras feature are for the development version only. They haven't been released yet.

[2020-04-07 12:47] petedannemann commented on #465
@mpenkov it seems like smart-open commonly get questions about unreleased features. Would it make sense to have a develop branch?

[2020-04-07 12:59] mpenkov commented on #465
Yeah, I was just thinking the same thing.

[2020-04-07 13:00] mpenkov opened #466 "Create a separate branch for development"
@mpenkov it seems like smart-open commonly get questions about unreleased features. Would it make sense to have a develop branch?

_Originally posted by @petedannemann in https://github.com/RaRe-Technologies/smart_open/issues/465#issuecomment-610366120_

[2020-04-07 13:32] piskvorky commented on #466
Not critical. Now there's a bit of an earthquake, on account of the "optional extensions" refactoring.

But this is an exception – I expect README to be fairly stable.

[2020-04-07 14:23] mpenkov commented on #466
Every time we roll out a new feature, it gets reflected on master. This includes changes to the README and the help file. So things like new backends, etc. will appear there and potentially confuse users.

As an aside, I'm surprised by how fast #465 was created. It was hours after the merge of the related PR.

[2020-04-07 14:24] jethrogillgren commented on #465
Thanks guys.
Have found the [README](https://github.com/RaRe-Technologies/smart_open/blob/1.10.0/README.rst) on the latest tagged version, will continue with that.
Awesome project, it's working a treat so far!

[2020-04-07 14:24] #465 closed

[2020-04-07 19:27] Amertz08 commented on #463
I think for sure the `s3` module does. As there is more than 1 entry point into the module. There is the `register_transport` which catches an `ImportError` and thus if there is a `try/except` it would need to reraise the error so that the `register_transport` path still works. The 2nd being the `iter_bucket` function. As a consumer could import that without ever going down the `register_transport

[2020-04-07 19:32] Amertz08 commented on #464
I think this is fairly straightforward to implement as the function is aliased on import. You can easily provide a deprecation warning.

[code]

This would make it so the warning is only thrown when using the deprecated name and not the actual name. You'd have to modify the import path in `__init__.py`

Probably should use the actual function interface. I just used `*args, **kwargs` for brevity.

[2020-04-07 19:54] Amertz08 commented on #466
There is the "Unreleased" section of the changelog. I probably should have put the change in there for my PR.

[2020-04-08 00:50] mpenkov commented on #464
That, and you can also perform the import inside the actual function instead at module scope.

[2020-04-08 00:51] mpenkov commented on #466
The current practice is for us to update the changelog as part of the release process, so we don't ask PR authors to do that. The reason is that if many PRs are open simultaneously, editing the changelog introduces merge conflicts that are a PITA to deal with.

[2020-04-08 13:02] roamdam opened #468 "Cannot use `smart_open.s3.iter_bucket` because of missing `boto` dependancy."
#### Problem description

It seems that `1.11` causes import problems with `boto`. `boto` does not seem to appear as a dependancy for the package anymore, while it is still imported in `smart_open.s3`. That does not throw an error when installing but does when I try to use `smart_open.s3.iter_bucket`.

#### Steps/code to reproduce the problem

I've made the following to be sure, on a brand new vir

[2020-04-08 13:35] mpenkov commented on #468
Thank you for letting us know. We've released version 1.11.1 to deal with this problem. Please upgrade.

[2020-04-08 13:35] #468 closed

[2020-04-08 14:28] piskvorky commented on #468
@mpenkov how come the testing system did not catch this? Did the recent refactoring break the CI?

[2020-04-09 00:13] mpenkov commented on #468
I'm not sure how the tests missed this.

The refactoring did not break CI. The builds [pass](https://travis-ci.org/github/RaRe-Technologies/smart_open/branches).

[2020-04-09 09:13] piskvorky commented on #468
Scary.

[2020-04-10 02:54] mpenkov commented on #468
I looked into the [logs](https://travis-ci.org/github/RaRe-Technologies/smart_open/jobs/672525513) some more. One of the test dependencies had a dependency on boto, so it was getting installed that way.

[code]

[2020-04-10 07:00] mpenkov opened #469 "Investigate potential integration with libcloud"
https://libcloud.readthedocs.io/en/latest/supported_providers.html

[2020-04-10 10:12] lijunchen22 commented on #343
can anyone know how to solve this issue？

D:\python\python.exe E:/python_app/sim_db.py
unable to import 'smart_open.gcs', disabling that module
Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\815km\AppData\Local\Temp\jieba.cache
Loading model cost 0.681 seconds.
Prefix dict has been built successfully.

[2020-04-10 17:56] jogo opened #470 "New smart-open 1.11.0 is missing Requires-Python metadata and causes issues under Python 2."
[smart-open 1.11.0+](https://pypi.org/project/smart-open/1.11.0/
) is Python3 only but pip under Python 2 is unable to automatically select the right version since smart-open is missing the  Requires-Python metadata as defined in [PEP-503](https://www.python.org/dev/peps/pep-0503/)

Under python 2: `pip install smart-open` using the latest version of pip installs smart-open 1.11.0

[2020-04-11 15:15] sikuan opened #472 "setup.py lacking the test_data files except gz"
`setup.py` only includes `test_data/*gz` files, and lacking [other files](https://github.com/RaRe-Technologies/smart_open/tree/master/smart_open/tests/test_data).

https://github.com/RaRe-Technologies/smart_open/blob/815be858e8aa79a45ad1f2974dc4287cf5a53f8a/setup.py#L71

[2020-04-11 23:38] #472 closed

[2020-04-13 23:47] andrewasheridan opened #474 "Unable to load smart_open.gcs"
I have an issue similar to this :  https://stackoverflow.com/questions/61126546/docker-compose-up-d-cannot-finish-because-an-error

Installation in docker works fine but when importing this error crops up.

The issue does not occur with 1.10, only with 1.11

Apologies for the total lack of details / reproducibility. I will try to add those tomorrow if possible.

[2020-04-14 00:48] Andrew-Sheridan commented on #474
I apologize, my above description is just not at all correct. Boo me.

So the issue that I was having was that my tests for a CLI were failing during a build process. That happens in Docker and for some reason I thought that was the issue (it's not).

The test for the CLI was essentially a test to ensure it had installed correctly, that the entrypoint name was available, something like this:

[cod

[2020-04-14 08:18] #474 closed

[2020-04-14 08:19] mpenkov commented on #474
Thank you for the kind words.

I think if you check the exit value of the subprocess instead of its stderr, your script will be robust to issues like this.

[2020-04-14 17:23] piskvorky opened #475 "Importing gensim prints stuff and configures logging"
#### Problem description

Not sure if this is a ticket for `smart_open` or `gensim`, but importing gensim prints out some (unwanted) stuff: `unable to import 'smart_open.gcs', disabling that module`.

I checked the `smart_open` source code and this is actually printed from a logger:

[code]

This is a big no-no – libraries have no business configuring the logging subsystem. That's up to the applic

[2020-04-15 01:06] kounelisagis commented on #475
Same issue with 3.8.2. Works perfect after downgrading to 3.8.1 :confused:

[2020-04-15 09:21] ebadi commented on #475
Downgrading to 3.8.1 did not work for me.

[2020-04-15 09:26] piskvorky commented on #475
@kounelisagis @ebadi You need to downgrade smart_open to version 1.10.0 to get rid of the logging.

[2020-04-16 08:26] burkovae opened #477 "Output using `csv` module is inconsistent with traditional `open` behaviour"
#### Problem description

I'm using python 3.7 and `smart_open==1.11.1` under Windows 10. There is [this issue with python, csv, and Windows](https://stackoverflow.com/questions/3191528/csv-in-python-adding-an-extra-carriage-return-on-windows) which your would normally solve by the mentioned solution.

However, if I replace `open` with `smart_open.open` there seems to be a different behaviour. `sm

[2020-04-16 08:30] burkovae commented on #477
The addational `\n` are the problem here.

[code]

[2020-04-16 12:31] mpenkov commented on #477
Thank you for reporting this issue and providing sample code. I tried reproducing your issue on MacOS and Linux, but with no success. The assertion passes.

Unfortunately, I don't have access to a Win machine, so I cannot reproduce your issue. Are you able to diagnose it yourself and make a PR?

[2020-04-16 21:19] burkovae commented on #477
Yes, i think i found it, see #478.

[2020-04-19 23:20] shubhangi-bajpai commented on #227
hello everyone. I tried to import gensim in python and am faced with the following error.. please help me. It's urgent as I am working on my internship project.

**AttributeError: module 'smart_open' has no attribute 'local_file'**

Thanks in advance

[2020-04-20 00:26] mpenkov commented on #227
@shubhangi-bajpai Please make a new ticket and fill in the template, including the version you're using, etc.

[2020-04-23 08:19] Justine-Marianne commented on #475
pip install smart-open==1.10.0 worked for me

[2020-04-23 20:43] sanjaycode opened #480 "importing gensim issue"
#### I installed gensim using (pip install gensim) and it installed successfully:

`Successfully installed boto-2.49.0 boto3-1.12.45 botocore-1.15.45 docutils-0.15.2 gensim-3.8.2 jmespath-0.9.5 s3transfer-0.3.3 smart-open-1.11.1`

#### but now if I am trying to import it in my jupyter notebook, its showing this error:
`unable to import 'smart_open.gcs', disabling that module`

![Capture](https://u

[2020-04-24 00:46] mpenkov commented on #480
This is a duplicate of https://github.com/RaRe-Technologies/smart_open/issues/475. Please see the discussion in that ticket.

[2020-04-24 00:46] #480 closed

[2020-04-25 05:51] mpenkov commented on #466
We now have a develop branch.

[2020-04-25 05:51] #466 closed

[2020-04-25 05:55] #475 closed

[2020-04-25 06:43] mpenkov opened #481 "Release version 1.10.1"
This is a bugfix release that removes GCS support from 1.10.0 in order to work around [this gensim issue](https://github.com/RaRe-Technologies/gensim/issues/2779).

Originally, we planned to include a fix for the [logging issue](https://github.com/RaRe-Technologies/gensim/pull/2797) as well, but it turns out that smart_open version 1.10.0 does not suffer from that issue.

@menshikh-iv @piskvorky P

[2020-04-25 07:01] #470 closed

[2020-04-25 07:40] mpenkov opened #482 "Fix tests that are broken on Appveyor."
Fix tests that are broken on Appveyor.

They are broken for various reasons. It's likely that the problem is with the tests themselves (e.g. the NamedTemporaryFile problem fixed in this PR) as opposed to smart_open itself, but it's worth investigating in more detail (at some later point).

_Originally posted by @mpenkov in https://github.com/RaRe-Technologies/smart_open/pull/479#issuecomment-61933

[2020-04-25 08:33] mpenkov opened #483 "Write a Windows .BAT equivalent of travis_ci_helpers.sh"
Write a Windows .BAT equivalent of travis_ci_helpers.sh

We need this .BAT file for running integration tests under Appveyor, which is unable to run our existing bash script.

Alternatively, rewrite that script in Python so we can use it under both Travis and Appveyor.

_Originally posted by @mpenkov in https://github.com/RaRe-Technologies/smart_open/pull/479#issuecomment-619343110_

[2020-04-25 09:02] piskvorky commented on #481
Looks alright. Nothing else worth backporting to 1.10 from the main branch?

[2020-04-26 04:58] mpenkov commented on #481
OK, I've pushed 1.10.1 to PyPI: https://pypi.org/project/smart-open/1.10.1/

[2020-04-26 09:41] piskvorky commented on #481
Great! I'll update the `develop` README as well.

[2020-04-26 20:43] littleyee opened #489 "cannot import name 'open' from 'smart_open'"
I am receiving the error
  File "C:\ProgramData\Anaconda2\lib\site-packages\gensim\utils.py", line 45, in <module>
    from smart_open import open

ImportError: cannot import name open
I am using python 2.7.16, the gensim is in 3.8.2 and smart-open is 1.10.1. Any ideas of what is going on?

[2020-04-27 02:30] jrayu commented on #475
Is it simply a logging or is the module really disabled?

[2020-04-27 04:34] mpenkov commented on #489
What is the output of:

[code]

Here is the output I see on my system (different to yours) as an example:

[code]

[2020-04-27 07:18] mpenkov opened #491 "Investigate building wheels for smart_open"
This has certain benefits:

1. The pip client no longer has to build wheels itself when installing
2. The install process is marginally faster
3. Any others?

Also, are there any compelling reasons to avoid building wheels?

@menshikh-iv @piskvorky @gojomo

[2020-04-27 07:22] piskvorky commented on #491
Increased complexity. Smart_open doesn't compile anything, why would we need wheels?

[2020-04-27 07:39] menshikh-iv commented on #491
The wheel doesn't contain any "binary" stuff for the pure-python project.
Wheel building has no difference with default tarball if the project contains ONLY python files.

You just do `python setup.py bdist_wheel` instead of `python setup.py sdist`, where is complexity? Also, you need an only a single wheel (same as tarball) for all stuff (instead of compiling separate wheel for each python X each

[2020-04-27 07:55] menshikh-iv commented on #491
So, here is all needed changes https://github.com/RaRe-Technologies/smart_open/pull/492

[2020-04-27 08:32] piskvorky commented on #491
Exactly – I see no point of complicated things with wheels.

[2020-04-27 08:42] menshikh-iv commented on #491
I don't see any "complication" here, can you point to exact "complicated things", please?

[2020-04-27 09:26] piskvorky commented on #491
Extra features / files = extra complications, extra maintenance. It's common sense.

To summarize:

Pros:
1. The pip client no longer has to build wheels itself when installing. (*that's an observation; what's the actual benefit?*)
2. The install process is marginally faster

Cons:
1. Extra maintenance.

Both Pros and Cons seem quite inconsequential to me, minor. A low priority ticket.

[2020-04-28 02:00] littleyee commented on #489
The output is Python 2.7.16 (v2.7.16:413a49145e, Mar  4 2019, 01:37:19) [MSC v.1500 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

['__all__', '__builtins__', '__doc__', '__file__', '__name__', '__package__', '__path__', '__version__', 'bytebuffer', 'doctools', 'hdfs', 'http', 'logger', 'logging', 'open', 'register_compressor', 's3', 's3_iter_bucke

[2020-04-28 06:02] mpenkov commented on #489
Interesting. The `open` function is in the list of functions offered by the `smart_open` package. I'm not sure why it's not importing.

I originally suspected this is some kind of Python 2 issue, but it works in a Py2 environment here without any problems:

[code]

[2020-04-29 00:31] gojomo commented on #491
I'd prefer not using a wheel unless necessary for some user convenience, as my understanding is:

(1) it makes the download a little larger;
(2) in includes more opaque things (in this case `.pyc`) that are fully determined by the actual source.

Aesthetically and as a matter of "minimal surface area for errors/confusion", I'd prefer delivering the tiniest, most-transparent set of things as the pa

[2020-04-29 04:45] menshikh-iv commented on #491
why? I see the opposite on practice

[code]
you point have sense for wheels that includes "binaries" (like `gensim`)

No, `.pyc` never includes to wheels

[2020-04-29 17:11] gojomo commented on #491
Interesting! If it's not including the `.pyc` files, then what's the practical difference between the `.whl` and the `.tar`? (How dos the wheel get *smaller*, if it's doing more build-like stuff up-front? What's it leaving out?)

[2020-04-30 06:37] menshikh-iv commented on #491
Only in "installing process":
- when you install wheel, pip just copy content to `site-packages`, nothing else
- when you install tarball, modern `pip` build wheel (i.e. run smth from `setup.py`) for them and goto previous

Because tarball includes root of the repo (with CI files, data files for testing, etc), wheel includes only `smart_open/smart_open` dir + little metadata (extracted from `setup

[2020-04-30 17:46] gojomo commented on #491
For a source-only package, isn't the "run something from `setup.py`) step essentially "just copy content to `site-packages`", so the install speed difference should be negligible?

Couldn't the `sdist` also discard files of no value to `pip`-install users? On the other hand, sometimes testing data-files will still be of interest to end-users. As a policy, should people who "pip install" be able to

[2020-05-01 06:10] menshikh-iv commented on #491
Not really :)

Depends on `MANIFEST.in` and options of `setup(...)` function

Good question, idk. Not sure that this really useful (and somebody uses that). More than that, user should install test deps with `smart_open[test]`, otherwise, this fails.

upd: checked - this doesn't work for now (and never works I guess)

[2020-05-05 13:18] jwest75674 opened #493 "Replicate gzip.open functionality for text files? Unable to open .gz file in text mode"
#### Existing functionality:
[code]

#### Example of desired outcome:
[code]

##
It appears that smart_open does not handle mode='rt' at the moment, requiring additional code to decode every time smart_open is used.
Requesting smart_open to match the functionality used by the standard library gzip module's open function, or help me understand the thought process as to the current setup (for my own

[2020-05-05 16:06] jcushman opened #494 "Redundant GetObject requests when fetching file contents from S3"
#### Problem description

When fetching the contents of a file from S3, smart_open sends two GetObject API requests -- one to fetch the file length, and one to fetch the contents. From an EC2 instance in the same region as the bucket, this doubles the cost of fetching the file.

The double request happens because there is one call to `_get` in `Reader.__init__`, solely to fetch the content length,

[2020-05-05 16:09] piskvorky commented on #494
I remember we already hit this one. Maybe a regression?

@jcushman are you able to check why the second (superfluous) call to content length is there? Is it vital?

[2020-05-05 16:50] jcushman commented on #494
As far as I can see this has been an issue since [this revision in 2017](https://github.com/RaRe-Technologies/smart_open/blob/fbc82cc04bf92e8c588c49c43ff5aff8234ea87d/smart_open/s3.py), though I may have missed a point where it was fixed and then regressed.

I think a light refactor could fix this. Content length can be extracted from the `_get` call in `_SeekableRawReader._load_body` via the `Con

[2020-05-05 17:56] piskvorky commented on #494
Sounds good to me. *Implicit* file size is not part of any `open` or `smart_open` contract I'm aware of. CC @mpenkov WDYT?

And wherever the size is needed *explicitly*, we should be able to either get it out of the conjoining `_load_body` call, or have the user explicitly fetch it themselves (if they need it).

@jcushman would you be able to write a PR for this?

[2020-05-09 07:32] mpenkov commented on #493
Thank you for providing a reproducible example. I've reproduced the problem and confirmed it as a bug.

Until we fix the bug, you should be able to do this instead, to achieve the desired result:

[code]

[2020-05-10 12:35] mpenkov opened #496 "Add docstrings to tests"
https://hynek.me/articles/document-your-tests/

[2020-05-13 02:08] #477 closed

[2020-05-14 02:50] cdosborn commented on #392
https://github.com/RaRe-Technologies/smart_open/blob/develop/howto.md#how-to-access-s3-object-properties
[code]

[2020-05-14 03:39] acarapetis commented on #392
@cdosborn Cool, glad to see this make it into 2.0.0! Sadly, I think the current implementation is subject to race conditions: [in to_boto3](https://github.com/RaRe-Technologies/smart_open/blob/cc247c59411bf693c33eae54d265b310dd78bd9f/smart_open/s3.py#L525), my guess is that the code
[code]
will always get the *latest* version of this object, not the same version as self._object. I'll verify whethe

[2020-05-14 06:26] mpenkov commented on #392
@acarapetis Yes, you're right, that call should use the  `_get()` function:

https://github.com/RaRe-Technologies/smart_open/blob/cc247c59411bf693c33eae54d265b310dd78bd9f/smart_open/s3.py#L263

Can you make a PR?

[2020-05-14 23:36] jsmedmar opened #499 "Feature request: implement a smart os.path.getsize"
It would be pretty cool to have a smart "getsize" that works locally, with s3, etc.

[2020-05-15 13:17] wanwe opened #500 "export transport.register_transport?"
#### Problem description

is it possible to expose "transport.register_transport"?
I want to slightly different version of s3 protocol, add another private s3 schema.
I could not register it like what it's documented [here](https://github.com/RaRe-Technologies/smart_open/blob/develop/extending.md), due to "register_transport" is not exported

Thank you !

[2020-05-16 04:30] mpenkov commented on #500
What do you mean by "not exported"?

[code]

[2020-05-16 06:56] wanwe commented on #500
thanks for the reply !
It turns out something went bad with my package installation, I was getting error "ModuleNotFoundError: No module named 'smart_open.transport'".

after uninstall and force-reinstall, it works now

closing this...Thanks again !

[2020-05-16 06:56] #500 closed

[2020-05-17 07:45] mpenkov opened #501 "Rename ASB to something more suitable"
That's fine. Let's call it `azure` then, or `azureblob` / `AzureBlob`. Nobody knows what ASB is.

_Originally posted by @piskvorky in https://github.com/RaRe-Technologies/smart_open/pull/444/files_

[2020-05-17 07:46] #228 closed

[2020-05-17 09:17] piskvorky commented on #501
@petedannemann is on it. I saw him fix this in #498 (424fdcf1b54d197641d713f6b47bb34368d284b1 and others).

[2020-05-17 18:35] petedannemann opened #502 "Run Azure integration tests in CI"
We can use [Azurite](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite) to run unmocked unit tests and integration tests in CI without needing an Azure account. This will allow us to run our entire test suite for Azure in CI with no additional costs.

[2020-05-18 20:41] jcatanza commented on #489
I just installed smart_open on my  Windows 10 machine. It doesn't contain a module called "open"
(base) C:\Users\cross-entropy>python
Python 3.7.7 (default, Apr 15 2020, 05:09:04) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

['BZ2File', 'BytesIO', 'DEFAULT_ERRORS', 'IS_PY2', 'P', 'PATHLIB_SUPPORT', 'SSLError', 'SYSTE

[2020-05-25 12:32] SchopenhauerZhang opened #503 "gzip can not chose compresslevel in compression.py"
https://docs.python.org/3/library/gzip.html
like this:
def _handle_gzip(file_obj, mode,compresslevel:int=9):
    import gzip
    return gzip.GzipFile(fileobj=file_obj, mode=mode, compresslevel=compresslevel)

[2020-05-30 23:24] davidparks21 opened #504 "Enhancement request: support file size operation"
#### Problem description
There doesn't appear to be any way to get file size using `smart_open`. Adding a function to return this very common file operation seems reasonable because it's such an integral part of streaming operations.

For example, implementing `__len__` would be a nice way to do it, such that `len(open('s3://bucket/path/file', 'rb'))` returns the file size, it doesn't seem like th

[2020-05-31 15:23] petedannemann commented on #504
Possible duplicate of https://github.com/RaRe-Technologies/smart_open/issues/499

Not all transport mechanisms support this feature, but all of the cloud ones should by accessing the underlying blob / object. S3 supports this explicitly with the `to_boto3` method https://github.com/RaRe-Technologies/smart_open/blob/688ea0956e8aa85d566d286874b02e106a2c0d4e/smart_open/s3.py#L515.

[code]

[2020-05-31 19:45] #504 closed

[2020-06-03 19:17] Abhishek-Prajapat commented on #489
I am not getting the open function in the smart_open directory.
`import smart_open
dir(smart_open)
['BZ2File',
 'BytesIO',
 'DEFAULT_ERRORS',
 'IS_PY2',
 'P',
 'PATHLIB_SUPPORT',
 'SSLError',
 'SYSTEM_ENCODING',
 'Uri',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'boto',
 'codecs',
 'collections',
 'gzip',
 'hdfs',

[2020-06-04 04:40] mpenkov commented on #489
@Abhishek-Prajapat What smart_open version are you using?

[2020-06-04 23:36] todor-markov opened #505 "Opening GCS files via `smart_open.open` fails to add the `name` field to the file object"
#### Problem description

Currently the `gcs.open` function returns a Reader or Writer object, but does not add a `name` field to the object. This creates a problem when trying to open compressed files in GCS, since smart open's compression wrapper relies on the `name` field to choose the decompression algorithm. Thankfully, the problem is relatively straightforward to fix by slightly updating the

[2020-06-05 01:40] mpenkov commented on #505
Thank you for reporting this.

I think you may be pushing to the wrong location. In github, the way to do what you want to do is:

1. Fork the repo, so you have a personal copy of the repository under your account.
2. Push the branch to your fork. Because the fork belongs to you, there are no permission issues.
3. Make a PR
4. PROFIT

For more, see [this link](https://codeburst.io/a-step-by-step-g

[2020-06-05 17:14] petedannemann commented on #505
Looks like azure suffers from this as well. I didn't look at other transport mechanisms but hopefully they all have them. What is odd is that our compress / decompress tests don't seem to catch this

[2020-06-06 01:56] mpenkov commented on #505
Yeah, sounds like we have a hole in our test coverage.

@petedannemann Are you able to look into it? If not, I will make a separate ticket and deal with it in time.

[2020-06-08 06:20] nc9 commented on #491
This project is starting to stand out now as an ever-lone holdout on adopting wheel packages for distribution:

https://pythonwheels.com/

[2020-06-08 08:00] kokes commented on #491
That's incorrect, the PR is not sufficient. I'm not terribly familiar with the project's layout, but from the get go, there are at least two things to add:

1. Tests only cover sdist builds
2. The PyPI upload script never uploads the wheel, it only covers the source distribution.

(I'm not advocating wheels or sdists, just pointing out it's not a one-liner.)

[2020-06-11 22:55] impredicative opened #507 "botocore.exceptions.CredentialRetrievalError raised when opening many files in parallel from S3"
#### Problem description

Be sure your description clearly answers the following questions:

- What are you trying to achieve?
I'm trying to read several files in parallel using `multiprocessing` from S3. I'm using a single `c5.24xlarge` or `m5a.24xlarge` EC2 instance which is running a single container. Note that each process is reading a different file.

- What is the expected result?
The opens

[2020-06-14 11:43] vlcinsky commented on #491
quoting @gojomo

Well, this sounds like definition of wheel distribution format.

Anyway, reminding part of the quote:

is a bit confusing and sounds contradicting the first part. If "full package" is "all it's source code", why not using git clone of given package repository? sdist format might always omit some file.

Conversion to using wheel format in this project would require:
- change of two

[2020-06-15 12:06] prakharcode opened #509 "Support for v2.1 of Azure python sdk"
This problem refers to #444

I am working with `smart_open` for Azure blob storage, but I'm working on a codebase that uses the older API interface by azure i.e. v2.1 which provides `BlockBlobService`. I see in the client this accepts BlobServiceClient. Could it be used with BlockBlobService?

Talking about [this](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python

[2020-06-15 12:35] mpenkov commented on #509
Why would we want to support a much older version of the API? Is it somehow more popular or commonly used?

If possible, I would prefer to avoid it.

[2020-06-15 12:40] adclose commented on #509
the 1.2 and 12.0 versions don't play well with each other at all.  I recently moved some of my other code to 12.0  I would suggest getting there as soon as possible.

[2020-06-15 12:52] mpenkov commented on #507
Thank you for reporting this.

Can you show the full stack trace?

[2020-06-15 13:00] petedannemann commented on #509
Can we please change the title to "Support for v2.1 of Azure python sdk"?

[2020-06-15 13:03] petedannemann commented on #509
I agree with the comments above. I do not think we should add backwards compatibility for a depreciated SDK. Seems like if @prakharcode needs this he should fork and build it himself.

[2020-06-15 13:04] #501 closed

[2020-06-15 13:28] prakharcode commented on #509
Yes, I'm implementing a version for v2.1 myself, v2.1 SDK was implemented earlier in my project and according to Microsoft's package [timeline](https://pypi.org/project/azure-storage/0.37.0/#history) v2.1 was deprecated in May 2020 only, hence there might be some project with v2.1 implementation.

[2020-06-15 13:43] #509 closed

[2020-06-15 13:56] anantguptadbl commented on #489
@Abhishek-Prajapat , I am also not able to see any open in the smart_open. I am, using the following versions
**_smart_open-1.8.0
gensim-3.8.3_**

I solved it by writing my own version of glove2word2vec which is almost copy-paste

[code]

[2020-06-15 23:58] impredicative commented on #507
@mpenkov Here is my log which also prints the traceback. My code is in `/appdir/` and it otherwise works fine.

[code]

[2020-06-16 00:35] SchopenhauerZhang opened #511 "Potential memory leak in MultipartWriter._upload_next_part"
#### MultipartWriter._upload_next_part  Memory leak

the MultipartWriter._upload_next_part  function upload the bytesIo from Memory to s3(by upload[CreateMultipartUpload]),but do not  clean  bytesIO (in Memory).
i use the smart_open.open() (gz file) upload to s3,the Memory Keep increasing。 I check the code and focus the  MultipartWriter._upload_next_part() :

[code]
after upload the bytesIO, not c

[2020-06-16 00:45] mpenkov commented on #507
It looks like you're exceeding an AWS-side concurrency limit while opening a file.

I'm not sure if there's anything smart_open should do about that. You've mentioned a try-except with random sleeping, but that's one approach, and there are others. For example, there's [exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff). I think it'd be difficult for smart_open to pick an appr

[2020-06-16 00:49] mpenkov commented on #511
Thank you for reporting this.

[code]

Interesting, wouldn't the garbage collector take care of this? We're throwing away the old value of `self._buf` entirely in (2). Perhaps something else is holding on to a reference of the old `self._buf` somewhere...

I will investigate. Thanks again.

[2020-06-16 01:05] SchopenhauerZhang commented on #511
wouldn't the garbage collector take care of this? em， i use smart_open in
High concurrency and high throughput distributed system. wait the  garbage collector(python's) to deal it  is not good idea. I suppose to  recycle  the  memory by self.
I  will try to recycle  the  memory by self, later i write the result at here. Thanks!

[2020-06-16 08:09] piskvorky commented on #511
If you use cpython (the standard python) there is no "wait". Memory is reclaimed as soon as it's not needed = its reference count goes to zero.

There are some exceptions with reference cycles but not leaks. I'd also expect some other code (boto?) is holding on to the reference longer than it should.

[2020-06-16 09:59] impredicative commented on #507
Is it not supposed to be smart? Or is it just [semismart](https://en.wiktionary.org/wiki/semismart)?

A pure exponential backoff doesn't help with a uniform load distribution. `time.sleep(random.random() * exp_backoff_multiplier)` does, although this doesn't define an appropriate choice of the backoff parameters.

The above suggested strategy should work for 90%. On AWS the number of cores are lim

[2020-06-16 10:16] mpenkov commented on #507
Having "smart" in the name doesn't mean "it does everything for you". For example, equipping yourself with a smartphone, smartwatch, etc. doesn't instantly make you a genius (quite often the opposite). You still need to apply some of your own effort.

Yeah, the devil is always in the details. What parameters to pass? How to pass them? How to enable/disable this functionality?

I think the best way

[2020-06-16 10:16] #507 closed

[2020-06-17 04:11] mpenkov opened #512 "Handle missing .name attribute more robustly"
Currently, it's a TODO, far from ideal.

https://github.com/RaRe-Technologies/smart_open/blob/0a3619144a75ea002304c487b8f8a9ee2c867c33/smart_open/smart_open_lib.py#L403

[2020-06-17 04:16] #505 closed

[2020-06-26 00:30] rbur004 opened #513 "S3 write seems to be affecting the next S3 read"
#### Problem description

Be sure your description clearly answers the following questions:

- What are you trying to achieve?
    S3 to separate S3 copy. i.e. an object copy between completely separate instances of S3

- What is the expected result?
    Object copied, with same etag

- What are you seeing instead?
    The next S3 read's buffer affected by the S3.write call.  Object copied is the

[2020-06-26 02:59] rbur004 commented on #513
Going through a temporary file, so there is only ever one S3 connection active at a time, works fine.

[code]

[2020-06-27 23:49] gelioz opened #514 "Compression not handled for GCS files"
#### Problem description

When reading gzip-encoded blob from GCS, file object returns compressed binary data instead of decompressed text.

#### Steps/code to reproduce the problem

[code]
Also, I was able to find root cause - `gcs.Reader` class not implements `.name` attribute which cause `compression.compression_wrapper` function to skip decompressing (because `os.path.splitext(file_obj.name)`

[2020-06-28 00:16] mpenkov commented on #514
Hi gelioz, thank you for reporting this.

We have already fixed the issue in the develop branch (see https://github.com/RaRe-Technologies/smart_open/pull/506). Are you able to confirm?

[2020-06-29 17:27] maranqz commented on #346
It's not duplication because [calling client](https://github.com/RaRe-Technologies/smart_open/blob/1c5c56cc7081a90df1b1fe64cd6314999434ee1e/smart_open/s3.py#L1017) doesn't sending endpoint_url to session.client('s3', ....).

[2020-06-30 11:45] gelioz commented on #514
Thank you, @mpenkov.

Yes, I can confirm it works for me on develop branch. Is there any estimate on when 2.0.1 will be released?

[2020-06-30 17:13] bradmurray commented on #514
Does this also fix the same issue for writing? I can currently read from a .gz file on GCS with no problem, but when I write it is writing uncompressed even thought the filename ends in .gz.

[2020-06-30 18:13] gelioz commented on #514
Yes, it does - no issues with file compression on writing.

[2020-07-01 01:16] mpenkov commented on #514
https://pypi.org/project/smart-open/2.1.0/

[2020-07-01 01:16] #514 closed

[2020-07-02 04:02] fakhavan commented on #416
I have the same issue using this smart_open to access S3 on minio. As you know, minio can simulate S3 storage which I use to test code.
There is a guide on how `boto3` could be used to access minio. You can take a look at [here](https://docs.min.io/docs/how-to-use-aws-sdk-for-python-with-minio-server.html).

I have no issue accessing it using `boto3` however when I try to use smart_open to do this

[2020-07-02 05:59] mpenkov commented on #416
I think it should be possible. From your link:

[code]

You can pass those same arguments to smart_open, e.g.

[code]

See https://github.com/RaRe-Technologies/smart_open#more-examples for more.

[2020-07-03 01:09] petedannemann commented on #512
What were you thinking for this @mpenkov? Raise an error if it is missing and fix any that don't currently have it?

[2020-07-03 04:58] fakhavan commented on #416
@mpenkov Thank you for your quick reply. I was able to make it work.
For future reference, this is how I was able to use smart_open with S3 on Minio:

[code]

I'd suggest adding it to the examples as well.

[2020-07-03 05:34] mpenkov commented on #416
I'll think about adding it. One of the problems is that we like to keep our documentation self-testing, and it's difficult to test this minio stuff without jumping through hoops (e.g. docker compose).

[2020-07-03 05:39] mpenkov commented on #512
I think we can just do `fobj.name = uri` because at this stage we are sure that `uri` is a string.

[2020-07-05 07:12] mpenkov opened #517 "Azure info missing from help.txt"
It should be there with s3, gcs and others. Looks like it's not being picked up for some reason.

[2020-07-05 07:14] mpenkov opened #518 "Add type annotations to code"

[2020-07-08 15:20] AvivAvital2 opened #519 "Obsolete log in smart_lib_opener"
Using the example from the Readme, the following code works as expected.

[code]

However, also getting the following log: `CRITICAL:smart_open.smart_open_lib:TODO`  (Found on v2.0.0, v2.1.0)
Is the code above missing anything or can [this](https://github.com/RaRe-Technologies/smart_open/blob/develop/smart_open/smart_open_lib.py#L403) log line be removed?

Thanks

[2020-07-09 15:44] petedannemann commented on #519
Duplicate of https://github.com/RaRe-Technologies/smart_open/issues/512

[2020-07-12 07:41] kaitlinchaung commented on #489
I am having a similar issue, with version smart-open-2.1.0.

This is my output of the directory:

Python 3.7.6 (default, Jan  8 2020, 13:42:34)

['BZ2File', 'BytesIO', 'DEFAULT_ERRORS', 'IS_PY2', 'P', 'PATHLIB_SUPPORT', 'SSLError', 'SYSTEM_ENCODING', 'Uri', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'boto', 'codecs', 'colle

[2020-07-15 03:11] kasgu opened #520 "Slow S3 write for csv.gz file"
#### Problem description

Be sure your description clearly answers the following questions:

- What are you trying to achieve?
We try to move data (in memory) from database to S3 (in csv.gz format) using smart_open.
- What is the expected result?
We are reading 10M at a time & write it back to s3. This write should not take more than 5 mins.
- What are you seeing instead?
This write is taking more

[2020-07-15 09:32] piskvorky commented on #520
What happens if you drop the `.gz`, is it still slow? Or if you store the output locally (not to S3).

I'm trying to localize what the issue may be.

Is the output file written correctly? When you download & unzip the generated `.csv.gz` from S3, does it open correctly.

[2020-07-15 09:38] kasgu commented on #520
Q: What happens if you drop the .gz (write only .csv), is writing still slow? Or if you store the output to a local file (not to S3).
A: I need it to be .gz & can't store data in local data.

Q: Is the output file written correctly?
A: Yes, I was able to read the file correctly.

Are there any settings which can improve the performance for the large data volume write to S3?

[2020-07-15 09:44] piskvorky commented on #520
What speed do you get when you download the `.csv.gz` and upload it to S3 using the native `aws s3` CLI command? On the same machine where you're reporting this.

[2020-07-15 10:04] kasgu commented on #520
Upload speed - 11.1 MB/s
download speed - 55.6 MB/s

[2020-07-15 12:58] piskvorky commented on #520
And how large is your batch of 10M rows, in bytes?

At 11.1 MB/s, you could theoretically upload 78 GB in 2 hours (theoretical maximum).

[2020-07-15 13:29] mpenkov commented on #520
There are several factors at play here.

First, gzip compression is CPU-bound. If you have multiple cores, then you could get more done by processing parts in parallel.

Second, smart_open _streams_ the result to S3. This is convenient (obviously, otherwise you wouldn't be using smart_open :)) but this convenience comes at a price: you cannot parallel-process a single stream the same way you can p

[2020-07-15 13:32] mpenkov commented on #520
I don't think @piskvorky was proposing a workaround. Instead, I think the Q is a suggestion for an experiment that you could perform to determine where the bottleneck is. The results of that experiment would the help us come up with ideas. Help us help you ;)

[2020-07-15 13:33] piskvorky commented on #520
The upload still happens in chunks IIRC (multipart upload). So the file abstraction is not that far off – it's not like smart_open sends each line over the network, separately.

[2020-07-15 13:42] kasgu commented on #520
10M is around 2.4 GB.

What setting I can modify at smart_open to get some benfit in performance.

[2020-07-15 14:20] piskvorky commented on #520
`smart_open` comes with all benefits already enabled, so nothing we can do here (besides you trying the options above to provide more clues).

[2020-07-15 14:20] #520 closed

[2020-07-17 01:30] petedannemann commented on #502
Azurite has very little implemented functionality, we should not use it until it is more mature.

[2020-07-17 01:30] #502 closed

[2020-07-22 20:47] impredicative opened #524 "Reading parquet using smart_open+pandas is 3x slower than pandas"
#### Problem description

Reading a parquet file from S3 with `smart_open` + `pandas` + `pyarrow` is seriously slower (3x) than if using just `pandas` + `pyarrow`. I independently tried optimizing `buffering` and `buffer_size` with no luck.

#### Steps/code to reproduce the problem

[code]

#### Versions

Please provide the output of:

[code]

[code]

#### Output
Trial 1:
[code]

Trial 2:
[code]

[2020-07-23 07:31] piskvorky commented on #524
Thanks for the detailed quality report.

Do you know how the version *without* `smart_open` fetches data from S3? Is it not using `boto`?

[2020-07-23 11:22] impredicative commented on #524
I believe `pandas` natively uses the `boto3`, `s3fs`, and `fsspec` packages to interact with S3. I don't know more.

Note that this issue doesn't exist with reading `csv.bz2` files, for example, using `pd.read_csv`.

[2020-07-23 13:12] piskvorky commented on #524
You mean when reading them from S3? So the issue is specific to the Parquet format?

[2020-07-23 14:18] impredicative commented on #524
Yes.

The issue is specific to **using `smart_open`** with pandas+boto3 to read parquet from S3. Why is it a third of the speed of pandas+boto3+s3fs+fsspec??

[2020-07-23 14:20] impredicative commented on #524
As we know, parquet is a columnar data format. If the file has n columns of data, pandas could in theory try to read it in up to n streams.

[2020-07-23 14:22] piskvorky commented on #524
Yes, that's what I meant. The issue appears only with smart_open and parquet, not with smart_open and csv (for example).
That's a strong clue.

We'll look into this, thanks for the strong report. Although I cannot promise any timeline, we're all quite busy. If you're able to check what requests pandas is sending (vs smart_open) yourself that'd be great – nothing jumps to mind immediately.

[2020-07-23 14:31] snabar opened #525 "Error when uploading to s3 presigned urls"
#### Problem description

I get an error trying to write to an s3 presigned url using smart_open.

#### Steps/code to reproduce the problem

Create a presigned s3 url:

[code]

Try to write something to it:

[code]

Error:
[code]

#### Versions

Python version: 3.8

[2020-07-23 21:15] impredicative commented on #524
Enabling DEBUG level logs may or may not help, but I'll leave this to the developers.

[2020-07-29 14:51] Auburngrads commented on #489
This issue doesn't appear to have been fixed in the latest versions `smart_open`.

Both 2.0.0 and 2.1.0 state that the `smart_open.smart_open()` is deprecated in favor of `smart_open.open()` in **smart_open/smart_open_lib.py** although this doesn't seem to be what is occurring.

Also, the list of exported functions I see from `smart_open`  does not include `open`

[code]

My immediate issues with

[2020-07-29 16:00] piskvorky commented on #489
@Auburngrads are you sure you're using the latest smart_open?

My guess would be you have two (or more) instances of smart_open installed, perhaps in different virtual environments. And one is old (`smart_open.smart_open`) which is what the gensim environment is picking up.

Otherwise it's really weird. How did you install smart_open? Can you uninstall it, re-install the latest version again and *

[2020-07-29 18:29] Auburngrads commented on #489
@piskvorky possible that I would have multiple versions installed, but seems unlikely.

Not using any virtual environments that I'm aware of and only have `smart_open` installed to my only custom environment (not found in base).  Installed using `pip` in anaconda prompt.

Removed and reinstalled `pip install smart_open`, verified version 2.1.0 is installed and have the same issue

Installation log

[2020-07-29 20:06] piskvorky commented on #489
Thanks. When you open the file `c:\users\aubur\appdata\local\r-mini~1\envs\r-reticulate\lib\site-packages\smart_open\smart_open_lib.py`,  do you see the line `def open(` there?

My MD5 hash of that file in release 2.1.0 is `MD5 (smart_open_lib.py) = 5fcfed617811f6b63cd8ff44df118e83`.

[2020-07-29 21:08] Auburngrads commented on #489
I do, yes.

I haven’t found anything in this file that I can attribute to why `open` would not be available.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Radim Řehůřek<mailto:notifications@github.com>
Sent: Wednesday, July 29, 2020 4:06 PM
To: RaRe-Technologies/smart_open<mailto:smart_open@noreply.github.com>
Cc: Jason Freels<mailto:Auburngrads@live.com>; M

[2020-07-29 21:33] piskvorky commented on #489
What does `import smart_open; print(smart_open.__file__)` say?

[2020-07-29 21:36] Auburngrads commented on #489
It returns C:\Users\Aubur\AppData\Local\r-miniconda\envs\r-reticulate\lib\site-packages\smart_open\__init__.py

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Radim Řehůřek<mailto:notifications@github.com>
Sent: Wednesday, July 29, 2020 5:33 PM
To: RaRe-Technologies/smart_open<mailto:smart_open@noreply.github.com>
Cc: Jason Freels<mailto:Auburngrads@live.com>;

[2020-07-29 21:39] piskvorky commented on #489
What's up with the `r-mini~1` vs `r-miniconda`? Do both paths exist, or is some program truncating the path like that?

[2020-07-29 22:24] Auburngrads commented on #489
The paths are the same, although anaconda prompt is truncating the printed path.  This did highlight what my be my issue, though.

I interact with Python via Rstudio through an R package called reticulate.  This is essentially a Python REPL that uses the `r-reticulate` environment by default (The non-truncated path is returned by the REPL).  Up until this I’ve never seen a difference between the b

[2020-07-29 22:29] piskvorky commented on #489
Great. I'm closing this ticket – the issue is with conflicting Python versions, as expected.

For others stumbling on this ticket in the future: please check your Python paths, make sure the problem is not in your  local setup.

[2020-07-29 22:29] #489 closed

[2020-07-30 22:38] impredicative opened #526 "In setup.py, replace piskvorky with RaRe-Technologies"
In the `develop` branch, `setup.py` has the line:

It should instead have:

[2020-07-30 22:46] piskvorky commented on #526
The redirect works, but why not.

How did you find this, what's your motivation?

[2020-07-30 22:53] impredicative commented on #526
I found this while reading `setup.py` for the package's requirements. I'm currently having a random error with `urllib3` while using `smart_open`; I'm investigating.

Despite the redirect, the motivation is accuracy.

[2020-08-05 13:02] AlexPadron opened #527 "Allow passing boto3 S3 resource as a transport parameter"
#### Problem description

Not a problem, but a feature request that I wanted to get feedback on prior to making a PR.

My goal is to make smart_open fail faster when it tries to open an S3 URI that does not exist. To do this, I'd like to be able to pass a boto3 resource as a transport param, to reduce the runtime of open. Re-initializing the boto3 resource is expensive, and for opening nonexistent

[2020-08-05 13:31] piskvorky commented on #527
Sounds reasonable to me, but let's wait for @mpenkov 's review – he's the most up-to-date with that module.

[2020-08-06 18:36] davidparks21 opened #528 "smart_open.open does not handle open(file_descriptor) by passing it off to os.open, exception raised"
#### Problem description

The Python documentation states that the built-in `open` function accepts a integer file descriptor.

https://docs.python.org/3/library/functions.html#open

I have globally replaced `open` with `smart_open.open` but some library code is calling `open(file_descriptor)`.
I expected `smart_open.open` to hand off to `open` when the parameter is an integer.

Specifically quoti

[2020-08-06 21:17] piskvorky commented on #528
You're right, the Python 3 docs do allow for integer value of `file`. I don't remember that from Python 2, this must be some novelty we missed during the migration.

We definitely want to support anything the built-in supports, so I marked this as a bug. Thanks for reporting.

Are you able to open a PR with a fix?

[2020-08-06 21:33] davidparks21 commented on #528
I will try to do a fix for it and send a PR, it should be easy to correct, but I can't do it at this moment so I won't promise I'll find the time. But if I do have some time free in the next few days I'll reply here.

[2020-08-08 14:12] mohammadjavadnouri commented on #489
Hi everyone, I have the same issue! :(

[2020-08-14 09:18] spinlud opened #529 "s3_iter_bucket: stream instead of downloading full content?"
Is it somehow possible to use `s3_iter_bucket` to open a stream for each key instead of downloading the full content? The actual behaviour could be problematic for very large files that do not fit in memory.

[2020-08-14 09:31] piskvorky commented on #529
It is possible, but defeats the purpose of `s3_iter_bucket()`.

If you need just the keys, and are OK with downloading the data yourself later, why not simply list the keys (strings) and open them with `smart_open` as/when needed?

There's no point complicating the situation with parallel `s3_iter_bucket()` downloads, when you're not actually downloading anything.

[2020-08-14 09:41] spinlud commented on #529
Well, it would be nice to have an option inside s3_iter_bucket (or maybe a new method) to switch from downloading to streaming mode per key (I am using smart_open for its streaming functionalities).

Actually I have to list the keys using `boto3.client('s3').list_objects_v2(...)` and then iterate over the keys with `smart_open.open(...)`, while it seems reasonable to have all this wrapped inside `

[2020-08-14 09:44] piskvorky commented on #529
Yes, listing keys and then opening the ones you need seems the way to go. But I'll leave this open for @mpenkov 's thoughts.

[2020-08-16 10:52] mpenkov commented on #529
IMO smart_open should focus on streaming. Listing a bucket (which is essentially what this feature request boils down to) is already covered by boto3 reasonably well, and offering a new abstraction over that isn't going to bring much value.

[2020-08-16 12:09] #529 closed

[2020-08-16 12:09] piskvorky commented on #529
Agreed. Sorry @spinlud – that's for the suggestion, but closing as "won't fix".

[2020-08-18 05:40] mpenkov commented on #525
This isn't a use case that we currently support. I'm not sure where to implement support for it, either. It's not really an S3-specific thing - you're expecting to do a simple HTTP POST, right?

[2020-08-22 14:33] zjafriec opened #531 "Smartopen failing on Windows"
We called smart_open.open() on a s3 link on a Windows machine and got the following error inside the smartopen library:

...
    with open(input_file, 'rb') as fin:
C:\ProgramData\Anaconda3\lib\site-packages\smart_open\smart_open_lib.py:225: in open
    binary = _open_binary_stream(uri, binary_mode, transport_params)
C:\ProgramData\Anaconda3\lib\site-packages\smart_open\smart_open_lib.py:401: in _

[2020-08-24 07:36] mpenkov commented on #531
I think the issue is you're using a backslash (\) as the separator between the bucket and key. You should use a slash (/).

[2020-08-24 11:50] TobiMayr opened #532 "open() ignores newline for s3 csv"
#### Problem description

I have a CSV on a S3 and I try to read it line for line with open(). The CSV has new lines (\n) within the lines but a single line always ends with carriage return and new line (\r\n).
When I try to read the file, my lines always get split in the middle instead of the end. Setting the newline parameter seems to make no effect.

#### Steps/code to reproduce the problem
Exa

[2020-08-24 12:27] piskvorky commented on #532
What does Python's built-in `open()` do on your CSV?

[2020-08-24 14:18] justindujardin opened #533 "Installing without AWS dependencies?"
First, thanks for building the awesome library. It works great! 👏

I've built a [library](https://github.com/justindujardin/pathy) that subclasses pathlib.Path to work with bucket storage, and it uses smart_open to provide the streamable io interface.

When installing smart_open it pulls in the AWS dependencies even if I'm only using it for GCS. I see that you all have setup the package to allow i

[2020-08-24 14:28] piskvorky commented on #533
I don't think there's any timeline, but being more modular in installing extras is something we'd like to do. Are you able to open a PR?

Related to #463.

[2020-08-24 15:02] TobiMayr commented on #532
You're right @piskvorky. It behaves the same way.
I could fix my issue with the CSV module:
`datareader = csv.DictReader(open('s3://my-bucket/my-file.csvv', encoding='utf-8'), delimiter=',')
        for order, row in enumerate(datareader):`

I will close this issue. Thank you

[2020-08-24 15:02] #532 closed

[2020-08-24 15:08] justindujardin commented on #533
Sure, I opened a PR with a first pass: https://github.com/RaRe-Technologies/smart_open/pull/534

[2020-08-25 13:09] AlexPadron commented on #527
Wanted to follow up on this issue and see if it is a reasonable solution

[2020-08-30 07:02] mpenkov commented on #527
Hi @AlexPadron,

Sure, adding a resource parameter is fine, as long as we clearly document how it works, in particular its interactions with the existing session parameter.

Sorry for the delay in looking into this.

[2020-08-30 09:58] #494 closed

[2020-08-31 18:21] luckydonald opened #535 "ClientError: An error occurred (413) when calling the UploadPart operation: Request Entity Too Large"
#### Problem description

Be sure your description clearly answers the following questions:

- What are you trying to achieve?
Upload an apparently too large file.

- What is the expected result?
The file is uploaded.

Having `UploadPart`s, I would files are splits into parts anyway, and those chosen too large.
They should be decreased in size after an `Entity Too Large` Error.

- What are you see

[2020-09-03 01:01] #463 closed

[2020-09-03 01:01] #533 closed

[2020-09-03 19:15] hoverinc-frankmata commented on #422
I can confirm this problem, though I noticed it in a different manner. I tested with a file similar to above, but used "transport_params=dict(buffer_size=1024)" to force it to stream in parts. I have 4 cases to share with you. Testing with gcs files named file.txt and file.txt.gz, and ignore_ext=True and False. Data was uploaded to gcs

- file.txt with ignore_ext=True, file.txt with ignore_ext=Fal

[2020-09-04 12:38] #376 closed

[2020-09-13 01:12] tourdownunder opened #536 "A S3 csv file UTF-8 file with invalid \x1c characters being interpreted as new lines"
#### Problem description

Be sure your description clearly answers the following questions:

- What are you trying to achieve?

Reading from S3 a UTF-8 csv file that has some corrupted characters thanks the source db using SQLASCII. The behaviour of smart open is different to the regular python file open.

- What is the expected result?

The row doesn't split across multiple lines. At least it doe

[2020-09-17 06:27] ppwwyyxx opened #537 "Support GCS files without credentials"
#### Problem description

Be able to read public GCS files without providing credentials.

#### Steps/code to reproduce the problem
[code]

Running the above code, `smart_open` failed with
[code]
while `tf.io` is able to successfully download the public file, although with a warning:
[code]

Since it's possible to download the file, it's best to not require a credential so that public files can be

[2020-09-17 06:50] piskvorky commented on #537
Thanks! That makes sense, I wasn't aware of that use case.

Can you open a PR with a fix?

[2020-09-17 08:33] mpenkov commented on #535
Can you please post some source code that reproduces your problem? It's not clear where are you trying to upload to.

[2020-09-17 14:59] petedannemann commented on #537
I do not suggest we make any code changes. Using an anonomous client is a rare use case and I think forcing someone to be explicit about it is OK. To accomplish what you want I think you just need to create the anonomous client and pass it into `smart_open.open`.

[code]

[2020-09-17 14:59] ravindrabhargava commented on #537
May I work on it, if no objection and still issue are open?

[2020-09-17 15:06] petedannemann commented on #537
I am in favor of documenting this in the README though

[2020-09-17 16:40] piskvorky commented on #537
Hm, maybe we can move this info / recipes on various connectors  (S3, GC, HTTPS…) into separate Wiki pages? And link to them from the README.

Because I'm worried the README is becoming unwieldy CC @mpenkov . Also it's showing a red badge "build failing" ATM.

[2020-09-17 17:38] ppwwyyxx commented on #537
What's the down side of always trying the anonymous client when no credential is found?
If that fails with permission issues an error can still be thrown. It seems like a strict improvement to me. For projects that use GCS to serve public files, this is a very useful improvement.

[2020-09-17 17:43] petedannemann commented on #537
Different behavior than the `google.cloud.storage` API

[2020-09-18 05:44] mpenkov commented on #537
@piskvorky We already have a how-to guide explicitly for capturing edge cases like this.

https://github.com/RaRe-Technologies/smart_open/blob/develop/howto.md

@petedannemann I agree, let's deal with this in documentation for now.

@ppwwyyxx Please feel free to add to that guide using a PR.

[2020-09-18 05:47] mpenkov opened #538 "Fix integration tests"
Looks like tests on Travis are expecting some new env variables that aren't being set correctly.

[2020-09-18 07:53] ppwwyyxx commented on #537
That's reasonable. However I thought the exact goal of this project is to provide simpler and more unified (in other words, less backend-specific) APIs. So this argument doesn't seem very compelling to me.

But I'll leave that to maintainers who know more about what's best for the project.

[2020-09-18 12:50] petedannemann commented on #537
My understanding is that the goal of this project was to provide a unified API for  _file like objects_ . I thought handling authentication to the "file systems" to access these file like objects was expected to be so different from system to system that smart_open defers to the underlying Python package's for each file system for authentication. That is why our `transport_params` kwarg exists. I

[2020-09-22 08:57] mpenkov commented on #538
Fixed: https://travis-ci.org/github/RaRe-Technologies/smart_open/builds/729233945

[2020-09-22 10:52] piskvorky commented on #538
@mpenkov what was the issue?

[2020-09-22 10:53] piskvorky commented on #538
N/M, I see the commit here: https://github.com/RaRe-Technologies/smart_open/commit/909930e9f30ee04a609fc0c8910389b963d7dba3

[2020-09-25 06:26] #392 closed

[2020-09-30 22:15] johntmyers opened #540 "2.2.0 minor release introduces breaking changes"
Hi,

I am generally curious as to why `2.2.0` was released with such a breaking change to installation / usage for a minor version vs a major version? Also the release notes are not accurate as `aws` is not a valid extra for installation.

[2020-10-01 02:51] mpenkov commented on #540
Thank you for pointing this out @johntmyers . Sounds like we failed to increment the version number correctly (again, argh).

@piskvorky I think the way forward is:

1. Release 2.2.1 with the old dependency behavior
2. Fix release notes (the extra name is s3, not aws. The README is correct, but release notes are wrong)
2. Release 3.0.0 with the new dependency behavior

WDYT?

[2020-10-01 08:45] piskvorky commented on #540
I agree. Such major breaking changes should come in a major release. How much work is reverting for 2.2.1?

Because the other option is to scratch (delete) 2.2.0 and release 3.0.0 outright.

[2020-10-01 08:52] mpenkov commented on #525
@snabar I'm thinking of a reason to implement this, but I'm unsure if it's worth it. What's the benefit of writing via HTTP POST instead of going via boto3? In other words, instead of this:

[code]

why not just do this:

[code]

What is your use case?

[2020-10-01 08:55] #519 closed

[2020-10-01 09:09] mpenkov commented on #499
This is out of scope, and work-arounds already exist (see #504).

[2020-10-01 09:09] #499 closed

[2020-10-01 09:10] #481 closed

[2020-10-01 09:12] #428 closed

[2020-10-01 09:13] #409 closed

[2020-10-01 09:13] #391 closed

[2020-10-01 09:15] mpenkov commented on #517
Looks like it's all there now: https://github.com/RaRe-Technologies/smart_open/blob/6a21ac0b06f4b30999dfc482f7d5f7da73e85fd5/help.txt#L89

[2020-10-01 09:15] #517 closed

[2020-10-01 11:36] #540 closed

[2020-10-01 11:42] mpenkov commented on #540
https://pypi.org/project/smart-open/2.2.1/

[2020-10-10 00:13] rchui opened #548 "Reading a 0 B file from s3 raises OSError"
#### Problem description

smart_open should be able to read a 0 byte file from s3 without raising an Exception.

#### Steps/code to reproduce the problem

1. Upload a 0 byte file to s3
2. Use smart_open.open to try to read it:

[code]

##### Traceback

[code]

#### Versions

Please provide the output of:

[code]

[code]

#### Checklist

Before you create the issue, please make sure you have:

- [X

[2020-10-14 14:13] Andrew-Sheridan commented on #548
Can confirm this is a regression. This error does not occur with version 2.1.0

[2020-10-14 15:06] piskvorky commented on #548
@jcushman could this be related to you #495?

[2020-10-24 10:33] mpenkov opened #551 "smart_open does not recover from connection errors when reading from S3"
[code]

[2020-10-25 20:27] Downchuck opened #553 "Investigation: Streaming zip files"
While the zip reader and writer work nicely with smart open, there are additional work-arounds to allow for streamable zip files. This is a fairly niche-case, used for transporting files without compression. See: [Stackoverflow on streaming zip](https://stackoverflow.com/questions/10405210/create-and-stream-a-large-archive-without-storing-it-in-memory-or-on-disk)

[2020-10-25 20:38] Downchuck commented on #553
Closing as archives are out of scope; much as with exists, multiple file handles/names are a different level of abstraction.
https://github.com/RaRe-Technologies/smart_open/issues/311

[2020-10-25 20:38] #553 closed

[2020-10-26 02:32] Downchuck commented on #553
Note, temporary files are similarly out of scope, and consequently out of scope of the atomicwrites project as well, as per
https://github.com/untitaker/python-atomicwrites/pull/28 file system consistency issues are another level of abstraction.

A temporary file is likely to be created within the target folder when using a local file system to try to maintain the ability to do an os.link, or an o

[2020-10-26 17:04] gilbsgilbs commented on #548
FYI, smart_open is requesting `Range=0-` to `get_object` which apparently AWS doesn't like much and produces the crash.

[2020-10-30 00:40] #548 closed

[2020-11-06 04:10] arunmk opened #555 "GCP download very slow for slightly large files"
#### Problem description
I am trying to download a slightly large file (1.1GB) and the attached code with `smart_open` takes a long time (15m40s) while a `gsutil cp` takes about 25s. The `storage.blob` API of google is also quite fast (and comparable to gsutil).

#### Steps/code to reproduce the problem

Code used:
[code]

Nearly each chunk read above takes close to 230s. (Write to output file on

[2020-11-06 04:29] arunmk commented on #555
I have tried various options including using a transport, trying to read all 1.1GB at once without chunking etc. They are all in a similar ballpark and very slow compared to gsutil.

[2020-11-06 07:39] mpenkov commented on #555
@petedannemann Are you able to investigate?

[2020-11-06 14:00] petedannemann commented on #555
[code]

Yep, this is much slower than it should be. I remember running initial benchmarks during development and seeing numbers much lower than this. I'm not sure if something has changed in the code or if my memory is failing me / I ran improper benchmarks, but these numbers are definitely unacceptable. I can try to do some profiling soon to figure out where the bottlenecks are.

[2020-11-06 14:37] petedannemann commented on #555
[code]

Seems like reading is the bottleneck and writing is performing fine. Since so much time is spent reading from sockets I wonder if there is a better option than the current `blob.download_as_string()` which seems to perform very badly.

[2020-11-10 19:57] zyd14 commented on #457
Is there any indication as to why this is the case? Seems strange that smart_open would take 3x longer for gzipped files than the first approach; is it just because it is decompressing chunk-by-chunk? Just curious because we've been seeing similar issues with very slow streaming of small to medium sized gzipped files via smart_open, with basically identical usage to what is described here.

[2020-11-11 07:50] mpenkov opened #556 "ValueError when attempting to read/write gzip files using rt/wt mode"
[code]

The workaround is to us r/w instead of rt/wt, but it's not convenient. We should handle this edge case in our code.

[2020-11-12 22:46] chrisfleisch opened #557 "Line splitting on \u2028 from S3"
#### Problem description

Be sure your description clearly answers the following questions:

- What are you trying to achieve?

Reading lines of text with a character \u2028 from S3 produces different output than from the local disk. I would like the output from S3 to match what happens from local disk.

- What is the expected result?

Lines of text from the local disk are not split on a \u2028 ch

[2020-11-13 07:05] mpenkov commented on #557
[U+2028](http://www.fileformat.info/info/unicode/char/2028/index.htm) is a special character that indicates the end of a line.

If you want to avoid splitting around it, read the file as binary, iterate over the binary lines, and then decode each binary line separately, e.g.

[code]

[2020-11-13 13:38] joao-miranda opened #558 "MultipartUpload doesn't seem to work with KMS Encryption"
#### Problem description

Trying to do a MultipartUpload doesn't seem to work when using a KMS key.

#### Steps/code to reproduce the problem

The code used was this:

[code]

works for a normal upload only.

[2020-11-13 20:28] chrisfleisch commented on #557
Thanks. When reading as binary for the remote I can now get the same results as the local file.

[2020-11-15 12:55] mpenkov commented on #558
Have you tried doing a multipart upload directly, without using smart_open?

[2020-11-16 10:46] joao-miranda commented on #558
@mpenkov  Not yet, as it would imply a considerable code change that I'd like to avoid. But are you saying smart_open doesn't work with KMS Encryption and MultipartUpload? If so I guess I'll have no other option.

[2020-11-16 12:15] mpenkov commented on #558
I can't definitively say either way. On one hand, it isn't something we tested for at all (the boto3 feature set is huge, so we don't test everything). On the other hand, smart_open is a relatively thin layer over boto3, so in theory we should support pretty much everything that boto3 does.

I'm not suggesting that you change your code base, I'm suggesting you try implementing a test project (sepa

[2020-11-16 14:35] joao-miranda commented on #558
I did the test project and this works in boto3:

[code]

[2020-11-17 02:37] mpenkov commented on #558
What version of smart_open are you using?

[2020-11-17 09:21] joao-miranda commented on #558
@mpenkov 2.0, but we can update it if needed.

[2020-11-17 11:04] joao-miranda commented on #558
I did a new test project with smart_open 3.0 and it seems to work. I'll get back to you after testing it on the actual project:

[code]

[2020-11-17 15:33] joao-miranda commented on #558
@mpenkov Everything works after the update. Sorry about wasting your time.

[2020-11-17 15:33] #558 closed

[2020-11-19 00:00] mpenkov opened #560 "Investigate failing HTTP tests and re-enable them"
I disabled the HTTP tests because they seem to be failing on Travis now. Will investigate separately.

_Originally posted by @mpenkov in https://github.com/RaRe-Technologies/smart_open/issues/559#issuecomment-730033024_

[2020-11-20 02:08] #556 closed

[2020-11-22 08:34] rkooo567 opened #563 "[S3 open] Is there a way to do range read other than seek?"
#### Problem description

I am trying to read X-Y bytes using the S3 open method. Based on the document, it seems like I could specify args for `Object.get` using a `object_kwargs` key inside `transport_params`. But when I specified,

[code]

It seems like this value is always overwritten by Range values overwritten by seek. https://github.com/RaRe-Technologies/smart_open/blob/2f1d1e605d8811abe64e

[2020-11-23 19:34] tylerkohn commented on #555
Hi @petedannemann have you had a chance to look into this more?  We are hoping to use smart_open as soon as this is figured out.  Thanks!

[2020-11-23 21:57] petedannemann commented on #555
I don't have time right now to work on this. Feel free to look at it yourself. If you want an alternative, I'd suggest [gcsfs](https://gcsfs.readthedocs.io/en/latest/)

[2020-11-23 23:09] ericl commented on #563
@rkooo567 are you sure this is actually the case? Seek seems to work for me here in that it doesn't download all the data:
[code]

[2020-11-23 23:37] rkooo567 commented on #563
Hmm based on code, it definitely reads from seeked position - EOF. https://github.com/RaRe-Technologies/smart_open/blob/2f1d1e605d8811abe64e35bb98e7c53d62c298b5/smart_open/s3.py#L379

Your example doesn't guarantee that it will download only 10 bytes of data right? This will still download the range `1000000 -EOF`

[2020-11-23 23:47] ericl commented on #563
It's not physically possible on my network connection to download the entire wheel in 270ms, so it must be reading a smaller range there. I'm guessing it reads up to some buffer size.

[2020-11-23 23:56] rkooo567 commented on #563
Turns out there was my misunderstanding somewhere. Maybe Object.get API doesn't read the whole bytes right away.

[2020-11-23 23:56] #563 closed

[2020-11-25 19:39] nikolajwestergaard commented on #457
I'm having the same issue.

Sadly it seems to be due to the nature of ZIP.  Unlike tar(with and without .gz) which is made for streaming (actually, reading from tape's) zip does use .seek, which means that smart_open ends up creating a lot of small requests! This is not a smart_open issue, but the nature of ZIP vs streaming. Each seek and read ends in another S3 request with range.

I'm however wo

[2020-11-28 04:45] mpenkov opened #564 "Mention extra installation instructions in README"
@mpenkov maybe mentioned these "optional installs" in README too?

Right now, the README contains examples for HTTP and WEBHDFS that will fail.

_Originally posted by @piskvorky in https://github.com/RaRe-Technologies/smart_open/issues/562#issuecomment-734840768_

[2020-12-01 00:15] #564 closed

[2020-12-03 19:52] rdb commented on #491
There are some valid reasons why having wheels would be helpful for even a Python-only package:
* It is the simplest, most elegant, least-moving-parts solution for getting a Python package installed.
* There are security considerations due to the fact that wheels require no code execution during installation, which may be a factor in restricted environments.
* Some build tools, one example being B

[2020-12-03 20:30] piskvorky commented on #491
Thanks, these look like valid reasons.

Updated summary from above:

---

**Pros:**

* The pip client no longer has to build wheels itself when installing. (that's an observation; what's the actual benefit?)
* The install process is marginally faster
* There are security considerations due to the fact that wheels require no code execution during installation, which may be a factor in restricted en

[2020-12-04 11:17] Rhuax opened #566 "[Feature request] Support for Databricks (Databricks FileSystem)"
Hi, super awesome library!
I would know if is it planned, in the future, the support for Databricks and the Databricks filesystem.

[2020-12-04 11:32] piskvorky commented on #566
Not planned, no. But if someone contributes an implementation, with strong motivation, documentation, testing etc, we'll consider it.

[2020-12-09 10:42] Rhuax commented on #566
Ok! I close the issue since my question has received an answer

[2020-12-09 10:42] #566 closed

[2020-12-22 07:22] mpenkov opened #570 "Unable to read from io.StringIO"
[code]

[2020-12-22 07:23] mpenkov commented on #570
version 4.0.1

[2020-12-30 08:06] mpenkov commented on #364
The solution here is:

1. Get your lambda functions to write to some temporary location on S3 (using smart_open)
2. Once the lambda functions finish running, concatenate the temporary locations together (either by using smart_open or boto3 directly)

[2020-12-30 08:06] #364 closed

[2020-12-30 09:27] mpenkov commented on #527
We did this in #569 and it's now available in smart_open v4.1.0

[2020-12-30 09:27] #527 closed

[2020-12-30 09:31] mpenkov commented on #526
Not worth bothering with this IMHO.

[2020-12-30 09:31] #526 closed

[2020-12-30 09:32] mpenkov commented on #512
Already done.

[2020-12-30 09:32] #512 closed

[2020-12-30 09:32] mpenkov commented on #483
Done, we're using Python scripts instead.

[2020-12-30 09:32] #483 closed

[2020-12-30 09:39] mpenkov commented on #482
We don't use appveyor anymore.

[2020-12-30 09:39] #482 closed

[2020-12-30 09:40] #161 closed

[2020-12-30 09:40] mpenkov commented on #62
We don't use Travis anymore.

[2020-12-30 09:40] #62 closed

[2020-12-30 10:19] impredicative commented on #526
That's irresponsible and unprofessional. I guess the peak days of this package are behind it.

[2020-12-30 10:23] impredicative commented on #526
It's time to stop recommending the use of this unprofessional package.

[2020-12-30 20:46] impredicative commented on #526
I'm going to go ahead and delete all my upvoted StackOverflow answers that mentioned the use of this package.

[2020-12-31 03:15] #330 closed

[2021-01-03 00:20] jackluo923 opened #575 "Boto3 resource ignored for s3 uploads"
#### Problem description
When specifying custom aws boto3 resource such as custom endpoint_url, the resource variable is ignored for uploads.
The expected result is to use the specified resource. The actual result is that the specified resource is ignored.

#### Steps/code to reproduce the problem

[code]

#### Versions

Please provide the output of:

[code]

[2021-01-10 03:30] markopy commented on #557
I have encountered this same problem using local files with a custom decompression handler. This is an actual bug, `U+2028` should not split lines. The python built in `open()` never does this which is the reason it works correctly only when opening local files. All other transports or using decompressors is broken.

The problem is in using `codecs` to wrap text files. It seems to split lines when

[2021-01-10 04:08] markopy commented on #557
I found some discussion of this at https://bugs.python.org/issue12855 which points to https://docs.python.org/3/library/stdtypes.html#str.splitlines for the list of code points that `codecs` treats as newlines:

Representation | Description
-- | --
\n | Line Feed
\r | Carriage Return
\r\n | Carriage Return + Line Feed
\v or \x0b | Line Tabulation
\f or \x0c | Form Feed
\x1c | File Separator
\x1d |

[2021-01-10 05:00] markopy commented on #557
More issues with the same problem:

#394 - Incorrect line separation for compressed files
#269 - Actually identifies the problem correctly as being `codecs.getreader()`

Note that there are also issues like #493 where `mode='rt'` being passed to gzip causes issues. No consideration seems to be given in the code as to whether underlying file objects should be opened in binary mode if smart_open doe

[2021-01-10 08:36] mpenkov commented on #557
Thank you for the detailed information. Are there any performance benefits/costs in moving from codecs to your proposed method? Are you interested in making a PR?

[2021-01-14 19:13] petedannemann commented on #555
Follow up on this. Buffering works fine as intended. I tested this by adding some logging to `smart_open.gcs._RawReader`

[code]

When reading a large file I see:
[code]

Note that @arunmk seemed to be using `min_part_size` instead of `buffer_size` so I'm not sure his benchmarking actually tested without buffering. @arunmk can you try again with using the `buffer_size` param?

[2021-01-14 19:15] petedannemann commented on #555
Note that comparing speeds to gsutil is not an apples to apples comparison. gsutil almost certainly using gRPC to download the file over a streaming connection

[2021-01-14 21:59] petedannemann commented on #555
**benchmark of smart_open reads** (I commented out the file writing in `read_write`)

[code]

**benchmark of `google.cloud.storage.Blob.download_as_bytes`** (performed on the same file as above).

[code]

[code]

**benchmark of smart-open writes** (I commented out the file reading in `read_write` and added a large min_part_size)
[code]

benchmark of `google.cloud.storage.Blob.upload_from_string`**

[2021-01-14 22:27] piskvorky commented on #555
Thanks for looking into this @petedannemann .

Is the cause known?

[2021-01-14 23:20] arunmk commented on #555
@petedannemann I initially used the api calls without the buffer_size parameters. Because they were extremely slow, I added the buffer_size parameters to check if they would help. I have also tried with large buffer sizes (1Gi etc) and they did not help in any noticeable manner.

[2021-01-15 06:13] arunmk commented on #555
@petedannemann could you also mention the version of the library used? I am not able to get to that codebase anymore,but I remember you also being able to replicate the slowness as per the initial comment.

[2021-01-15 06:49] #551 closed

[2021-01-15 06:55] #575 closed

[2021-01-15 17:25] tylerkohn commented on #555
thanks @arunmk for following up.  The version we had tested was 4.0.1

[2021-01-17 21:57] markopy commented on #557
@mpenkov There seems to be no performance difference. `TextIOWrapper` actually uses `codecs` internally so that makes sense.

[2021-01-18 05:46] #394 closed

[2021-01-18 05:46] #536 closed

[2021-01-18 05:46] #557 closed

[2021-01-18 05:46] #269 closed

[2021-01-18 17:07] markopy commented on #570
I briefly looked into this because one of the tests dealing with it failed.

If you want to support this I think the only way is to explicitly check for `StringIO` and return it unmodified from `open()`. Also raise an error if `mode='b'` or if `newline` is specified because those can't be supported. `encoding` and `errors` can be ignored because no encoding actually takes place with `StringIO`.

[2021-01-19 00:33] mpenkov commented on #570
I don't like the idea of an explicit check. It's too narrow.

How about a fin.peek(0) to see what's in the actual stream? If it's text, we can't do anything other than return it as is.

[2021-01-20 14:39] markopy commented on #570
I don't think StringIO has a `peek` method. Even if it did, other's would rarely implement it. You would have to do a `read` followed by rewinding with `seek` which limits you to random access files.

In general I'm not sure accepting file objects even makes sense. Why would you call smart_open or even the built in open if you already have a file object? I can see the point of having StringIO/Byte

[2021-01-21 05:18] mpenkov commented on #570
@markopy You make valid points.

@piskvorky WDYT? What was the motivation of allowing smart_open to accept a file object as input? It breaks symmetry with the built-in function.

[code]

Perhaps we should do exactly as the built-in option, and accept the above three classes as inputs exclusively?

[2021-01-21 08:51] piskvorky commented on #570
I'm not sure, would have to dig through the history. I like @markopy 's argument, makes sense to keep smart_open's mission clean and contained.

[2021-01-21 12:20] markopy commented on #570
Just one thing to add: For complete consistency with built in open you also need to accept integer file descriptors as pointed out in #528.

[2021-01-21 12:48] piskvorky commented on #570
I found this: https://github.com/RaRe-Technologies/smart_open/pull/32. @gojomo what was your motivation there, do you remember?

[2021-01-21 19:48] martindurant opened #579 "Hello from fsspec"
https://filesystem-spec.readthedocs.io/en/latest/ and related packages seems to cover much of the same ground as this repo. I don't know how I didn't come across it before!

There is probably scope to share and make each-others' libraries better. While I have a look at what is here, I would kindly ask anyone interested to look over fsspec. A few key features I would point out:
- a wider range of b

[2021-01-21 23:55] gojomo commented on #570
I can't recall the motivation. I vaguely think some bit of example code or downstream code in Gensim may have needed this behavior, and at the time I may have thought that even Python's `open()` worked this same way. There might have been a request via another issue or forum.
Given my minimal comment & your rapid review & integration, we'd probably talked about it somewhere else, but I'm not sure

[2021-01-22 00:26] mpenkov commented on #570
Are you interested in investigating this further @markopy ?

[2021-01-22 15:13] markopy commented on #570
The change from #32 now resides in `_open_binary_stream ` so it implicitly assumes the file is opened in binary mode. In that context failing for StringIO or anything else that returns something other than `bytes` on `read` makes sense.

There are a whole bunch of tests explicitly for `SmartOpenFileObjTest` as well as some using `BytesIO` to test other things. There is also a test for this use cas

[2021-01-23 08:56] mpenkov commented on #570
@piskvorky Removing support for open-ing a buffer (as opposed to a string) seems to have no effect on gensim tests.

What do you think about removing this functionality?

[2021-01-23 19:52] piskvorky commented on #570
I have no chips on the table – if `gensim` (and i guess `gensim-data`) continue to work, let's axe it.

[2021-01-24 06:41] mpenkov commented on #570
Yes, I think it does, even though it doesn't seem like people use this particular feature much.

[2021-01-27 11:26] saschalang32 commented on #33
Is this issue still relevant today? I'd like to work on that if that would be the case :)

[2021-01-30 17:16] cnmoise commented on #511
Hello! Any updates on this? I'm trying to stream large files using this library but it seems that the whole file is being kept in memory before it can be written to S3, which negates my reason for wanting to use this library in the first place.

I did a memory benchmark for a 140.6 MB file using memory_profiler and it seems that the whole file was held in memory for the duration
![Screen Shot 2021

[2021-01-31 02:07] mpenkov commented on #511
I'd be surprised if that's really the case. I think it's more likely the entire part (a single part of the multipart upload) is being kept in memory. The default part size is 50MB. You can tweak it by passing min_part_size as a transport_param (please see the README).

Also, check out https://github.com/RaRe-Technologies/smart_open/pull/547 - it has the option of buffering to disk instead of in me

[2021-02-01 17:20] nakashkumar opened #580 "Seek in write mode [io.UnsupportedOperation: seek]"
`with smart_open.open('s3://...', 'wb') as fout:
    fout.seek(0)`

I can seek in read mode but not write. It works with primitive open.
I am getting `io.UnsupportedOperation: seek`

[2021-02-02 00:28] mpenkov commented on #580
I'm not sure if it's possible to support this with boto3 (the library we use for connecting to S3) or even S3 in general.

The stream abstraction that smart_open offers is just that: an abstraction. Under the covers, smart_open performs a multi-part file upload. From what I understand, it isn't possible to change arbitrary parts of an existing object on S3: you'd have to overwrite it completely.

[2021-02-02 12:17] #580 closed

[2021-02-08 00:30] jdonaldson commented on #579
There's not much in the way of docs over at fsspec yet.  It would be great to have a way to specify a file or range of files from a location via a (pseudo) glob, and just have them stream into a local instance (ML training).  Supporting a shared pseudo glob format (e.g. s3://some_bucket/*.csv) would be very useful.  Right now, we're rolling our own on that front.

[2021-02-08 13:51] martindurant commented on #579
The great majority of users never see fsspec directly, so the docs, such as they are, are more dev-oriented.

I wasn't entirely sure what your feature request is, but you have the following two options:
[code]
to copy files to local (this works in batch/concurrently) or
[code]
to create `OpenFile` instances to be used in a `with` context, where they become normal file-like objects (optional extra

[2021-02-08 20:02] jdonaldson commented on #579
Ok, this is pretty nice.  Thanks for the tips here!

I might humbly suggest to sell this library a bit better via docs, My impression was that fsspec was more of an internal library (and as such likely to change without much notice).

[2021-02-08 20:16] martindurant commented on #579
Yes, indeed, that is how it has mostly been; but actually that makes it *less* likely to change, as it would break APIs in those other libraries.

I am the worst at keeping docs up to date and complete. I'll put it onto my list...

[2021-02-08 20:54] jdonaldson commented on #579
You've already done most of this, it's just buried in a subheader in the api docs : https://filesystem-spec.readthedocs.io/en/latest/features.html

[2021-02-08 20:55] martindurant commented on #579
I opened an issue to reformat the docs, as many use cases ended up on the features page, which has grown steadily with time.

[2021-02-09 00:36] quantumfusion opened #581 "io.UnsupportedOperation when calling tell()"
#### Problem description

Performing a `file_obj.tell()` on a file object returned by `smart_open.open` results in an error in the 4.1.2 release. However, when I switch to the previous 4.1.0 release, this does not occur. A quick search seems to point to #578 which introduces use of `io.TextIOWrapper`. Calling `tell()` is not using the underlying `tell()` from the cloud specific writers. The origin

[2021-02-09 02:02] mpenkov commented on #581
@markopy Are you able to take a look at this?

[2021-02-09 13:59] martindurant commented on #579
The initial reason for this issue was to see if there was a chance to work together, reduce duplication or confusion for users wishing to pick a library.

It should be pointed out that fsspec's origins were explicitly as a layer for Dask, so we have some unique concerns, particularly around serialising of file-system objects and open files (or `OpenFile`s).

[2021-02-09 14:31] markopy commented on #581
Strange, from a quick look at `TextIOWrapper` it should be calling the underlaying `tell()`. I will add some additional tests and investigate.

[2021-02-09 19:16] markopy commented on #581
The problem was that the writers for cloud storage did not indicate support for `tell()` by implementing `seekable()`. I have created PR #582 as fix.

Note however that per python spec (https://docs.python.org/3/library/io.html#io.TextIOBase.tell) `tell()` returns and opaque number in text mode which is only useful to return to the same position via `seek()`:

smart_open does not implement `seek()

[2021-02-09 19:59] quantumfusion commented on #581
Ah, thanks for looking into this. We have some code that was using `tell()` as a lazy way of logging that some stuff was actually written and not using it for any `seek()` behavior. Part of the motivation for creating the ticket was noticing the `tell()` implementation in `s3.py`.

[2021-02-09 20:08] markopy commented on #581
`tell()` will give you the bytes written if you open the file in binary mode but I don't think that's a guarantee that they are actually on s3 servers yet.

`flush()` would be the appropriate thing to call for that but unfortunately it's a noop in smart_open.

[2021-02-09 20:35] quantumfusion commented on #581
I see. Thanks for the clarification. Sounds like we need to go through and clean up our usage of `tell()`. Luckily it seems to only be used for a bunch of logging...

[2021-02-12 05:23] #581 closed

[2021-02-13 11:22] thesmith opened #584 "`.tell()` on write stream fails with `UnsupportedOperation` in `4.1.2` but not in `3.0.0`"
The following code (condensed) works with `smart_open` 3.0.0 but fails with `UnsupportedOperation` in 4.1.2:

[code]

This is really used in a loop so I can record at what offset each json line is written. This means I can seek to it easily again in the future if I read the file.

[2021-02-15 02:31] mpenkov commented on #584
Duplicate of https://github.com/RaRe-Technologies/smart_open/issues/581

[2021-02-15 02:31] #584 closed

[2021-02-20 09:23] ryan-schreiber opened #585 "Read from Github API"
This is a feature request/question.

I was wondering if you guys had any development plans to support reading/calls to the github api? I was able to implement a relatively simple [extension of the http module's open](https://github.com/ryan-schreiber/smart_open/commit/6b0256b185f71f62513cc06ea42b036cab322b22#diff-e868a495dbb739de09c2ca4fddad1868e2aa691ad89682bc7328fdb388b2d031), and it works well

[2021-02-20 21:06] mpenkov commented on #585
No, not really. I don't think the benefits justify the cost. For example, the abstraction that smart_open uses is streaming. In this particular case, this abstraction doesn't fit well with github in the write case, as you have correctly pointed out.

For people that need read stuff from github, HTTPS approach you detailed is probably good enough. Would you be interested in adding that to the howto

[2021-02-20 21:37] ryan-schreiber commented on #585
Gotcha, yeah that makes sense. Reading in a full response, modifying, and wrapping in a stream isn't exactly the same thing as a proper stream haha.

Sure, yeah I'll add a section in that file about the http approach above and create a PR.

[2021-02-21 02:00] ryan-schreiber commented on #585
I see that it's merged in so going to close the issue.

[2021-02-21 02:00] #585 closed

[2021-02-24 06:31] deadwind4 opened #587 "Could support kerberos hdfs?"
Could smart_open read kerberos hdfs data?

[2021-02-24 09:28] mpenkov commented on #587
I cannot answer that question definitively. Are you able to try it and find out for yourself?

[2021-03-02 16:33] danielpazeto commented on #393
I had the same issue when trying to open a gz file, when I run unitests the same warning has been shown.
I'm using **smart-open==4.2.0**

[2021-03-03 10:12] nalepae opened #588 "`tests` directory is installed with `pip install`"
#### Problem description
**Version:** 4.2.0

**Observed:**
[code]

We get:
[code]

==> Tests files represent 60% of the total package size.
These files are not needed at "run time".

**Expected:**
==> Tests files are not installed with `$ pip install`. (So the size of the package goes down to 340 kB.)

**Additional information**:
If this issue is validated, I can fix it and provide a PR.
The size

[2021-03-03 19:48] petedannemann commented on #588
I think we can exclude this with the following in `setup.py`

[code]

[2021-03-04 01:30] mpenkov commented on #588
@piskvorky Are we including tests in the package intentionally? If not, then perhaps it would be a good idea to remove them.

[2021-03-04 01:38] mpenkov commented on #588
I skimmed through the commit logs and found this:

52d300fe423fddf12a1485c65a74882e65504a2 (#401)

So it looks like the tests and their data are packaged intentionally.
@jayvdb Do you remember what the motivation behind this was?
I think now is a decent time to review that decision and see if it's still worthwhile.

[2021-03-04 09:38] piskvorky commented on #588
That PR included the data for `smart_open` tests, so that they pass.

I think what's being asked here is to remove the tests from the packaged distribution altogether – both code and data.

FWIW I have no objection, included tests serve no purpose to me. Personally when I want to test a package, I go dev-mode and install from git and tinker (as opposed to `pip install` a prepackaged distribution).

[2021-03-04 10:35] nalepae commented on #588
So I guess I can open a PR?

[2021-03-04 22:34] e-nalepa commented on #588
I just opened https://github.com/RaRe-Technologies/smart_open/pull/589.

[2021-03-05 00:31] #588 closed

[2021-03-10 13:42] traboukos opened #592 "readlines on files from hdfs using webhdfs hangs"
#### Problem description

readlines on files from hdfs using webhdfs hangs

#### Steps/code to reproduce the problem

[code]

The issue seems to be in the following line
https://github.com/RaRe-Technologies/smart_open/blob/develop/smart_open/webhdfs.py#L147

Sometimes ```self._response.raw.read(io.DEFAULT_BUFFER_SIZE)``` returns 0 bytes and StopIteration is never thrown resulting in the call hangi

[2021-03-10 21:19] mpenkov commented on #592
Thank you for reporting this. Are you able to make a PR with a fix?

[2021-03-10 21:36] traboukos commented on #592
Yes can do if you are ok with the fix described above.

[2021-03-11 09:39] mpenkov commented on #592
I think a simpler way is to change one line:

    while 0 < len(self._buf) < size:

Right?

[2021-03-11 10:49] piskvorky commented on #592
[code]

This looks like an anti-pattern. I'm not familiar with the rest of the code, but isn't the standard pattern of append-to-list-then-join-at-the-end preferable?

[2021-03-12 04:52] kpdude7 commented on #513
@mpenkov What is the status of this bug? I have a similar need to read from one s3 account/profile and pipe the output to a separate s3 account/profile without writing to a temp file. Or is there another way of accomplishing this besides the OP example?

[2021-03-12 07:38] mpenkov commented on #592
Not sure what you mean, could you please elaborate?

[2021-03-12 07:39] mpenkov commented on #513
I haven't had time to reproduce nor resolve this. If you're able, please investigate.

[2021-03-12 07:43] piskvorky commented on #592
Edited my post above.

[2021-03-12 09:40] mpenkov commented on #592
Yes, you're right, string concatenation is awful.

The approach you suggest is definitely better. Another common way to to it is to write into an io.BytesIO buffer.

@traboukos Please go ahead with the PR, taking the above into account.

[2021-03-12 09:44] traboukos commented on #592
OK @mpenkov @piskvorky makes sense. Will send a pr.

[2021-03-19 21:01] mtesch-um opened #595 "Feature request: handle s3 url object versionId specifier"
#### Feature description

- What are you trying to achieve?

interoperability w/ url-like file specifiers that have the object version encoded in the path as `?versionId=...`

- What is the expected result?

this would return the correct version: `smart_open(`s3://buckety/pathy-like-path.txt?versionId=12345)`

s3fs does this nicely: https://s3fs.readthedocs.io/en/latest/api.html#s3fs.core.S3FileSy

[2021-03-20 11:45] ghost opened #596 "ImportError: cannot import name version"
I try to install a module named "seq2seq" which use smart_open but when I try to run it I have this errror message "from smart_open import version
ImportError: cannot import name version"

Could someone help me please ?
Thank you.

[2021-03-20 12:05] mpenkov commented on #596
Are you using pip to install packages? What is the output of `pip show smart_open`?

[2021-03-21 22:17] AmirUCR commented on #596
I had the same issue, but with node2vec on Python 2.7. Installing an older release of smart_open solved the issue. Looking at seq2seq's repo, it was updated last around March 2017. See here https://pypi.org/project/smart-open/#history - do the following

`pip uninstall smart_open`
`pip install smart_open==1.4.0`

Run seq2seq again, see what happens.

[2021-03-22 21:11] #592 closed

[2021-03-22 21:14] mpenkov opened #598 "Make module names, protocols and extra names consistent"
_Originally posted by @mpenkov in https://github.com/RaRe-Technologies/smart_open/issues/593#issuecomment-804399314_

[2021-03-24 19:35] petedannemann opened #599 "Refactor Google Cloud Storage to use blob.open"
#### Problem description

`google-storage` has [recently added an open function to blobs ](https://github.com/googleapis/python-storage/pull/385/files)that allows for file like IO. This would greatly reduce the amount of code we have to maintain and maybe solve https://github.com/RaRe-Technologies/smart_open/issues/555.

Before you create the issue, please make sure you have:

- [ ] Described the

[2021-03-25 05:15] davidparks21 commented on #380
I can confirm that I'm encountering this error when trying to upload a file over 5GB via `fout.write(buf)` as you've stated there.

[2021-03-25 12:33] mpenkov commented on #380
@davidparks21 Thank you for confirming the problem.

I think we can resolve the issue by ensuring that a single write call never puts more than 5GB. If there is more data, then subsequent write calls should handle it.

Are you able to make a PR?

[2021-03-25 14:15] patrickleclair-GORDONFN opened #600 "ignoring unsupported keyword arguments for client and ExtraArgs"
#### Problem description

Be sure your description clearly answers the following questions:

- What are you trying to achieve?
   Using the `smart_open.open` function I am trying to pass the `client` and `ExtraArgs` keywords allowed in Boto3 to my stream to an S3 bucket. [boto3 upload docs](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/s3-uploading-files.html)
- What is the expecte

[2021-03-25 15:13] davidparks21 commented on #380
Oh, so just raise an exception when one `fout.write(buff)` is called with a `buff > 5GB`?

That would be an easy solution to deal with for me. I think I could do a PR for that. There was one other small thing I wanted to do a PR for too, so this would probably get me off my butt to do both.

[2021-03-25 15:35] piskvorky commented on #380
smart_open's promise is to handle large uploads (and downloads) transparently. So instead of raising an exception, isn't it better to start another multipart piece when a chunk is >5GB?

IIRC smart_open is already handling multipart uploads transparently under the hood, so this should be no different.

[2021-03-26 00:32] mpenkov commented on #600
We don't support ExtraArgs, because we don't call the function that accepts them (upload_file). See https://github.com/RaRe-Technologies/smart_open/blob/develop/howto.md#how-to-pass-additional-parameters-to-boto3 for more details.

Does the warning go away if you remove ExtraArgs?

[2021-03-29 13:23] patrickleclair-GORDONFN commented on #600
Thanks for the heads up regarding ExtraArgs. Is there thoughts on adding this as a feature eventually?

Also the warning for `client` still appears when ExtraArgs is removed.

[2021-03-29 14:20] mpenkov commented on #600
No, because we use a different API to upload the file. What arguments are you attempting to pass? Is it possible to pass them as something compatible with the functions that we are calling instead?

Furthermore, the reason the client is being ignored is because you're incorrectly passing a tuple instead of a string as a URL.

Wrong:

[code]

Right:

[code]

[2021-03-29 16:08] patrickleclair-GORDONFN commented on #600
For the Extra Args we are looking at setting the ServerSideEncryption and ContentType. I looked at the Boto3 docs and they have both of those as passable arguments for what appear to be all of the functions you call from the how-to docs you sent me. However when I put them in I get the same warning and they aren't added to my file in S3.

[code]
output:
[code]
I also tried running:

[code]

and st

[2021-03-30 09:59] mpenkov commented on #600
OK, I've worked out what the problem is. First and foremost, the docs were for an unreleased developer version, and you had 4.2.0 installed. I've since released 5.0.0 - if you install that, the behavior should be more like what you expected.

Second, you're passing the Content-Type parameter (and other parameters) incorrectly. You need to do something like this:

[code]

See the [docs](https://git