[2015-01-25 06:49] pombredanne opened #7 "Consider using bz2file for python < 3 to support multistreams bz2"
Large bz2 files are often processed with pbzip2 and end up being multistream files. Python 2.7 does not handle them yet (Py 3 does). bz2file is a backport of that (by the author of the feature) to py 2.7
https://github.com/nvawda/bz2file
https://pypi.python.org/pypi/bz2file/0.98
I got bitten by that, so I wanted to share it...
/HTH

[2015-01-25 06:51] pombredanne commented on #7
oh and BTW, Py 2.7 silently ignore the multiple streams... So unless you are careful you may end by extracting only part of a file, without knowing it.

[2015-01-25 08:42] piskvorky commented on #7
I didn't know, thanks!

We intend to support py2.6 too, would that work there as well?

[2015-01-25 08:43] piskvorky commented on #7
Never mind, docs say it supports >=2.6 :+1:

Can you do a pull request for this "multistream bz2"?

[2015-01-26 12:35] pombredanne commented on #7
@piskvorky sure, let craft a quick commit later today

[2015-01-27 22:08] pombredanne commented on #7
here is the fix.

[2015-01-29 06:26] #7 closed

[2015-02-06 18:30] rouge8 opened #11 "git tags for versions/releases"
Could you add git tags for the releases?

[2015-02-07 09:40] piskvorky commented on #11
Good idea!

CC @VincTheSecond: remind me to show you how.

[2015-02-14 18:36] chuinker opened #12 "Unable to read gz files on s3"
It reads them, but it the data remains compressed, thus defeating line iteration.

[2015-02-14 18:37] chuinker opened #13 "readline() method"
This would be useful for extracting the header from a csv.

[2015-02-18 18:20] piskvorky commented on #13
I agree. Can you implement it?

[2015-02-18 18:21] coreyatmoat commented on #13
I'll give it a shot.

[2015-02-18 18:25] piskvorky commented on #12
Transparent (de)compression is only supported for local files now.

Should be possible to do it transparently for S3 files too, using Python's `zlib`. Let me know if you want to tackle this -- a low-hanging, extremely useful feature!

[2015-04-10 20:35] piskvorky opened #18 "urisplit doesn't work on Windows"
Windows-like URIs for local filesystem, such as like `c:\users\whatever` trip up `urlsplit()` -- it detects `c` as the scheme.

And then smart_open fails with "unknown URI scheme" of course.

[2015-04-10 20:48] #18 closed

[2015-05-15 13:13] piskvorky commented on #13
@coreyatmoat what's your progress?

[2015-05-15 16:50] coreyatmoat commented on #13
Sadly no. A while back a co-worker wrote https://gist.github.com/coreyatmoat/c961f99dfb0cfabdda54 as a sort of work around, but I haven't had time to figure out how it'd fit into your framework.

[2015-06-15 17:46] salilb opened #21 "Getting last modified time from s3_iter_bucket"
Is it possible to get the last_modified time of the file when using the s3_iter_bucket function?
If not, would you consider adding a flag so that the modified time is returned as part of the tuple?
Thanks

[2015-06-15 20:08] piskvorky commented on #21
Hmm... if we do add that, we should add it in a more general way. So that next time someone doesn't come and ask for another flag, for another metadata X.

Do you have an idea of how to do it cleanly?

[2015-06-16 17:05] salilb commented on #21
Why not return the key as is instead of just the key name? That way the user can extract the name, size and last_modified time.

[2015-06-16 19:44] piskvorky commented on #21
Sounds reasonable. It's a backward incompatible change though, so we have to communicate it clearly.

Can you start a PR?

[2015-06-17 16:53] salilb commented on #21
I sent a PR.

[2015-06-17 19:12] piskvorky commented on #21
Thanks, I'll check it out!

[2015-06-17 19:12] #21 closed

[2015-06-18 06:23] brianmingus commented on #12
+1 for this issue, I have some example code here: https://gist.github.com/brianmingus/a47f26760d244ba7e9d1

[2015-07-13 11:21] ziky90 opened #23 "Support of WebHDFS"
My idea is to add possibility to read from WebHDFS.
It would probably need to be implemented as some wrapper on top of WebHDFS API.
https://hadoop.apache.org/docs/r1.0.4/webhdfs.html

Based on the observations from API:
- Streaming seems to be possible
- It will involve probably requests library dependency (is this possible?)
- It might involve necessity of creating some config file with details a

[2015-07-13 12:44] piskvorky commented on #23
Yes, we accept any new functionality that fits the mission of `smart_open` = Pythonic API read/write access to large (streamed) data files, no matter the protocol.

Requests is a stable library, depending on it is no problem.

Authentication / login configs: as long as it doesn't affect the other (existing) code paths and is conceptually sane (maintainable).

[2015-07-13 14:32] ziky90 opened #24 "Bug (maybe feature) in HdfsOpenRead"
On line 249 I have noticed a minor bug in reading from HDFS

There is used command `hadoop fs -cat` which based on the documentation http://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-common/FileSystemShell.html reads any file mounted to Hadoop (HDFS, FS, HFTP FS, S3 FS, and others)

Correctly to meet what smart_open claims to do there should be used `hdfs dfs -cat`.
http://hadoop.ap

[2015-07-13 16:14] piskvorky commented on #24
I don't think anybody ever used that code path, and there are no unit tests for it.

So whatever works for you -- the HDFS support is extremely rudimentary now.

[2015-08-02 12:15] #24 closed

[2015-08-05 11:13] ziky90 opened #26 "Smart open does not work with S3 buckets containing dots"
Smart open is not working with buckets that contains `.` in name such as `com.ziky90.project`.

Particularly I am getting an error log that looks as follows.

[code]

**NOTE:** (I use smart_open from gensim)

It seems to me that the bug is related to https://github.com/boto/boto/issues/2836 and I am wondering if for example replacing boto by boto3  would help?

[2015-08-05 12:34] piskvorky commented on #26
Thanks for reporting. Last time I looked, `boto3` was unfinished and had many issues.

But if it works better, we could (should) switch to boto3 of course. This will need careful testing (and updating all code) though, as the two libraries are not API-compatible IIRC.

[2015-08-07 08:50] ziky90 opened #27 "missing readline in S3OpenRead"
Missing readline in S3OpenRead is related to and more in detail explained in https://github.com/piskvorky/gensim/issues/421

[2015-08-07 10:36] piskvorky commented on #27
Closing as duplicate of #13 .

[2015-08-07 10:36] #27 closed

[2015-09-08 14:34] piskvorky commented on #27
@ziky90 can you add this?

[2015-09-08 14:44] ziky90 commented on #27
@piskvorky Where should I add this?

[2015-09-08 16:43] piskvorky commented on #27
In `S3OpenRead`... or what do you mean?

[2015-09-09 07:20] ziky90 commented on #27
Oh sorry I though that this is a different issue.
I can try to look up the default behaviour of `readline()` and try to implement it during September.

[2015-09-16 15:28] ziky90 commented on #23
Implemented in #29 #31

[2015-09-16 15:28] #23 closed

[2015-09-16 15:34] ziky90 opened #33 "Support for reading and writing files directly to/from ftp"
Another feature that I would like to have in smart_open is support for direct reading/writing of the data to/from ftp.

Anyone else interested in this? Does this make sense?

[2015-09-16 15:56] val314159 commented on #33
I thought about making a scp interface in the worst possible way, (make a shell command).

[2015-10-12 15:50] Mgutjahr commented on #13
+1

[2015-10-13 09:33] tmylk opened #34 "Code snippets of smart_open improvements"
@ziky90 What are examples when smart_open comes in handy for HDFS and WebHDFS?

Someone invited me to talk about smart_open for 20 minutes. I have created the code comparisons for S3 below. Would like to expand them to other filesystems. What pains had smart_open solved for you in HDFS or WebHDFS?

![multipart](https://cloud.githubusercontent.com/assets/1261528/10450853/cf751d10-7194-11e5-8d2f-347

[2015-10-13 12:00] ziky90 commented on #34
The main reason of HDFS and WebHDFS for us is that we have data in different systems (FTP servers, S3, HDFS, locally) and by implementing WebHDFS we can easily switch just path when data are moved for example from S3 to HDFS.

Another reason was that I was used to use smart_open from my previous work.

Also you can write much shorter code. For WebHDFS you would have to do it via requests library,

[2015-11-04 13:19] asieira opened #35 "Using a proxy to access S3"
The boto S3 connection allows `proxy`, `proxy_port`, `proxy_user` and `proxy_pass` to be set explicitly. It would be nice to have a way to propagate those options from `smart_open` to the opening of the connection.

Maybe the best way to go about this is to allow the boto connection object to be passed to `smart_open`, instead of a new one being created each time.

[2015-11-04 14:21] piskvorky commented on #35
Hmm, couldn't we do this using by extending the functionality added in #30 ?

[2015-11-04 14:26] asieira commented on #35
Not sure if I understand what you have in mind, but I don't think we can use the same argument here.

On S3OpenWrite, the current usage for `**kw` is to pass it along to `initiate_multipart_upload`, not `connect_s3`: https://github.com/piskvorky/smart_open/blob/master/smart_open/smart_open_lib.py#L402

We could, however, add a new argument to `smart_open` that is a dict with keyword arguments to b

[2015-11-04 16:22] val314159 opened #36 "Add support for scp(ssh) protocol"
This would be pretty useful to copy from generic shell accounts to S3 and vice versa.

[2015-11-04 16:22] asieira commented on #35
Ok, I though of something simpler. How about `smart_open` properly handles the case where `uri` is actually an instance of `boto.s3.key.Key` and uses its data instead of creating new connection and bucket objects?

[2015-11-04 21:27] jsphpl opened #37 "Not working on app engine"
When trying to use smart_open in App Engine, i get the following error:
[code]

Loosely translated through google, this reads as *there is no multiprocessing on app engine*, see
- [http://stackoverflow.com/questions/22235919/cannot-import-name-args-from-interpreter-flags](http://stackoverflow.com/questions/22235919/cannot-import-name-args-from-interpreter-flags)
- [https://groups.google.com/forum/

[2015-11-05 06:13] piskvorky commented on #35
Hmm, interesting idea. As long as it's backward compatible (strings work the same way), we could "add" support for other types of input, why not.

Any comments @ziky90 @VincTheSecond ?

[2015-11-05 06:21] piskvorky commented on #36
Yes, I can see how that is useful.

Python's [fabric](https://github.com/fabric/fabric) library has good support for this kind of thing; perhaps we could build on top of that?

Are you up for a pull request @val314159 ?

[2015-11-05 06:26] piskvorky commented on #37
Very interesting use case, thanks for reporting!

Yes, if `multiprocessing` breaks `smart_open` on App Engine, we should make it optional. Multiprocessing is only needed in a few places, it's optional and not critical in any way for smart_open to work.

Can you add some checks around this in a pull request, @jsphpl ?

I'm thinking some dynamic (runtime) check to see if multiprocessing is available

[2015-11-05 06:43] val314159 commented on #36
Yeah, i hadn't thought of the exact mechanism, I figured the most dead simple way would be just to shell out a command.

fabric might be overkill, there's also this: https://pypi.python.org/pypi/scpclient
They're both front ends to the paramiko library.

Let me play around and see what I can do - it should be fairly straightforward.

[2015-11-05 08:19] piskvorky commented on #36
Perfect -- the simpler the dependencies, the better!

Thanks for offering the exploration / help. Feel free to open a PR for review once you have something reviewable.

[2015-11-05 08:24] ziky90 commented on #35
I like the idea. It would be useful for me as well to be able to use `proxy` parameter.

[2015-11-05 11:26] asieira commented on #35
The challenge is that for this to work, I would change the constructors for both `S3OpenRead` and `S3OpenWrite` to receive a `boto.s3.key.Key` instance, which would not be strictly backwards compatible if anyone was using them directly.

[2015-11-05 12:21] asieira commented on #35
I just submitted a pull request with a working version of this idea. I'll still need some help fixing one of the tests, which I temporarily commented out.

[2015-11-05 13:20] jsphpl commented on #37
Okay thank you, that sounds promising - i'll look at the code and see what i can do.

[2015-11-05 17:58] asieira commented on #12
It's interesting how smart_open is evolving into something similar for the Python world to what [Apache Commons VFS](https://commons.apache.org/proper/commons-vfs/) is to the JVM world. Maybe there's some inspiration of the abstractions they used to build something more general.

[2015-11-05 19:05] asieira commented on #12
This is useful for me as well, as soon as https://github.com/piskvorky/smart_open/pull/38 gets merged I could write this one.

[2015-11-06 05:21] piskvorky commented on #12
Thanks for the link @asieira -- I didn't know about VFS.

I'm all for learning from other people's mistakes -- what abstractions and designs in particular do you think would be useful?

[2015-11-06 10:04] ziky90 commented on #36
This is a good idea and it would remove my need of issue #33 which I was about to implement.

[2015-11-06 12:08] asieira commented on #12
The first thing they did was to create the abstraction for a *file system*, not opening a single file. Going the single file route as smart_open has gone so far is great for formats like xz, gzip and bzip... mas if you want to handle archives that themselves contain internal structure (like zip, tar, etc) that won't work as well. So in VFS, opening a ZIP file is akin to traversing a virtual folder

[2015-11-14 22:03] nikicc opened #40 "Cannot install if `LC_ALL=C`"
When the system environment variable `LC_ALL=C` I cannot install `smart_open`. The problem is in the dependency `httpretty`, since setup.py requires the version `httpretty==0.8.6` which is [know not to work with](https://github.com/gabrielfalcao/HTTPretty/issues/223) `LC_ALL=C`. The error I get is this:

    UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 133: ordinal not in r

[2015-11-15 01:38] piskvorky commented on #40
Oh, wow, not good.

A fix will be definitely welcome. Nobody's reported this yet.

[2015-11-24 14:34] perrygeo opened #42 "s3 seek"
If I try to use smart open to seek/read parts of an s3 file, I get `NotImplementedError: seek other than offset=0 not implemented yet`.

Arbitrary seeking, especially when the seek was specified relative to the beginning of the file (`seek(..., whence=0)`, should be possible through the `Range` HTTP header

[code]

`seek` could establish a pointer to the starting byte and subsequent `read`s would

[2015-11-25 02:53] piskvorky commented on #42
No, I think it's doable, and useful. Only no one did it yet.

[2015-11-27 19:11] perrygeo commented on #42
`get_contents_as_string` *should* respect the HTTP Range header but it doesn't always behave that way. In particular, I found that the first call read the entire contents while subsequent calls (with the exact same args and kwargs) pulled in only the requested bytes. I believe this to be a bug in boto. Unfortunately I couldn't find another way to implement this in boto2.

However, switching to bot

[2015-11-28 02:54] piskvorky commented on #42
Ah, great. `get_contents_as_string` didn't work when I tried, but your analysis is clearly more exhaustive :)

As long as it supports streamed reads and writes (large files), it's a welcome addition! I think we'd have to implement buffering internally (for the `for line in x:` line-streaming interface, looking for newlines), but that shouldn't be too difficult. The only tricky part is interaction

[2015-12-01 01:36] piskvorky opened #43 "Migrate to boto3"
Check if boto3 is production-ready and [migrate all code from boto to boto3](http://boto3.readthedocs.org/en/latest/guide/migration.html).

[2015-12-01 06:28] anupamme commented on #43
I tried running smart_open on ubunty (15.10) and when I run python3.5 setup.py test I get following error message

pkg_resources.DistributionNotFound: The 'httpretty>=0.8.8' distribution was not found and is required by the application

And I am not able to install httpretty 0.8.8 or higher version on this machine (I can get 0.8.6 version running by directly downloading the deb package). I opened

[2015-12-16 06:31] tmylk commented on #40
Fixed by #41

[2015-12-16 16:29] asieira commented on #43
I would suggest that event if boto3 is supported, existing implementation using boto 2 is kept as well.

There are many things boto3 hasn't implemented yet. To give one example, the lack of [explicit proxy support](https://github.com/boto/boto3/issues/338) would prevent me from continuing to use smart_open if it went boto3-only. See #35 for supporting evidence. :)

[2015-12-17 00:14] piskvorky commented on #43
Thanks @asieira , that's the kind of practical feedback we need!

I don't have experience with boto3, and certainly wouldn't want to inconvenience users by a hasty switch.

[2015-12-18 05:45] tmylk opened #47 "Add tests for #39"
Missing tests for the disable multiprocessing functionality. How to create them is discussed in #39

[2015-12-18 09:03] jsphpl commented on #37
Fixed by #39. Tests still missing (see #47)

[2015-12-18 09:03] #37 closed

[2015-12-18 10:34] nikicc commented on #40
Can this be reopened, since this does not work in version `1.3.1`?

The problem is that in #41 (that should fix this) the version was set incorrectly to `httpretty>=0.8.8`. It should actually be set to `httpretty>=0.8.12`, since `httpretty` version `0.8.12` is the first version that can be installed with `LC_ALL=C`.

[2015-12-18 10:53] piskvorky commented on #40
Yes, if the fix doesn't work, please reopen.

[2015-12-18 10:54] nikicc commented on #40
I would, but cannot. Can you?

[2015-12-18 10:54] piskvorky commented on #40
Sorry :)

[2015-12-22 18:20] hobson commented on #26
Similar problem for me. Perhaps smart_open isn't being used recursively at the contained objects within models like `LsiModel` (`LsiModel.Projection` object is split into two pickles, and `smart_open` not being used to open them separately). I have no problem opening these pickles with `smart_open` using the exact URIs given in the warning message.

[code]

[2015-12-23 05:06] piskvorky opened #49 "Get rid of file mode restrictions"
Currently `smart_open` is limiting file modes to `('r', 'rb', 'w', 'wb')` [here](https://github.com/piskvorky/smart_open/blob/master/smart_open/smart_open_lib.py#L110).

I don't think there is any reason for this -- remove the restriction and allow whatever mode is supported by the underlying storage ([such as `wb+`](http://stackoverflow.com/questions/34396300/gensim-installation-on-yosemite-using

[2015-12-24 04:28] piskvorky commented on #26
That's right, the numpy object are loaded using numpy's native `load` operation, which doesn't support s3 or `smart_open`.

The easiest work-around is to store your object using pickle (a single file) and smart_open, avoiding the load/save that split the object into multiple files. Or pass `separately=[]` to `lsi.save()`, that should work too.

[2015-12-25 13:33] hobson commented on #26
Perfect! Hadn't thought of the single-file workaround. Thanks!

[2015-12-30 23:01] gojomo commented on #49
This added strictness (from @asieira's 2015-11-05 commit c51f8dcb97f5e5cca70736a81a22f7d9308d7616) is causing problems in gensim's tests (see eg https://github.com/piskvorky/gensim/pull/570), which have used previously-tolerated mode `wb+`.  (Not sure the old code was doing the right thing with `wb+` – there was no case to handle it with regards to S3, for example – but at least it passed it throu

[2015-12-31 02:41] piskvorky commented on #49
Yeah this is urgent.

[2015-12-31 03:34] tmylk commented on #49
I will have access to a computer and release a fix on 2 Jan

[2016-01-03 20:37] #49 closed

[2016-01-04 18:24] johnrfrank opened #51 "don't pin requests to a specific broken version"
Was there a reason to pin requests==2.8.1 instead of the much friendlier "<=2.8.1"?

That version of requests pulls in a broken version of urllib3 that cannot do SSL properly, so we have had to pin "requests<=2.7.0".  Since you pinned to that specific version of requests, I have to also say:

        'gensim <= 0.12.1', # so it doesn't pull in smart-open newest that pins requests to 2.8.1

[2016-01-04 19:53] tmylk commented on #51
That's a httpretty requirement 2.8.1 so we need it to run tests.

[2016-01-05 05:46] johnrfrank commented on #51
I looked in HTTPretty to figure out if they can fix it there, and [they have a requirements.txt file](https://github.com/gabrielfalcao/HTTPretty/blob/master/requirements.txt) that says:

`HTTPretty doesn't have any requirements per se so far. yay!`

so.... where is requests==2.8.1 required?  :-)

[2016-01-05 08:34] tmylk commented on #51
See development.txt file

Would really appreciate if you could make httpretty work on Python 2 and 3 with later request!

[2016-01-05 09:19] piskvorky commented on #51
@tmylk not sure I understand. Why are we pulling in httpretty's `development.txt` file? Or even its `requirements.txt` file? How is it smart_open's business what libraries httpretty needs or doesn't need?

[2016-01-05 09:27] tmylk commented on #51
An error is generated by httpretty when it is used with requests later version.
I will post it this weekend.

[2016-01-05 11:42] tmylk commented on #51
@piskvorky
This is resolved by fixing the requests version.
This was not an issue in previous version of httpretty so I assume httpretty is the culprit.
Httpretty is developed with requests 2.8.1 version fixed.

[code]

[2016-01-11 19:15] AndreaCrotti opened #52 "Support buckets with "." in the name"
It's not exactly related to smart_open but it currently suffers from this issue as well, opening any key dots in the bucket name generate this error below:

[code]

In our projects we worked around this just by doing this (the calling_format), I think we could the same in smart_open:

[code]

[2016-01-12 11:02] AndreaCrotti opened #54 "Streaming gzipped files on S3"
Smart_open works very well for local gzipped fields, and for files on S3, is it not possible to stream gzipped files on S3?

I tried and it doesn't seem to decompress while streaming, is there a reason for it not to work or is it just not implemented?
thanks

[2016-01-12 15:14] AndreaCrotti commented on #54
Ah sorry just noticed this is a duplicate of #12 can close it..

[2016-01-12 15:14] #54 closed

[2016-01-12 15:15] AndreaCrotti commented on #12
+1 on this, I might be able to implement it soon since we'll probably need it..thanks

[2016-01-12 15:19] AndreaCrotti opened #55 "Not able to run tests"
For some weird reason I can't seem to run tests with "python setup.py test", the error here below.
I'm getting this both with Python 2.7.10 and Python 3.4, any idea why?

[code]

If I use pytest even if I have installed all the dependencies I get

[code]

[2016-01-13 01:39] piskvorky commented on #12
Sounds great @AndreaCrotti ... that would be really sueful!

[2016-01-13 10:40] AndreaCrotti commented on #55
I finally managed to get it working, by doing the same thing as Travis is doing so installing these:

pip install httpretty==0.8.10 requests==2.8.1 mock moto responses

Not entirely sure why we get that error without these packages though, any idea?

[2016-01-13 16:43] AndreaCrotti opened #56 "Cached reads"
The fact that smart_open is streaming is great and nice to use.

However sometimes we still need to get the whole file.

Would there be a way to actually cache the file content, to make sure that we don't actually re-read the whole file every time?

S3 files for example in our case never change, passing around the smart_open read object they would be re-read completely every time right?

Something

[2016-01-13 17:20] AndreaCrotti commented on #56
Actually this can be solved quite simply like this
[code]

Even if this is really make sense only for quite small files that can be actually loaded in memory, so I think using the smart_open internals something much smarter could be done..

[2016-01-13 19:51] val314159 commented on #56
if you wanted to go really nuts, you could start adding stuff to make it a
block filesystem, then those could be cached.

On Wed, Jan 13, 2016 at 9:20 AM, Andrea Crotti <notifications@github.com>
wrote:

[2016-01-17 08:15] tmylk commented on #51
Apologies, I have incorrectly assumed you were asking for a later version of requests, but now I realise you wanted to use an older one.

This is relaxed and merged in in #57.

If you could report back if it fixes the issue for you that would be greatly appreciated.

[2016-01-17 14:56] tmylk commented on #55
I don't know.

[2016-01-17 23:51] piskvorky commented on #55
@tmylk can you reproduce this?

[2016-01-18 23:44] piskvorky commented on #40
@tmylk : some progress in https://github.com/gabrielfalcao/HTTPretty/issues/278 .

[2016-01-26 02:17] Danilka opened #60 "Thank you!"
I just wanted to take a moment here and thank all the people who spent the time and made Smart Open possible.

Guys, you rock!

[2016-01-26 02:35] piskvorky commented on #60
Thanks @Danilka! Our pleasure, we appreciate the feedback :)

[2016-01-26 02:35] #60 closed

[2016-01-29 00:37] piskvorky opened #62 "Travis tests sometimes hang"
The Travis CI tests sometimes hang, and this may be indicative of a bug in `s3_iter_bucket` routine, which uses multiprocessing.

The failing tests mess up unrelated PRs (need manual test restarts, like in #61), so we want this fixed ASAP.

[2016-02-02 02:34] brunoalano commented on #43
+1

[2016-03-07 19:24] mjwillson opened #64 "S3OpenRead doesn't work with TextIOWrapper"
Currently only binary-mode read is supported, which would be OK if the stream you returned worked with `TextIOWrapper` -- but it doesn't, at least not `S3OpenRead`. `TextIOWrapper` expects readable, writable, seekable, closed etc methods. If you make S3OpenRead inherit (or quack like) `IOBase` that should fix it.

[2016-03-08 01:43] piskvorky commented on #64
I'm not familiar with hacking these classes. If you send a PR, we can add that support.

Is it possible to add it globally to all readers? (not just `S3OpenRead`)

[2016-03-24 02:14] piskvorky commented on #55
@tmylk can you reproduce this?

[2016-03-25 15:37] nikicc commented on #40
After a quick check `httpretty 0.8.14` seems to work ok with python3 and `LC_ALL=C` (at least locally). Is there any other reason why we still require httpretty to be fixed? Could we relax the condition to allow `httpretty 0.8.14`?

[2016-03-28 20:43] tmylk commented on #40
Thanks for the update. I tried `httpretty 0.8.14` on with Python 3.4 and it failed same way as in https://github.com/piskvorky/smart_open/pull/59 . Raised  https://github.com/gabrielfalcao/HTTPretty/issues/291

[2016-03-28 22:54] nikicc commented on #40
OK, I see. I just test the installation part (which seems to be fixed), but forgot to run the tests. Thanks for the effort!

[2016-03-29 09:03] tmylk commented on #40
Update: Both httpretty==0.8.12 and httpretty==0.8.14 give test errors.

httpretty==0.8.14 issue reported here
https://github.com/gabrielfalcao/HTTPretty/issues/291

[2016-03-29 09:56] nikicc commented on #40
Thanks for the update! I hope this is fixed in the next version of httpretty, so we can update and also fix #40.

[2016-04-01 03:14] vinayan3 commented on #43
+1. I'm having issues with Python 3.5 and Boto 2.39. From what I've read Python 3x is better with boto3

[2016-04-22 21:14] gwachob opened #72 "Update license trove classifier to reflect MIT license"
Hi-

In LICENSE you have a MIT license, but in the trove classifier for licenses, you have "Public Domain". In fact, those are separate licensing regimes.

Instead of `License :: Public Domain` in your setup.py you probably want `License :: OSI Approved :: MIT License`, so the metadata in/from PyPI is correct.

[2016-04-25 16:46] tmylk commented on #72
Fixed in https://github.com/piskvorky/smart_open/commit/62d58123a6fca0a5387d2454474407fded2d21bf Thanks for catching this!

[2016-04-25 16:46] #72 closed

[2016-05-13 08:22] nikicc commented on #40
I believe this is fixed since `httpretty` was removed from our dependencies by merging #69.

Could we also release a new version to pip?

[2016-05-13 11:16] tmylk commented on #40
Before it is released, can you test if the github version works with LC_ALL=C?

[2016-05-13 11:27] nikicc commented on #40
I already did and it seem to work OK. If you want to be sure, and re-test it yourself, I did the following:

1. `python setup.py sdist` to build the package.

1. `virtualenv t123` to create empty virtual env and activate it with `. t123/bin/activate`.

1. `LC_ALL=C pip install dist/smart_open-1.3.3.tar.gz`

[2016-05-20 17:26] nikicc commented on #40
This has been fixed with #69 and it works in the new release version `1.3.3` 😄

[2016-05-20 17:26] #40 closed

[2016-06-02 03:02] vinayan3 opened #74 "S3OpenRead ignores the mode of `'r'` opens always in `'rb'`"
The `S3OpenRead` always returns data as `bytes` in Python 3 which breaks things expecting `str`. The `S3OpenRead` needs to respect `'r'` instead of returning everything as `bytes`.

[2016-06-03 11:01] mpenkov commented on #12
This seems to work pretty well as a work-around: https://github.com/commoncrawl/gzipstream

[2016-06-03 11:14] piskvorky commented on #12
Sounds good, thanks for the link @mpenkov ! Can you implement this in a PR?

Depending on how tricky gzipstream is to install and how well supported it is, we could either add it to requirements (if easy), or make it optional (if difficult).

@tmylk great intro task?

[2016-06-03 11:21] mpenkov commented on #12
gzipstream doesn't really have any external requirements (just io and zlib)
so it shouldn't be hard to install.

@piskvorky I could in theory, but I'm working on something else right now.
If this doesn't get assigned to anyone by the time I'm free, I'll have a
look at it.

On Fri, Jun 3, 2016 at 2:14 PM Radim Řehůřek <notifications@github.com>
wrote:

[2016-06-09 19:33] mpenkov commented on #12
@piskvorky OK, I'm looking into this now.

[2016-06-10 19:19] mpenkov commented on #13
I'm having a look at this now, since one of my projects needs this to work too :)

Is there any reason why we need to maintain independent pointers for `read` and `__iter__`? The default implementation of `readline` shares the file pointer with `read` (and other I/O operations), to the best of my knowledge.

[2016-06-11 00:09] piskvorky commented on #13
The reason was related to difficulties with buffering IIRC, but was only technical. That behaviour is not a part of the API contract (I don't think it's even documented).

If we can make a single pointer work, that's fine, even preferable.

[2016-06-11 06:52] mpenkov commented on #13
@piskvorky OK. I think I've got it working. Have a look here: https://github.com/mpenkov/smart_open/commit/aca3a18358afb5f42b5f7e5c1355e8ff93a9bcea

I made a separate branch (`readline`) for it, since an open pull request (https://github.com/piskvorky/smart_open/pull/75) is currently using the clone's master.

What do you think is the cleanest way of getting this into your repo? I can think of:

1

[2016-06-11 10:55] piskvorky commented on #13
Great stuff! @tmylk please review.

Re. branches: it's your call. If splitting the changes into two separate PRs is too complicated, doing both in one branch is fine with me. We appreciate your work, this is some much needed functionality.

[2016-06-12 16:22] mpenkov commented on #13
@piskvorky @tmylk I've authored a request to pull from my `readline` to your `master` (https://github.com/piskvorky/smart_open/pull/76). Let me know if you need anything else from me.

[2016-06-16 09:48] ellimilial opened #77 "Webhdfs uri query is discarded"
Webhdfs allows passing additional parameters such as user.name through query part of the uri, like so:

At the moment the library simply never uses the query part, making it impossible to use those options when accessing files.

[2016-06-16 11:13] piskvorky commented on #77
@ziky90 how did that work?

[2016-06-19 19:59] ziky90 commented on #77
I am sure that it worked without `user.name` in the uri.
Unfortunately I don't have any webhdfs cluster available right now so validation would take a while for me right now.

[2016-06-19 21:16] ellimilial commented on #77
For what it's worth - it's not only about user.name. There are other options that user might want to pass - like custom replication factor, permissions etc.

[2016-06-20 11:51] ziky90 commented on #77
I agree I might not support all the options, I guess that you can feel free to add all the options you need.

[2016-06-21 23:36] #77 closed

[2016-07-11 07:44] evdoks commented on #26
A solution to this issue would be to set `calling_format=ProtocolIndependentOrdinaryCallingFormat()` when calling `smart_open` and passing `calling_format` to `boto.connect_s3`. Additionally, you need to set `S3Connection.DefaultHost` to S3 endpoint with region name: e.g.,
`S3Connection.DefaultHost='s3-eu-west-1.amazonaws.com'`

[2016-07-11 09:24] tmylk commented on #26
@evdoks Thanks for the troubleshooting. A PR and a test would be greatly appreciated.

[2016-07-11 16:33] piskvorky commented on #26
@evdoks IIRC, in one of the recent PRs (merged already), we added passing parameters from smart_open directly through to S3.

Does that help with passing `calling_format` here?

[2016-07-25 07:13] mpenkov commented on #13
@tmylk I think we can close this now. 78c461e resolved this.

[2016-07-25 07:14] mpenkov commented on #12
@piskvorky @tmylk I think we can close this now. 78c461e resolved this.

[2016-07-25 22:23] balihoo-dengstrom opened #82 "Can no longer write gzipped files."
[This new check](https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/smart_open_lib.py#L554) has removed the ability to write gzipped files to S3.

It looks like native gzipping is being added to smart_open and that's why this check was put in place. However, until the new write functionality is added this check should be removed in order to allow users to write their own compre

[2016-07-27 19:04] jfoster17 opened #84 "Bug in gzipstreamfile"
I ran into a bug while trying to stream a fairly large line of data from a gzipped S3 file. Basically:

    if len(self.unused_buffer) > size:
        return self.read_from_buffer()

is an incorrect call of `read_from_buffer`, which needs to have the argument `size`. I think the correct fix is as simple as:

    if len(self.unused_buffer) > size:
        return self.read_from_buffer(size)

This se

[2016-07-30 04:26] mpenkov commented on #82
@balihoo-dengstrom I'm the short-sighted developer that put that line in, so let me first apologize for inconveniencing you and anyone else affected by this.

@piskvorky @tmylk We *could* remove the check, but that would break the symmetry of the read/write operation for gzipped S3 files. More specifically, reading would perform native decompression, while writing would leave the compression up to

[2016-07-30 06:38] mpenkov commented on #84
@jfoster17 I can see that the problem is that the statement returns the full contents of the buffer, meaning the read function could theoretically return more bytes than requested. Your proposed solution seems reasonable, but could you be a bit more specific: how did the bug manifest itself in your case? Was it an exception of some sort?

The reason I ask is that I'm trying to reproduce the proble

[2016-07-31 05:22] mpenkov commented on #84
@jfoster17 Never mind, I reproduced the problem and am working on the fix.

[2016-08-01 20:42] ba1dr opened #86 "ConnectionResetError: [Errno 104] Connection reset by peer"
I am receiving an error each time when I try to upload a large stream (not just file):

    [2016-08-01 20:13:48,253: ERROR/Worker-4] encountered error while terminating multipart upload; attempting cancel
    Traceback (most recent call last):
      File "/opt/mypath/myapp/apps/lib/awsutils/s3stream.py", line 21, in bucket_put_stream
        fout.write(buffer)
      File "/opt/mypath/venv/lib/pyt

[2016-08-01 21:22] ba1dr commented on #86
Hmm, it seems the issue went away after some time.
I can recommend this SO answer: http://stackoverflow.com/a/23397672/494631
It seems 'training' S3 does make sense. I cannot explain it otherwise.

[2016-08-02 17:43] #86 closed

[2016-08-02 17:44] tmylk commented on #86
Thanks for reporting it. Closing it as "can't reproduce".

[2016-08-04 21:03] tmylk commented on #82
@mpenkov The alternative looks very clear. A PR on it would be very welcome.

[2016-08-04 21:04] tmylk commented on #12
Thanks @mpenkov ! Closing now

[2016-08-04 21:04] #12 closed

[2016-08-05 12:03] piskvorky commented on #82
I don't think I understand this.

`smart_open` does compression/decompression of text files transparently, based on file extension (`.gz`, `.bz2`).

We definitely don't want to sometimes uncompress, sometimes not. I don't see the need for any such `native_gzip` switch/options -- what is its use-case?

[2016-08-05 12:21] tmylk commented on #82
@balihoo-dengstrom What is the use case for this? I am asking because using smart_open for binary data is unexpected. It streams files line by line - how do you work around that?

Also, for eas of understanding should the parameter be called `gzip_decompression` instead of `native_gzip`?

[2016-08-05 12:49] mpenkov commented on #82
What if their file is already gzip-compressed and they just want to store
it to S3?
On Fri, Aug 5, 2016 at 14:03 Radim Řehůřek <notifications@github.com> wrote:

[2016-08-05 12:55] mpenkov commented on #82
+1 for gzip_decompression
On Fri, Aug 5, 2016 at 14:12 Misha Penkov <misha.penkov@gmail.com> wrote:

[2016-08-05 15:45] balihoo-dengstrom commented on #82
@piskvorky & @tmylk: Maybe I've misunderstood the purpose of smart_open. Here's an example of how I was using it before the gzip check was implemented.

[code]

[2016-08-08 19:58] tmylk commented on #82
@balihoo-dengstrom Thanks for posting your use case. The smart_open for binary data use case is clear. We should support it by having `r/w` and `gzip_decompression=True/False` cases.

[2016-08-09 04:51] mpenkov commented on #82
@tmylk @piskvorky I'll make a PR in the next day or two

[2016-08-09 07:28] tmylk commented on #82
To be safe it might be good to throw an exception when iterating line by line over a binary file in `smart_open("s3://bucket/key.gz", "r", native_gzip=False)` mode

[2016-08-09 07:38] piskvorky commented on #82
We should support the use case, but I'm still unsure about the API.

If I understand correctly, you want to bypass the `.gz` filename extension detection and send binary data instead, doing your own compression/decompression manually:

[code]

By default, the contract is, `smart_open` looks at your file extension and does the compression/decompression transparently. So if you omit the `ignore_exte

[2016-08-09 17:12] val314159 commented on #82
I'm just going to throw this out there:

what about something like open('myfile.txt.gz','w+z') ?

On Tue, Aug 9, 2016 at 12:38 AM, Radim Řehůřek <notifications@github.com>
wrote:

[2016-08-09 17:15] mpenkov commented on #82
@val31459 I think it's a bit too cryptic. Does anyone else do it that way?

[2016-08-09 17:22] val314159 commented on #82
That was mostly my lazy-typing self thinking.  Now that I've said it out
loud, it seems like going down the road of encoding things in the second
option probably oft leads to madness.
(don't do it that way)

On Tue, Aug 9, 2016 at 10:15 AM, Michael Penkov <notifications@github.com>
wrote:

[2016-08-09 17:23] balihoo-dengstrom commented on #82
@val314159's suggestion isn't too far off from native reading and writing in python. Maybe something this where the binary indicator is a flag for whether or not to compress.
[code]

[2016-08-11 03:33] thejuan opened #87 "Writing a non-trivial size less than one chunk fails"
Trying to write a non-trivial amount but less than the chunk size (say 500kb) fails with

[code]

Whilst the example code works fine

[code]

`

[2016-08-11 03:34] thejuan commented on #87
boto==2.42.0
bz2file==0.98
click==6.6
pkg-resources==0.0.0
pur==3.0.5
requests==2.11.0
smart-open==1.3.3

[2016-08-15 07:28] tmylk commented on #82
The most explicit way is still `ignore_extension=True`. The other ways are too prone to confusion.

[2016-08-15 07:35] mpenkov commented on #82
What should the logic be for extensions we are not aware of (e.g. .7z)
given ignore_extension=False? Do we raise an exception, fall back to text
mode, or something else?
On Mon, Aug 15, 2016 at 09:28 Lev Konstantinovskiy <notifications@github.com>
wrote:

[2016-08-15 14:35] tmylk commented on #82
IMHO the most explicit way is raising an exception `7z streaming not implemented`. What do you think?

[2016-08-18 18:16] gojomo opened #88 "offer 'parents' option: make containing directories if necessary/possible"
It's be nice if there were a `smart_open(..., parents=True)` parameter, which (for local files) would create parent directories, if necessary – much like `mkdir --parents`.

[2016-08-29 16:06] balihoo-dengstrom commented on #82
Just to close the loop here, I found a workaround by using boto's new upload_fileobj method instead:

[code]

[2016-08-30 02:21] piskvorky commented on #82
Oh, nice! Can we make use of that in `smart_open`?

And can we use this for supporting all other modes, too? Like bzip etc.

[2016-08-31 16:13] balihoo-dengstrom commented on #82
@piskvorky: Yeah, I think so. The new upload_fileobj method accepts any file-like object in binary mode that implements a read method.

[2016-09-04 03:58] piskvorky commented on #82
I'm still unsure how that supports streaming (blocking until `read` returns?), but if it does, that's great!

@mpenkov @gojomo what do you think? Any idea how to make use of `upload_fileobj` in `smart_open`?

Btw this method seems to be `boto3`-only.

[2016-09-04 14:02] mpenkov commented on #82
@piskvorky @tmylk I think before we move on with this implementation, we should confirm the problem we are trying to solve. I'm new to the library, but I think these problems are:

1) Read files from a variety of locations (e.g. S3, HFS, etc), and
2) Read files in a variety of formats (.gz, .tar.gz, .bz2, etc).

I think they are two separate problems, and we should solve them **separately and indi

[2016-09-04 16:08] #13 closed

[2016-09-18 13:43] tmylk commented on #88
Should it be like [this](http://stackoverflow.com/questions/600268/mkdir-p-functionality-in-python/600612#600612)?

[2016-09-18 13:44] tmylk commented on #84
Fixed in https://github.com/RaRe-Technologies/smart_open/commit/eba107ff82f1720aea2dabd8cceeadb70dc30611

[2016-09-18 13:44] #84 closed

[2016-09-19 02:07] gojomo commented on #88
Yes, that seems the right approach to handling the dir-making – of course it'd need to be provided the base-directory for the target file path.

[2016-09-28 22:44] sandeshc opened #89 "'bz2file' not being recognized from PYTHONPATH"
Facing the following error while installing `smart_open 1.3.4` from source.

On extracting the `bz2file's` source (tar.gz) and placing the folder's path in `PYTHONPATH`, I expected `bz2file` to be visible to other python scripts. Using the version `bz2file-0.98` with `Python 2.6.6`.

PS : This machine has no connectivity to internet, hence the download errors.

[code]

[2016-09-29 01:57] piskvorky commented on #89
I don't see any such dependency in `requirements.txt` -- @tmylk where is this coming from?

[2016-09-29 05:07] tmylk commented on #89
Hi @sandeshc
Have you tried `python setup.py test --always-unzip --allow-hosts=None --find-links=/local_pypi`?

@piskvorky The dependency has always been in `setup.py`. I also just added it to the recently introduced `requirements.txt`

[2016-09-30 09:48] sandeshc commented on #89
Hey @tmylk, it works !
Tried `python setup.py develop --always-unzip --allow-hosts=None --find-links=/local_pypi` and it installed the dependencies from source. Though I couldn't figure out why it didn't work when I had the extracted source of `bz2file` in `PYTHONPATH`. My bad, made Github Issues into Stack Overflow.
Thanks for the inputs.

[2016-09-30 09:48] #89 closed

[2016-09-30 20:56] AndreaCrotti commented on #56
I'll close this I guess not as interesting and can be easily solved on top of smart_open anyway

[2016-09-30 20:56] #56 closed

[2016-09-30 21:00] AndreaCrotti commented on #55
Just tried again on a clean virtual environment and it doesn't happen anymore.
However some dependencies required for running tests are not declared anywhere except that in travis.yml and in the README..
Closing this for now

[2016-09-30 21:00] #55 closed

[2016-10-02 06:23] tmylk commented on #55
@AndreaCrotti Thanks for highlighting this. Added `tests_require` to setup.py in https://github.com/RaRe-Technologies/smart_open/commit/a8b079b8be1e9559770dd0f701385b2361158e24

[2016-10-05 05:42] tmylk opened #91 "Create separate compression-specific layer to enable writing gzipped files"
Implement the solution described by mpenkov in https://github.com/RaRe-Technologies/smart_open/issues/82#issuecomment-244605151

[2016-10-05 05:44] tmylk commented on #82
Closing the issue as it is really a new feature request, plus a workaround was found.
New feature discussion in #91

[2016-10-05 05:44] #82 closed

[2016-10-05 05:46] tmylk commented on #64
Ping @mjwillson

[2016-10-05 06:05] tmylk commented on #51
Requests are no longer pinned.
Closing as abandoned.

[2016-10-05 06:05] #51 closed

[2016-10-05 06:09] tmylk commented on #43
@vinayan3 What kind of issues are you having? Would be great to check they are resolved in boto3.

[2016-10-05 06:14] tmylk commented on #43
Update on Boto3 : Proxy support still not implemented in https://github.com/boto/boto3/issues/338

[2016-10-05 06:17] tmylk commented on #42
Blocked by #43

[2016-10-05 06:22] tmylk commented on #35
Merged in #38

[2016-10-05 06:22] #35 closed

[2016-10-05 06:25] #34 closed

[2016-10-05 06:27] tmylk commented on #52
Duplicate of #26

[2016-10-05 06:27] #52 closed

[2016-10-05 06:30] tmylk commented on #26
`calling_format` explicitly added in https://github.com/RaRe-Technologies/smart_open/pull/83

[2016-10-05 06:32] #11 closed

[2016-10-05 06:50] mpenkov commented on #91
Is anybody working on this? If not, I'll have a look at it.

[2016-10-05 06:57] tmylk commented on #91
@mpenkov You will be very welcome!

[2016-10-05 09:59] mjwillson commented on #64
Hey, sorry I'm unlikely to get around to this as it stands -- we've worked around it like so, although this won't work for everyone:

[code]

To be honest smart_open feels like quite a leaky abstraction due to patchy / partial support for various features, meaning you need extra special-cased wrapping code after parsing the URL yourself. E.g. gzip only working for local files, other compression fo

[2016-10-05 11:50] tmylk commented on #64
Thanks for the idea of stream interfaces. Leaving open as it is an interesting direction to explore.

[2016-10-05 12:32] janrygl opened #92 "Opening files with `#` character"
Creating a file with filename containing `#` char (e.g. `aa#aa`) and trying to open it with `smart_open.smart_open('aa#aa')` fails.

[code]

vs
[code]

[2016-10-05 14:11] #92 closed

[2016-10-07 07:43] mpenkov commented on #91
@tmylk @piskvorky I've started working on this on a [separate branch](https://github.com/mpenkov/smart_open/commit/57f68f29af9dfa8749e35ea006afa0e6dddc967c).

Basically, I rewrote the S3 subsystem using a hierarchy of classes based on the native [io](https://docs.python.org/2/library/io.html#module-io) library. The S3 subsystem now returns file-like objects that can be passed to other decoders, et

[2016-11-02 22:44] jayantj opened #94 "S3 identifier with `@` in key raises RuntimeError"
Trying to open a file on S3 with a `@` in the filename or prefix raises a `RuntimeError`

[code]
[code]

[2016-11-03 06:21] tmylk commented on #94
The name doesn't follow AWS best practices. What is the reason for using it?

The "@" symbol is not considered a safe character in [AWS guide](http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html). It is referenced as "character that requires special handling".

[2016-11-03 07:52] tmylk commented on #94
Need to add logic to distinguish `s3://key:secret@bucket/object` vs `s3://bucket/obj@ect` and  `s3://bucket/ob:j@ect`

[2016-11-03 08:29] piskvorky commented on #94
Is to possible to do so cleanly & unambiguously?

Is the S3 URI syntax described somewhere formally, so we know for sure?

[2016-11-03 08:30] piskvorky commented on #94
Maybe if slashes `/` are not allowed in credentials (I'm not sure -- maybe they are), a simple check is "credentials before `@` contain a `/` => they're not really credentials, treat `@` as part of filename".

[2016-11-03 08:37] jayantj commented on #94
`/` is allowed in the credentials - secret keys usually have a slash in them

[2016-11-03 09:09] tmylk commented on #94
The Access Key ID is 20 alpha-numeric characters, so a regex can locate the `s3://key:secret@bucket/object`. Will send a fix later today.

[2016-11-15 15:27] tejinderss opened #95 "For s3 file, readline doesn't work after seek(0)"
If we do .seek(0) on an open s3 file instance and calls the readline on it after, it just keeps on giving the empty string '' back and also the iterator is consumed at that point of time. Please find the code snipped link below:
https://dpaste.de/VXTi

EDIT: Updated with code snippet link to dpaste

[2016-11-15 17:16] tmylk commented on #95
hmm. could you add a small code snippet to reproduce?

[2016-11-16 09:35] tejinderss commented on #95
Added

[2016-11-21 17:35] balihoo-gens opened #98 "cant use s3 bucket names with dots"
[code]
results in:
`ssl.CertificateError: hostname 'balihoo.fulfillment.dev.s3.amazonaws.com' doesn't match either of '*.s3.amazonaws.com', 's3.amazonaws.com'`

I tried to fix this with the 'host' parameter, but I can't get it to write the file.

[2016-11-22 10:31] tmylk commented on #98
Hi @balihoo-gens, Does adding `calling_format` fix it as in your previous PR https://github.com/RaRe-Technologies/smart_open/pull/83 ?

[2016-11-22 15:28] balihoo-gens commented on #98
ha, will try. That PR is not mine, but by one of my coworkers, @balihoo-dengstrom
I actually ended up using s3fs: https://github.com/dask/s3fs

[2016-11-22 20:53] tmylk commented on #98
Thanks for the link. You are not using a proxy, right? Or did s3fs get around https://github.com/boto/boto3/issues/338 ? That is the issue that is blocking us from moving to boto3.

[2016-11-22 21:22] balihoo-gens commented on #98
I am using this from an AWS Lambda function

[2017-01-15 20:45] modqhx opened #104 "smart_open in other languages"
I have a few questions:
- Is "smart open" (or something similar) available in other languages? (like maybe GO, or java)
- Does the [gensim](https://github.com/RaRe-Technologies/gensim) library from same group use this same tool/ approach?
- I see running things like streaming in data from s3 is very CPU( and IO) intensive and not much memory intensive. Would multi-threading approach a good way to

[2017-03-10 19:34] yg37 opened #108 "error: Error -3 while decompressing: incorrect header check"
I was trying to read a compressed file from s3 on ec2 and it did not print any line
[code]

Then I ran:
[code]
and got the error:
<img width="677" alt="screen shot 2017-03-10 at 11 33 25 am" src="https://cloud.githubusercontent.com/assets/13965488/23810186/6602dc10-0585-11e7-99fb-056f3141c36f.png">

I think this is caused by zlib. Any insight on how to troubleshoot this?

[2017-03-10 20:15] yg37 commented on #12
It seems that smartopen can read a gzip file from s3 using an url, but not using key. Is that the case?

[2017-03-16 02:37] simonseed opened #109 "Passing File Object Not Filename To GzipFile and BZ2File"
Here

https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/smart_open_lib.py#L626

and here

https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/smart_open_lib.py#L630

Should be passing in the filename not the file object.

[2017-03-16 19:57] tmylk commented on #109
Reproduced. Working on a fix.

For completeness, could you paste a code snippet that breaks for you in this version.

[2017-03-16 20:14] cs48-project commented on #109
Hi.

I am also seeing this bug when attempting to use gensim, which uses smart_open to open gz compressed files... here is a minimal reproduction of the issue:
[code]

[2017-03-16 23:48] simonseed commented on #109
[code]

[2017-03-17 00:14] #109 closed

[2017-03-17 00:20] tmylk opened #111 "Test compressed files over http"
Add tests for `smart_open("http://127.0.0.1/index.gz")` because some changes in the PR #107  that introduced it were reverted in #110 and this new functionality might be no longer available. So needs to be re-implemented.

CC @robottwo

[2017-03-17 00:23] tmylk commented on #109
Thanks for reporting. Fixed in #110 and released in 1.5.1 on pypi

[2017-03-17 12:19] pmajmudar opened #113 "S3 file like objects - can they implement a flush method?"
It would be useful if S3 file-like objects also implemented the "flush" method (which is available on local file like objects)

This would make it easier to use as a drop-in replacement for file-like objects.

This could be a no-op or could genuinely force a flush of data.

What do you think?

[2017-03-17 16:36] tmylk commented on #113
Is there an internal buffer in boto that needs to be flushed?

[2017-03-17 16:38] tmylk commented on #108
Does the file have a correct header? Can you unpack it using command line?

[2017-03-17 16:54] pmajmudar commented on #113
I don't think so... that's not quite what I meant sorry.

I'm trying to handle the situation where I'm passing the file object into a third-party library that I don't have control over. That library is calling the "flush" method. So I ordinarily I do:
[code]
vs
[code]

I.e. it would be nice if smart_open could be used as a direct replacement for `open`.

[2017-03-17 18:50] agent-jay commented on #95
@tejinderss The link is dead. Could you please re-share or embed here?

[2017-03-18 00:13] piskvorky commented on #113
I guess we can do that, sure. Any other methods of that sort? Can you add them all in a PR?

Plus add clear motivation & comments to those no-op methods too, so someone doesn't remove them in the future by accident.

[2017-03-18 12:23] nitkul commented on #113
@tmylk I have made a PR resolving this issue like you asked me to. Do review.

[2017-03-18 20:10] agent-jay commented on #95
I've managed to reproduce the error. Code embedded

[code]

The readline() outputs a ' ' instead of the first line

[2017-03-18 20:49] agent-jay commented on #95
@tmylk I've tested out the following bit of code, is it a valid solution? I'm not sure why the read_key.close() was there to begin with, and how seek has managed to pass the unit tests all this time

def seek(self, offset, whence=0):
        """
        Seek to the specified position.

        Only seeking to the beginning (offset=0) supported for now.

        """
        if whence != 0 or offset

[2017-03-20 20:49] tmylk commented on #113
This request is similar to previous https://github.com/RaRe-Technologies/smart_open/issues/64#issuecomment-251632966 request to inherit or quack `io.IOBase` interface support. See [python docs](https://docs.python.org/3.6/library/io.html) for the list of other functions that need to be added. They only have minor differences across Python versions.

[2017-03-21 08:26] pmajmudar commented on #113
Yes - I was thinking a sensible implementation might inherit from `io.IOBase`

I'll find some time to work on this and open a PR.

[2017-03-25 15:01] bgreen-litl commented on #91
👍

This issue is tagged as "easy". Is that true?  Is the @mpenkov branch the best place to start on this?

[2017-03-27 14:51] mpenkov commented on #91
It's reasonably easy. I don't know how far behind master my branch is, but I imagine it'd be a good place to start.

Working around the gzip issue is pretty much the only thing what's left, if I recall correctly @bgreen-litl

[2017-04-11 20:26] mcrowson opened #119 "Gzipped Files Over HTTPS Lacking the tell()"
Doing a `smart_open('https://url/file.xml.gz')` uses passes the ReadStream to the GzipFile during the make_compression

The file object passed here is the HttpReadStream
https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/smart_open_lib.py#L632

The read stream doesn't have the tell() method that the gzip library expects.

[2017-04-11 20:30] mcrowson commented on #119
In Python2.7 the read() method on gzip expects tell. https://github.com/python/cpython/blob/2.7/Lib/gzip.py#L285

It looks like the call to tell was deprecated in Py3.2

[2017-04-12 11:55] tmylk commented on #119
Thanks for reporting it. Does it also happen on the develop branch? Similar issue has been fixed recently with [tests](https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/tests/test_smart_open.py#L135) added.

Will make a new release this week.

[2017-04-12 13:02] mcrowson commented on #119
Ah, I see 1.5.2 fixes this, thanks with the BytesIO fileobj. Thanks!

[2017-04-12 13:02] #119 closed

[2017-04-25 17:29] mcrowson opened #120 "Gzipped URLS with parameters don't match the .endswith()"
I have a pre-signed S3 URL for a gzipped xml file.

https://bucket.s3.amazonaws.com/file.xml.gz?AWSAccessKeyId=asdf&Expires=2493144554&Signature=qasdf

The if fname.endswith('.gz') won't evaluate to True because of the URL parameters.

https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/smart_open_lib.py#L759

I suggest removing all query parameters when finding the file name.

[2017-04-28 05:10] awm33 opened #122 "S3 does not work with AWS Instance Roles"
Since this uses an old version of boto, it will not load instance role credentials, making it unusable in a typical AWS production environment,

[2017-05-03 00:44] tmylk commented on #122
Thanks for reporting it. What is a good new version of boto to use?
Do you have a code snipped to reproduce?

[2017-05-03 01:36] piskvorky commented on #122
@tmylk that's issue #43 , I believe.

If boto3 is finally production ready now (is it?), we should definitely switch.

[2017-05-04 19:56] squishbug opened #123 "smart_open strips leading / from filename"
I'm getting a file not found error when trying to open a file with pathname starting with "//". The output looks like this:

[code]

[2017-05-16 18:10] menshikh-iv commented on #123
I reproduced this bug

Problem in `urlsplit` function
[code]

I think I'll add asserts to `ParseUri.__init__` for avoid incorrect output according to [docstring](https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/smart_open_lib.py#L220)

[2017-05-18 08:55] #120 closed

[2017-05-18 13:44] tmylk commented on #43
Our test dependeny moto has moved to boto3 unfortunately in ver 1.0.0

[2017-05-30 13:59] vinuthna91 opened #124 "S3ResponseError: S3ResponseError: 403 Forbidden <?xml version="1.0" encoding="UTF-8"?><Error><Code>InvalidAccessKeyId</Code><RequestId>tx000000000000000017e26-00592d7954-ac95-default</RequestId><HostId>ac95-default-default</HostId></Error>"
Traceback (most recent call last):
  File "/home/vvinjamuri/datahighway/DataIngestionS3/Python/avroConverterS3.py", line 222, in generateAvroFromCSVS3
    for line in fin:
  File "/usr/anaconda/lib/python2.7/site-packages/smart_open/smart_open_lib.py", line 402, in __iter__
    for line in self.reader:
  File "/usr/anaconda/lib/python2.7/site-packages/smart_open/smart_open_lib.py", line 374, in re

[2017-06-01 10:36] vinuthna91 commented on #122
Hi for me I see data corruption while writing to a avro on S3. Is it expected?

[2017-06-13 15:13] bgreen-litl opened #127 "NotImplementedError: unknown URI scheme 'http'"
Is this a regression of HTTP support?  I'm trying to imagine what I could be doing wrong.

I'm seeing the same thing with smart_open `1.3.5` and `1.4.0`

    In [1]: import smart_open

    In [2]: with smart_open.smart_open('http://google.com') as infile:
       ...:     for line in infile:
       ...:         print(line)
       ...:
    ------------------------------------------------------------

[2017-06-13 15:17] bgreen-litl commented on #127
Looks like there's a much newer version 1.5.3 which simply wasn't available as an anaconda package.  I'm now assuming http support was added in 1.5.  Closing this issue.

[2017-06-13 15:17] #127 closed

[2017-07-06 21:35] combinatorist commented on #43
+1

- I came in at boto3.
- Currently, I use this library by string interpolating keys into paths
  - e.g. `smart_open('s3://mybucket/' + key)`
- but I really wish I could use boto3 objects (particularly for the advertised `smart_open.s3_iter_bucket` function)

[2017-07-18 05:42] cariaso commented on #91
just a nudge, I was bitten by this. It was trivial in my case to just modify the filename so that .gz wasn't at the end. That's good enough for my needs. But this remains an unresolved wart on the smart_open api.

[2017-07-18 18:48] val314159 commented on #91
I wonder if this could be used as a backend to the FUSE filesystem library, so that you can "just" mount a smart_open drive as an actual block device (given you have the permission, of course).

Bonus: This would allow any C++ lib to use it as well.

[2017-07-20 13:34] mpenkov commented on #91
@menshikh-iv Are you actively working on this? I've scheduled some time off in August and may have time to look into it.

[2017-07-20 13:46] menshikh-iv commented on #91
@mpenkov you are welcome, feel free to contribute

[2017-07-28 02:36] tim-schier-frontier commented on #43
I'm using moto and would like to move to moto>=1, but smart_open is holding me back due to boto3 vs boto support.
Even using @mock_s3_deprecated for my other moto usage is causing issues now with moto 1.0.1. It looks like a moto bug, but only a bug in the deprecated support for boto.

So yeah, boto3 momentum is building. Oh and it looks like proxy support has been added to boto3 now (ticket @tmylk

[2017-07-28 02:47] piskvorky commented on #43
@tim-schier-frontier can you help with the migration, open a PR?

[2017-07-28 02:57] tim-schier-frontier commented on #43
@piskvorky great follow up - put money where my mouth is :)
I am best placed to help with testing/trialing PRs, and also probably chipping in for funding the move (from my employer).
Love the product, hope to help out.

[2017-08-03 18:30] mpenkov commented on #91
@menshikh-iv I've had a look at it. The problem can be summarized as:

- Python 2's gzip.GzipFile uses seek and tell to detect EOF. More specifically, it seeks to the end of the file to detect EOF. Obviously, this isn't something we can do when streaming from S3.
- Python 3's gzip.GzipFile is a bit more clever. It uses zlib's decompressorobj.eof flag to detect EOF, so no seeking/telling is necessa

[2017-08-06 04:44] tschier opened #129 "Tests failing in clean virtualenv in Win10"
Hi project folks,

I've just set up a new environment (thinking of working on #43), have pulled latest master and run the tests and I'm getting two fail.

Win 10 1703
Python 3.6.2 64-bit

Made one modification to `requirements-test.txt` before installing those packages: changed `moto` to `moto<1`.

Ran tests with: `python -m unittest` in the base folder.

I'm seeing two failures. One to do with th

[2017-08-10 18:02] mpenkov commented on #64
This is related to #91.

[2017-08-10 18:05] mpenkov commented on #91
The other way forward would be to use boto3 (#43), because that's seekable, but we're currently blocked from doing that (#41).

[2017-08-11 15:22] menshikh-iv commented on #124
Looks strange `InvalidAccessKeyIdtx000000000000000017e27-00592d7954-ac95-defaultac95-default-default`, please check your keys for amazon

[2017-08-14 10:16] menshikh-iv commented on #91
Hi @mpenkov, sorry for late answer (I missed a notification).

For my opinion, boto3 is the best variant (Moreover, we should migrate to `boto3`), backport of gzip from python3 looks difficult. About #41, how it's blocked boto3 migration?

[2017-08-14 12:52] mpenkov commented on #91
@menshikh-iv Sorry, I linked the wrong issue, the blocker is #43.

AFAICT, the reason for blocking is that boto3 may not be _entirely_ backwards-compatible with boto, although that was brought up a [while ago](https://github.com/RaRe-Technologies/smart_open/issues/43#issuecomment-165165408) and the situation may have changed already.

[2017-08-14 12:55] cariaso commented on #91
boto3 is absolutely not 'backwards compatible' with boto, their APIs are
substantially different. boto3 however can be used in parallel with boto,
with the intention of gradually shifting all boto calls to boto3
equivalents.

On Mon, Aug 14, 2017 at 9:52 PM, Michael Penkov <notifications@github.com>
wrote:

--
--
Mike Cariaso
http://www.cariaso.com

[2017-08-14 12:59] mpenkov commented on #91
@menshikh-iv OK. I will go ahead and bring in boto3 to implement S3 seeking.

[2017-08-15 10:21] menshikh-iv commented on #91
Good luck @mpenkov:+1:

[2017-08-28 07:25] CharushS opened #133 "Running smart_open with pypy(RPython) - BlockingIOError"
I'm trying to run a gz read from s3 using the smart_open module, the code is working fine with CPython but while running with pypy , its throwing BlockingIOError

Traceback:

[code]

[2017-10-04 08:49] jcaisip opened #134 "Streaming zipfile content"
I need to read or stream a zipfile content from the s3 bucket. My usual workflow was download the zipfile to my ec2 instance and then run a python script with the zipfile module  to read its content without extracting the zipfile. However, I would like to start streaming directly from s3 to save disk space. Do you think `smart_open` library can help me with my use case? Thanks.

[2017-10-04 09:04] piskvorky commented on #134
Zip is an archive format (one `.zip` can contain multiple files), so I'm not sure what "streaming" means in this context.

`smart_open` supports streaming of compressed files from S3, yes -- such as `.gz` or `.bz2`.

[2017-10-04 09:18] jcaisip commented on #134
I was trying to stream archive file contents in my use case. But since it  isn't supported yet, then I guess I really have to unzip the archive so I can file the file contents. Thanks @piskvorky !

[2017-10-04 16:48] robehickman opened #135 "two questions"
Questions not an issue, but they aren't answered by the docs:

1: Is it possible to obtain the version_id of an object uploaded to s3 as multi-part using this lib?

2:Does this garbage collect or provide a means of continuing with a part-complete upload, such as if the process doing said upload is killed?

[2017-10-05 13:48] mfitz opened #136 "403 response from S3 despite valid credentials being present in environmental variables"
Hi

I'm trying to stream the content of an object in my S3 bucket using a very trivial app:

[code]

I have valid AWS credentials in the relevant environmental variables within the shell, which the aws CLI and other python apps based on boto3 are able to detect and use without issue; I can list objects in the bucket via `aws s3 ls`, for example. However, when I run the trivial app above in the sam

[2017-10-05 14:13] mfitz commented on #136
I see the same behaviour with buckets that have public permissions, for example `s3://us-east-1.elasticmapreduce.samples/flightdata/sparkapp/FlightExample.scala`, although I did have to work around an SSL certs problem first, meaning the app now looks like:

[code]

When I run this, I see the same error:

[code]

[2017-10-16 16:50] lbrent2k opened #138 "FTP Question"
Would I be able to use this to move a file _directly_ from FTP server to S3 without storing at disk at any point?  Thanks.

[2017-10-19 04:29] criver opened #139 "S3OpenRead bugs when used with codecs"
I found a couple bugs when use `S3OpenRead` with codecs:
1) `close` is not implemented from `S3OpenRead`.
2) When it reads to the end of the file and when exception, it returns the empty string in type `str` instead of `bytes`, which is inconsistent with the `bytebuffer`.

[2017-10-26 16:07] #91 closed

[2017-10-31 06:41] menshikh-iv commented on #133
Hi @CharushS, we doesn't support pypy. You can try to report this bug to pypy developers.

[2017-10-31 06:41] #133 closed

[2017-10-31 17:57] criver commented on #139
It seems the recent refactoring fix the problem. Will close this one.

[2017-10-31 17:57] #139 closed

[2017-11-02 17:56] criver opened #141 "Another Release"
Hi the recent refactoring fixed many long standing problems. Could you make another release?

[2017-11-03 06:14] menshikh-iv commented on #141
So, I think that we'll release `smart_open` in this month (need to finish several PRs)

[2017-11-03 06:14] #141 closed

[2017-11-08 02:06] jayantj opened #142 "`encoding` isn't a valid parameter to smart_open"
This isn't a bug, but it can be slightly confusing -

## Steps to reproduce
[code]
[cp852.tsv.txt](https://github.com/RaRe-Technologies/smart_open/files/1452349/cp852.tsv.txt)

The `encoding` parameter isn't mentioned in the documentation anywhere, so it isn't reasonable for the above to work. It would be helpful though to log a warning, or raise an exception specifying it is an invalid argument,

[2017-11-08 13:52] piskvorky commented on #142
Definitely a bug -- `smart_open` **must** remain a drop-in replacement, for local filesystem usage.

Thanks for reporting.

[2017-11-08 14:00] jayantj commented on #142
Might have something to do with the fact that `encoding` isn't a valid argument to `open` for python2.

[2017-11-17 07:47] mpenkov commented on #142
As @jayantj pointed out, open doesn't take keyword arguments in Py2, so this bug is only reproducible under Py3.

[code]

The reason encoding isn't being picked up is [here](https://github.com/RaRe-Technologies/smart_open/blob/d0a25218a22db7529aa8d2504ae05f4eabb2d4b9/smart_open/smart_open_lib.py#L152). The encoding, which is a keyword argument, isn't being passed to the file_smart_open function.

[2017-11-20 06:08] mpenkov opened #144 "Document the peculiarity of using rb as the default open mode"
By default, smart_open specifies the open mode to be `rb`. This is in contrast to the default `r` in both Py2 and Py3.

smart_open needs to quack like the built-in open. While the above discrepancy is not fatal, it complicates our implementation. For example, in Py3 the following raises an Exception:

[code]

We cannot do the same, because we cannot tell the difference between:

1. User specified

[2017-11-20 06:15] mpenkov opened #145 "Add tests around encoding handling for various readers"
smart_open supports a variety of reader protocols:

- s3
- hdfs
- webhdfs
- http
- any others?

Currently, each of those implements its own logic for handling character encoding. This logic isn't being tested anywhere.

We should add tests to test that this logic works. In the future, we may refactor such that the encoding logic gets handled in a single place for all readers, so these tests should

[2017-11-20 06:26] #142 closed

[2017-11-20 07:35] piskvorky commented on #144
Yeah, I agree `smart_open` should "quack like open".

IIRC the rationale behind the `rb` default was that it's saner than `r` (we repeatedly saw novice Python users struggle with `r`). But since `open` uses `r`, we should use it too. We're stuck with it.

I'm +1 on changing the default (or any other defaults) to match the built-in. Backward compatibility shouldn't be an issue, because this was und

[2017-11-24 14:09] mpenkov opened #146 "HDFS, WebHDFS, HTTP I/O is not encoding-aware"
The HDFS and Http subsystems does not do any text encoding or decoding.

- HdfsOpenRead returns the stdout from a Popen, so it will be in whatever encoding Popen uses for pipes (could be UTF-8, or raw bytes)
- HdfsOpenWrite writes bytes directly into the stdin of a Popen
- WebHdfsOpenRead reads bytes directly (requests.get returns bytes when `stream=True`)
- HttpOpenRead also reads bytes directly

[2017-11-24 14:48] mpenkov commented on #138
There is already a component to write to S3. It writes on the fly, and does not require you to store data locally. However, the data doesn't move from FTP _directly_ to S3: it goes through the machine running smart_open first.

The other hurdle is that currently smart_open does not read from FTP (see issue #33).

[2017-11-25 02:18] ceruly opened #148 "Support botocore.response.StreamingBody from boto3 as input to smart_open.smart_open()"
I noticed that for `boto.s3.key.Key` you use `io.BufferedReader`.

boto3's `botocore.response.StreamingBody` has the attribute `_raw_stream` which it looks like you can just pass to `io.BufferedReader` and it works.

[code]

[2017-11-27 03:21] #138 closed

[2017-11-30 10:25] menshikh-iv opened #151 "Add integration and regression tests"
Right now, for testing `smart_open` (local file part) - it is not enough to run only tests from `smart_open`, needs to run gensim tests with smart_open from `master` (so I caught a bug today - hotfix #150).

Need to look at `gensim` usage of `smart_open` and add tests according to this behavior (better - something more "general" for all readers/writers, because the tests are rather monotonous).

C

[2017-12-01 06:27] appierys commented on #74
It appears that now `smart_open` supports `'r'` mode in 1.5.4?
However, I found that the speed of reading files drops significantly after smart_open 1.5.4.

For smart_open 1.5.3, the speed is:
`2868923it [01:05, 43987.90it/s]`

while smart_open 1.5.4 is:
`41588it [01:35, 434.05it/s]`
for the same S3 file.

[2017-12-01 06:38] appierys opened #152 "Reading S3 files becomes slow after 1.5.4"
As mentioned earlier in #74, it appears that the reading speed is very slow after 1.5.4.

[code]
[code]
2868923it [00:53, 53888.94it/s]

[code]
[code]
8401it [00:18, 442.64it/s] (too slow so I could not wait for it to finish.)

[2017-12-01 06:53] menshikh-iv commented on #152
Thanks for report @appierys, that's really suspicious, we'll investigate it, related issue #151.

[2017-12-01 14:19] mpenkov commented on #152
I'm looking into this now.

[2017-12-01 15:04] mpenkov opened #153 "Unable to iterate over gzipped object on S3"
Encountered while reproducing issue #152.

Given reproduce.py:

[code]

This reproduces the bug:

[code]

[2017-12-01 15:12] mpenkov commented on #152
I've reproduced the issue, but the performance gap between 1.5.3 and .4 wasn't as large as originally reported. @appierys, could you tell us the extension of the S3 file you were trying to open? The extension influences how smart_open actually opens the file.

Here are my efforts to reproduce the bug:

[code]

1.5.4 appears to be around 6 times slower than 1.5.3.

reproduce.py:

[code]

[2017-12-01 16:00] mpenkov commented on #152
Some basic profiling:

[code]

Examining the profiles:

[code]

Interestingly, 1.5.4 calls functions like _SSLSocket.read and _FileIO.read more often than 1.5.3. The former also appears to be opening two SSL connections (connect, handshake).

1.5.4 spends the majority of the time in a read() method inside s3.py. The number of calls is quite large: perhaps the buffer size is not being set correctly

[2017-12-01 16:18] mpenkov commented on #152
[153.out.gz](https://github.com/RaRe-Technologies/smart_open/files/1522162/153.out.gz)
[154.out.gz](https://github.com/RaRe-Technologies/smart_open/files/1522163/154.out.gz)

[2017-12-01 22:08] Eronarn opened #154 "Don't raise an exception on failure to CreateBucket"
[code]

In general implicit bucket creation seems like a bad call, in case of a misconfig. But if it is going to happen, it definitely shouldn't block writing to that bucket if it already exists. (In our case this is running from an IAM box that does not have permission to create buckets, but can write to an existing bucket.)

Testing indicates this broke in 1.5.4

[2017-12-02 03:35] otamachan commented on #152
Hi,
I also investigated this issue, as I encountered the performance problem too.

Here is my investigation.

I used ``reproduce.py`` written by @mpenkov .

Confirming 1.5.3 and 1.5.4 performance:

[code]

After increasing the buffer size by 10, the performance looks better.
[code]

However, when I increase the buffer size by 100, the performance gets worse.
(For a larger file such as 1G file, I t

[2017-12-02 09:25] piskvorky commented on #154
Creating buckets by default would definitely be a bug, that's horrible, I agree.

@menshikh-iv what happened in 1.5.4?

[2017-12-02 09:27] piskvorky commented on #153
@mpenkov is it a new 1.5.4 bug, or was it there in earlier versions? I remember gzip from S3 worked in the past.

[2017-12-02 15:50] mpenkov commented on #153
@piskvorky I rewrote the S3 subsystem as part of Issue #91 .

The S3 issues emerging in 1.5.4 are a consequence of that recent rewrite.

[2017-12-03 05:42] mpenkov opened #156 "Get rid of code used only for Py2.6 compatibility"
Some parts of the code, like the closings around GzipFile and Bz2File, were only necessary while we supported Py2.6. Since we no longer support Py2.6, that code is not necessary. In the case of GzipFile and Bz2File, they are context managers in their own right since Py2.7, and the closing is redundant.

[2017-12-03 07:13] piskvorky commented on #153
OK, we need to improve the testing then.

@menshikh-iv can we do a bug fix release ASAP? This is critical.

[2017-12-04 03:31] appierys commented on #152
Hi @mpenkov, perhaps the gap is larger for me because I am accessing the bucket from a different region while the bucket is in us-east-1.
In addition, the speed of 1.5.3 is initially slow, but gets faster over time, so if you only test 1K lines, the difference would be smaller.

The file extension is `.json`, but it's actually many lines of jsons, and the total file size is 920M.

[2017-12-04 04:03] appierys commented on #152
Some statistics some `1e3` is changed to `1e6`:

Results from 1.5.3:
[code]

For 1.5.4, it takes much time to complete the test, but I will update this comment once I have the results.

[2017-12-04 05:07] mpenkov commented on #152
@appierys thank you for providing more details.

I identified the problem as a buffering issue. It’s addressed in this branch: https://github.com/mpenkov/smart_open

Could you try it and let me know if it resolves your issue?

[2017-12-04 05:30] appierys commented on #152
Hi @mpenkov,

Thanks. The results from your master branch is as below, it's faster than before but still slower than 1.5.3 when 600K lines are read:
[code]

[2017-12-04 05:32] mpenkov commented on #152
@appierys OK, I can see that it is still several times slower. This matches the results on my side as well.  Will continue looking into it. Thank you.

[2017-12-04 18:07] gdoron commented on #154
Hit it myself now.
Wasted 4 hours 😢 😢 😢 😢 😢

[2017-12-05 22:00] otamachan commented on #152
Hi,

I also implemented the ``readline`` method and made the raw reader threaded.(https://github.com/otamachan/smart_open/commit/569169d2c800094a4b5cfed868cac07c1090b272)
When I increase the buffer size to 20 Mbytes, it looks more better but still worse than 1.5.3.

[code]
Thanks.

[2017-12-05 22:26] piskvorky commented on #152
What's behind this decrease in performance, despite buffering? What changed?

[2017-12-05 22:31] jerluc commented on #154
Also ran into this. Is there any toggle for specifiying? Or should we just assume that it will always try to create a bucket? Just afraid of the typo scenario which would auto-create a bucket that shouldn't exist 😨

[2017-12-05 23:34] otamachan commented on #152
I assume that
1.5.3 uses https://github.com/boto/boto/blob/develop/boto/s3/key.py#L308 .
This is one GET request and reads the body asynchronously. But this is not seekable.

On the other hand,
1.5.4 uses https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/s3.py#L89  .
This separates the GET request into several parts and waits until the reading is done. This decreases the throu

[2017-12-06 00:42] mpenkov commented on #152
@piskvorky Tamaki is right. I implemented the new seekable S3 reader based on boto3’s ranged GET queries, as we discussed in Issue #42. It’s possible that boto3 introduced _some_ overhead, but I’m surprised it’s _this_ much.

I’m still hunting around with a profiler.

[2017-12-06 01:03] mpenkov commented on #152
@otamachan Threading is a good idea for some applications, but I don't think introducing it is appropriate, because it limits our (and our users') options with regards to multiprocessing. More specifically, once you start up threads, you can't fork your process (because the that will copy synchronization primitives like mutexes to the child process).

This means people who already use smart_open i

[2017-12-06 02:33] otamachan commented on #152
@mpenkov Thanks for your comment. I agree with you. I just wanted to confirm whether threading could improve the performance or not. For the ``reproduce.py`` test, the performance was not be so improved even when threading is introduced. It should be avoided for multiprocessing applications as you said.

[2017-12-06 02:33] mpenkov commented on #152
Here are some more profiling results. They were obtained by:

[code]

using theh 6c22ed8 commit.

I used this reproduce.py:

[code]

I used different input files from the same bucket because I noticed there is caching behavior that confounds tests. So, for timing, it makes sense to change the input file (but keep the same number of iterations) between tests.

I found that for both 1.5.3 and the cu

[2017-12-06 08:41] piskvorky commented on #154
@menshikh-iv we need the bug fix release ASAP.

[2017-12-06 08:42] menshikh-iv commented on #154
@piskvorky work on it, will release smart_open today

[2017-12-06 09:11] #153 closed

[2017-12-06 09:11] #154 closed

[2017-12-06 09:12] menshikh-iv commented on #152
Need to continue investigation here (but @mpenkov fix it partially in #155)

[2017-12-06 11:03] menshikh-iv commented on #151
What's need to implement

**General**
---
- Amazon
  - [ ] Run all tests with real amazon S3
  - [ ] Reconfigure Travis, add job for amazon (think about distinct account, encrypt API keys, etc)
  - [ ] More tests for Amazon

- HDFS
  - [ ] Run all tests with hdfs (http + naitive)
  - [ ] Reconfigure Travis, add job (probably with hdfs docker)

**Regression**
---
- [ ] Write regression tests (for a

[2017-12-06 14:52] otamachan commented on #152
Hi,
I finally found a way to get not only seekability but also almost same performance as 1.5.3 .
https://github.com/otamachan/smart_open/commit/8089460fc3bddfb325b3ae8026df6a1ca0b95a4b
Does this work?

[code]

[2017-12-06 16:02] mpenkov commented on #152
@otamachan Thank you for your suggestion! I had a closer look at your implementation and finally realized what the remaining problem was. It isn't necessary to go back to boto to achieve the same performance: we can do the same thing with the newer boto3.

https://github.com/RaRe-Technologies/smart_open/pull/157

Thank you for pointing me the right way. どうもありがとうございました！

[2017-12-06 16:39] #152 closed

[2017-12-06 22:15] otamachan commented on #152
@mpenkov I'm happy that the performance is now back by your right implementation and I could be of help.  I really appreciate your great effort to improve this wonderful library!

こちらこそありがとうございます！

[2017-12-10 06:41] mpenkov commented on #42
@menshikh-iv I think this is done. We can seek S3 files now.

[2017-12-10 06:42] mpenkov commented on #26
@ziky90 We replaced boto with boto3 in the S3 subsystem. Could you please check if the problem with dots in bucket names still occurs?

[2017-12-10 06:47] mpenkov commented on #43
I think boto3 now supports proxies: https://github.com/boto/boto3/issues/338

The S3 component is already boto3-based. The tests are still boto-based, however. @menshikh-iv What should we do about this?

[2017-12-10 06:48] mpenkov commented on #64
@menshikh-iv This is also done (PR #131 fixed it).

[2017-12-10 06:49] mpenkov commented on #98
This looks like a duplicate of Issue #26 @menshikh-iv

[2017-12-10 06:52] mpenkov commented on #113
@menshikh-iv This is done.

[code]

[2017-12-10 06:53] mpenkov commented on #108
@yg37 Are you still experiencing this problem?

[2017-12-10 06:55] mpenkov commented on #124
@vinuthna91 Are you still experiencing this problem? Could you please confirm that your key works with other tools, like the AWS CLI?

[2017-12-10 06:57] mpenkov commented on #136
@mfitz Thanks for reporting this. Could you please try to reproduce the problem with the current master? It uses boto3 now, which may influence how the credentials are picked up.

[2017-12-10 18:13] andscoop commented on #154
@menshikh-iv @piskvorky  I don't believe this issue is resolved. I am still running into it in 1.5.5

According to the original error the issue is occurring on line 255 of s3.py.

`File "/usr/local/lib/python2.7/dist-packages/smart_open/s3.py", line 255, in __init__ s3.create_bucket(Bucket=bucket)`

Your fix applies to line ~286 of s3.py.

From here things get a little strange, I have been debuggi

[2017-12-11 02:13] appierys commented on #152
Not sure if it's just me, but I tested 1.5.5 and obtained the following results:
[code]

[2017-12-11 03:50] otamachan commented on #152
@appierys This was fixed by fbc82cc04bf92e8c588c49c43ff5aff8234ea87d and the commit is only in the master branch. Please try the master branch.
@menshikh-iv I would appreciate if you would release 1.5.6 because the performance issue is not fully resolved by 1.5.5 . Thanks in advance.

[2017-12-11 03:55] appierys commented on #152
@otamachan Thanks~ It works.

[2017-12-11 06:08] menshikh-iv commented on #152
@otamachan I'll release 1.5.6 but slightly later (after setup integration testing contour).

[2017-12-11 09:55] menshikh-iv commented on #43
@mpenkov probably migrate tests to boto3 & close this issue

[2017-12-11 11:43] menshikh-iv commented on #42
Resolved in https://github.com/RaRe-Technologies/smart_open/commit/fbc82cc04bf92e8c588c49c43ff5aff8234ea87d

[2017-12-11 11:43] #42 closed

[2017-12-12 18:28] mfitz commented on #136
Hi @mpenkov

Thanks for your reply - I can confirm that this is indeed fixed using the current master. Excellent news!

[2017-12-13 04:21] menshikh-iv commented on #136
Great @mfitz, thanks for the confirmation!

I close this, because this bug already fixed in current master fbc82cc04bf92e8c588c49c43ff5aff8234ea87d

[2017-12-13 04:21] #136 closed

[2017-12-13 04:52] menshikh-iv commented on #26
I close issue because it works fine with bucket name with dots (like `com.test-gensim.wow`) and current master fbc82cc04bf92e8c588c49c43ff5aff8234ea87d

[2017-12-13 04:52] #26 closed

[2017-12-13 04:52] menshikh-iv commented on #98
@mpenkov yep
@balihoo-gens already fixed in current master

[2017-12-13 04:52] #98 closed

[2017-12-13 05:08] menshikh-iv commented on #62
@piskvorky I have not seen hangs lately, it's still relevant?

[2017-12-13 05:09] menshikh-iv commented on #64
great @mpenkov, fixed by #131

[2017-12-13 05:09] #64 closed

[2017-12-13 05:15] menshikh-iv commented on #74
Already fixed (doesn't reproduce with current master fbc82cc04bf92e8c588c49c43ff5aff8234ea87d

[2017-12-13 05:15] #74 closed

[2017-12-13 05:21] menshikh-iv commented on #87
Works fine with latest master fbc82cc04bf92e8c588c49c43ff5aff8234ea87d, (need to `encode` str to bytes before writing, because mode is `wb`, or change mode to `w`)

[2017-12-13 05:21] #87 closed

[2017-12-13 05:28] menshikh-iv commented on #94
The problem still exists

[2017-12-13 05:43] menshikh-iv commented on #95
Works correctly with current master fbc82cc04bf92e8c588c49c43ff5aff8234ea87d

[2017-12-13 05:43] #95 closed

[2017-12-13 05:48] menshikh-iv commented on #104
Hi @modqhx, sorry for late answer

1. Probably yes, but not from us, we have only python version
2. gensim use `smart_open` almost always (especially for `save`/`load` stuff)
3. If you will read in multiple threads & write with one thread, probably bottleneck will be in DB writing in this case (read more per sec that you can write), in some cases it can work (with very fast databases), but in gene

[2017-12-13 05:48] #104 closed

[2017-12-13 06:31] menshikh-iv commented on #108
I can't reproduce it (because have problem with `boto`)
[code]

Need to move `s3_iter_bucket` to `boto3` and check again, related issue #43

[2017-12-13 06:39] menshikh-iv commented on #113
Thanks @mpenkov
Works fine with current master fbc82cc04bf92e8c588c49c43ff5aff8234ea87d

[2017-12-13 06:39] #113 closed

[2017-12-13 06:41] menshikh-iv commented on #122
duplicate of #43 (need to move to `boto3`)

[2017-12-13 06:41] #122 closed

[2017-12-13 06:49] menshikh-iv commented on #124
Unreproducable with current master fbc82cc04bf92e8c588c49c43ff5aff8234ea87d (probable problems with creds)

[code]

[2017-12-13 06:49] #124 closed

[2017-12-13 07:37] menshikh-iv commented on #129
Thanks for report @tschier, I reproduced your problem.

[2017-12-13 08:04] #135 closed

[2017-12-13 14:35] menshikh-iv commented on #62
Yes, relevant, reproduced with Travis, problem in `test_s3_iter_bucket_moto (smart_open.tests.test_smart_open.S3IterBucketTest)`

[2017-12-13 17:45] yg37 commented on #108
I think I solved the issue by modifying the `s3_iter_bucket` function and using `list(smart_open.S3Openead(key))`.

[2017-12-16 18:49] cosmoschen94 opened #159 "file_smart_open missing mode 'rb' caused error"
Line 668 in `def file_smart_open(fname, mode='rb', encoding=None, errors=DEFAULT_ERRORS)` in smart_open_lib.py

[code]

Should include r+ cases. Otherwise, when mode == 'rb', this will cause KeyError

[2017-12-17 05:47] mpenkov commented on #159
Thank you for reporting this, but I'm not sure what the issue is here. If mode is rb, then a KeyError _is_ raised, but it gets caught immediately below.

Reading files in binary mode also works as expected:

[code]

Could you please clarify what the problem is? What error are you seeing, and what exactly are you doing to cause that error?

[2017-12-17 19:00] cosmoschen94 commented on #159
I was trying to load a pickle file from my local file system by using
`model = KeyedVectors.load('input_model.p', mmap='r')`
and this then KeyError was caught, which prevents me from loading the model

[2017-12-17 19:01] cosmoschen94 commented on #159
after I changed
`raw_mode = {'r': 'rb', 'w': 'wb', 'a': 'ab'}[mode]` to `raw_mode = {'r': 'rb', 'rb':'rb', 'w': 'wb', 'a': 'ab'}[mode]`
I was able to load the model

[2017-12-18 01:42] mpenkov commented on #159
Thank you for providing us more details.

What is KeyedVectors? It isn't part of the smart_open library, from what I know. How is your code using smart_open?

The KeyError should definitely be caught... Could you please paste your relevant code, and the full stack trace here?

[2017-12-18 06:35] menshikh-iv commented on #159
@mpenkov KeyedVector is class from gensim that used for storing *2vec vectors ([code](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/keyedvectors.py#L1068))

Need to test this part more carefully and investigate this problem.
Thanks for report @cosmoschen94, can you share your `input_model.p` file with us (for reproducing your error)?

[2017-12-18 12:50] matt-pazien opened #160 "Using moto 1.1.25 with smart_open raises ValueError: file descriptor cannot be a negative integer (-1)"
Smart open uses an older version of moto to test - using a later release causes test issues.

Creating a simple unit test case using smart_open
smart-open==1.5.5
moto==1.1.25
[code]
This raises an error
[code]

[2017-12-21 11:03] menshikh-iv commented on #159
I tried to reproduce this (for `py27` and `py36` versions), but I see no bug, everything is working fine.

[code]

[code]
For this reason, I close this issue.

[2017-12-21 11:03] #159 closed

[2017-12-21 11:20] menshikh-iv commented on #160
I tried to reproduce, works fine for `py2`, reproduced only in `py36`

[code]

[code]

[2017-12-21 14:30] menshikh-iv opened #161 "Add Appveyor as CI for project"
We have some issues on windows, like #129, to avoid this - need to add windows testing.

[2017-12-22 00:08] mpenkov commented on #160
We pin the moto version for a reason: newer versions of moto treat boto and boto3 mocks differently. Our tests are older and use boto to mock the data, but our newer implementation uses boto3 to read the mocked data. Therefore, we _expect_ our tests not to work under newer versions of moto.

In order for them to work, we'd have to move to boto3 entirely and rewrite our tests. That is issue #43. I

[2017-12-22 03:44] #160 closed

[2017-12-22 03:47] mpenkov commented on #43
We should also upgrade moto to the most recent version.

[2017-12-22 09:12] vvaten opened #162 "HDFS URI support does not support network location"
It seems that "hdfs://host:port/path/file.txt" url scheme is not supported by smart open currently. Therefore, with smart_open it is only possible to access the local HDFS filesystem with the hdfs:// protocol. The URI is parsed correctly by the urlsplit, but the network location is always ignored.

The hdfs dfs command supports the host:port in the URI out of the box, so adding this would be very

[2017-12-22 12:14] matt-pazien commented on #160
@mpenkov I understand - but it's harder to integrate smart_open into other projects if we want to test it ourselves with moto.

[2017-12-22 12:23] mpenkov commented on #160
@matt-pazien I understand. We will work on this issue as part of #43. Unfortunately, dealing with this change of behavior between old & new moto versions will require some effort.

[2017-12-25 06:22] menshikh-iv commented on #162
Looks good for me (only `///` in second example slightly confused).
"port" support will be a good addition, I agree @vvaten.

[2017-12-28 11:27] devangmehta123 opened #167 "In some environments (not all), I see that smart_open adds some characters to bucket name to cause error"
Hi,

Please see error message below. This started happening after my upgrade from 1.5.3 to 1.5.5. It is a strange problem. In my local VM environment, which uses the exact same bucket, these additional characters are not added.

botocore.exceptions.ParamValidationError: Parameter validation failed:
Invalid bucket name "('afdsoftware.energylinx.co.uk": Bucket name must match the regex "^[a-zA-Z0-9.

[2017-12-28 11:36] menshikh-iv commented on #167
Hi @devangmehta123, thanks for the report, can you show code example (needed for reproducing)?

[2017-12-28 11:51] devangmehta123 commented on #167
@menshikh-iv , thanks your quick response. Please see my code snippet below. I am formulating a URL in this code and I have checked it thorugh debugger. It looks correct and one example is this:

's3://some_access_key:some_secret_key@afdsoftware.energylinx.co.uk/paf-sample-subset/2017-10-25/Y17M10/PAF MAIN FILE/fpmainfl.c02.gz'

[code]

[2017-12-28 12:10] devangmehta123 commented on #167
Also, this entire traceback can be useful:

[code]

[2017-12-28 12:44] mpenkov commented on #167
@devangmehta123 Let's try to isolate this issue further.

Does this reproduce the bug in the "broken" environment?

[code]

What do you see when you run the above code? Is the bucket ID correct, or does it start with a parens?

[2017-12-28 12:54] devangmehta123 commented on #167
@mpenkov , I feel very, very silly right now. Because I simply did not look at the settings file correctly and there is one typo which crept through.

The error message is not the best because it is showing somehow the string representation of a tuple but not close parantheses.

But I found this very small mistake in my settings file:

`PAF["s3_url_prefix"] = "afdsoftware.energylinx.co.uk/paf",`

[2017-12-28 13:28] mpenkov commented on #167
@devangmehta123 Glad you figured it out. Please let us know the result of your tests.

If the issue persists, please give us the full URL your are passing to smart_open(). Please redact sensitive info (key, secret, etc). Be sure to use repr() to print the full representation.

[2017-12-28 13:38] devangmehta123 commented on #167
Thank you and yes, the problem was in the typo and smart_open is working correctly now. I am happy to use the latest version with boto3 and now I do not need that boto2 monkey patch.

The monkey patch was needed because my bucket had dot characters in the name and with boto2, there was a bug which created problems with SSL.

Thank you very much and sorry to report a problem which was not a real pr

[2017-12-28 13:38] #167 closed

[2018-01-02 08:59] vvaten commented on #162
Great!

For the second example there would be two alternative implementations:
- ParseUri ('hdfs:///path/file.txt', 'wb') ==> ["hdfs", "dfs", "-text", "/path/test.txt"]
- ParseUri ('hdfs:///path/file.txt', 'wb') ==> ["hdfs", "dfs", "-text", "hdfs:///path/test.txt"]

I.e. the 'hdfs://' is optional in the URI if there is no host or port specified. It defaults to the localhost and the default port. F

[2018-01-02 09:32] vvaten commented on #162
Here's the PR: https://github.com/RaRe-Technologies/smart_open/pull/168

[2018-01-25 03:58] menshikh-iv commented on #88
I close this PR, reason: https://github.com/RaRe-Technologies/smart_open/pull/169#issuecomment-359294218.

[2018-01-25 03:58] #88 closed

[2018-02-04 02:04] clintval opened #170 "Support for opening `pathlib.Path`"
Would you be willing include support for the standard library `Path` object?

[code]

I would be willing to create the PR! Thanks!

[2018-02-04 03:07] clintval commented on #170
No benefit except for duck-typing.

If parity with `open()` is a goal of this project than it would make sense for it be supported. No worries if not!

[2018-02-04 03:49] mpenkov commented on #170
If this improves parity, then it makes sense.

@menshikh-iv what do you think?
On Sun, Feb 4, 2018 at 14:07 Clint Valentine <notifications@github.com>
wrote:

[2018-02-13 09:04] janpom opened #171 "SeekableBufferedInputBase.read(0) returns data"
Steps to reproduce:

[code]

I quickly investigated the problem. It seems the bug is in the `read()` method in the parent `BufferedInputBase` class:

[code]

`if size < 0` maybe?

[2018-02-13 09:08] menshikh-iv commented on #171
CC: @mpenkov

[2018-02-13 09:10] janpom commented on #171
A quick workaround is to subclass `SeekableBufferedInputBase` and handle the special case correctly:

[code]

[2018-02-13 12:32] mpenkov commented on #171
@janpom I think that fixing the superclass' method is preferable to the override. Are you able to submit a PR? If not, I'll look into it during the week.

[2018-02-13 16:25] janpom commented on #171
@mpenkov I wasn't suggesting the workaround as a fix. I was merely pointing out that users can work around the problem (outside of `smart_open` code).

The fix should definitely be be in the `BufferedInputBase`. Some more investigation would be worthwhile. The `size < 0` is just my wild guess. I don't really have time for delivering a proper fix, sorry.

[2018-02-14 00:55] mpenkov commented on #171
That's OK, I understand. Thanks for pointing this out. I'll take it from
here.

On Wed, Feb 14, 2018 at 1:25 AM Jan Pomikálek <notifications@github.com>
wrote:

[2018-02-25 19:20] shmuelamar opened #172 "ignore_extension not supported on file_smart_open"
hi, I'm using this great library and noticed `ignore_extension` is only supported on S3. I'm willing to submit a PR for fixing this for `file_smart_open` if this is desired.

my usecase is concatenating gzip files from both S3 and local filesystem into a single file. to get better performance I am concatenating the gzip files as binaries instead of decompressing, concat and then compress to single

[2018-02-26 05:06] menshikh-iv commented on #172
Hello @shmuelamar, interesting, can you demonstrate some examples (how it should looks)?

[2018-02-26 12:31] dribler commented on #86
@ba1dr u probably exceeded maximum number of parts allowed on multipart upload

[2018-03-13 19:48] FragLegs opened #174 "Don't swallow ClientError when bucket doesn't exist"
In `smart_open.s3.BufferedOutputBase.__init__()` (lines 339-342) why does this library swallow the botocore ClientError and return a ValueError? It makes it tricky to handle the error case properly.

[2018-03-14 01:25] mpenkov commented on #174
From memory, it is because we try to mimic the built-in open.

@menshikh-iv What do you think? Should we just allow the ClientError to be raised?

[2018-03-14 03:39] menshikh-iv commented on #174
@FragLegs  we really mimic python `open`, for this reason, we use standard exceptions (user shouldn't remember about `botocore.client.ClientError`, but can easily catch `ValueError`).

I don't think that this is an issue, @piskvorky through?

[2018-03-14 03:49] FragLegs commented on #174
That makes sense. However, when you try to open an s3 key that doesn’t exist (in a bucket that does exist) you get a `botocore.client.ClientError`. Perhaps that is the thing that should change?

Note: I’m not at my computer right now, but I’m pretty sure that’s the behavior I was seeing earlier today. I’ll reconfirm tomorrow.

Would it make sense to put some info about the ClientError in the raise

[2018-03-14 03:51] menshikh-iv commented on #174
@FragLegs

This is definitely a good idea, PR are welcome!

[2018-03-15 00:45] FragLegs commented on #174
Great! I'll issue one as soon as I can. Thanks!

[2018-03-17 23:11] slimm609 opened #176 "UnicodeEncodeError on latest docker debian image"
Getting this error on the latest docker debian image with python-dev installed

[code]

[2018-03-18 01:28] xCatG commented on #176
I am seeing this with regular `pip install smart-open` as well... :-(

[2018-03-18 02:32] mpenkov commented on #176
[code]

Sounds like Python 2 is having problems encoding the package info. It's strange that this hasn't come up before...

[2018-03-18 02:37] slimm609 commented on #176
not sure.   `sudo pip install` on 2.7 works but `pip install` as a user does not work

[2018-03-18 02:39] mpenkov commented on #176
@slimm609 Could you update setup.py with the following changes and let me know if the problem persists?

[code]

[2018-03-18 02:43] baldwindc commented on #176
Issue resolved: https://github.com/RaRe-Technologies/smart_open/pull/177/files#diff-2eeaed663bd0d25b7e608891384b7298

[2018-03-18 02:52] slimm609 commented on #176
#177 does fix the issue

[2018-03-18 03:05] baldwindc commented on #176
Seems to be an issue with python 3.3.6.. trying to resolve now

[2018-03-18 03:33] mpenkov commented on #176
@baldwindc @slimm609 I think it's preferable to work around this issue without butchering the author's name. Is encoding it to UTF-8 not sufficient?

[2018-03-18 06:40] menshikh-iv commented on #176
Thanks fresh `setuptools==39.0.0` for this problem, they released new version yesterday https://pypi.python.org/pypi/setuptools

[2018-03-18 07:45] schlueter commented on #176
Good find @menshikh-iv. Based on that hint, I found that, the last few versions (all released this weekend) suffer this issue. I had to go back to `setuptools==38.6.1`, which was added to the [changelog](https://github.com/pypa/setuptools/blame/master/CHANGES.rst) 2 days ago. That works perfectly though, just:
[code]

[2018-03-18 07:49] menshikh-iv commented on #176
Connected with https://github.com/pypa/setuptools/issues/1297

[2018-03-18 09:50] #176 closed

[2018-03-18 10:28] menshikh-iv commented on #176
@slimm609 @xCatG @baldwindc @schlueter fixed in #178, `smart_open==1.5.7` (that contained this fix) already releasedhttps://pypi.python.org/pypi/smart_open.

[2018-03-18 23:14] menshikh-iv commented on #176
@schlueter don't worry, I asked him before a change

[2018-03-20 19:15] rizplate opened #179 "How big file?"
1. How big a file can it upload from user's client machine to server to s3? 1G, 500G, 1T?
1. Can it upload binary files
1. Is there a test that shows upload from requests to webserver i.e. flask to s3?

[2018-03-21 01:48] mpenkov commented on #179
1. The theoretical limit of the size of an S3 object is currently 5TB. As for the practical limit when using smart_open, I don't think have any tests for file size, do we @menshikh-iv?
2. Yes
3. I'm not sure I understand the question. The tests are here, please have a look: https://github.com/RaRe-Technologies/smart_open/tree/master/smart_open/tests

[2018-03-21 01:58] michael-robbins opened #181 "Support for reading S3 Object for a given Object Version ID"
Currently we can only read the 'latest' object version when reading an S3 URI.

Off the top of your head(s), would this already be supported somehow? Or would we need to update a lot of code to support this?

[2018-03-21 05:36] menshikh-iv commented on #179
@mpenkov we have no tests for it, but I don't see even potential problems with large files.
@rizplate can you rephrase your question please, I don't catch it too.

[2018-03-21 05:50] mpenkov commented on #181
It's not something we've thought of at all when writing the S3 code.

I don't know how extensive the changes required to support previous versions would be, but yes, you'd have to edit a bit of code. My guess is at the very least you'll have to propagate the version desired from the public API to the S3 module, and then add support for multiple versions within that module.

[2018-03-21 06:29] #181 closed

[2018-03-21 22:22] rizplate commented on #179
@menshikh-iv I meant that can a webserver be added in between? i.e. a client uploads to a webserver using http post and the webserver then uploads to the s3 using smart_open. The particular webserver I am talking about is flask or django.

[2018-03-22 03:58] mpenkov commented on #179
@rizplate That doesn't sound like a test, that sounds like an integration with a Web framework. You would have to install smart_open with its dependencies on the Web server. You would also have to write the integration code, which reads the file uploaded to the server, and writes it to S3 via smart_open.

[2018-03-22 06:23] #170 closed

[2018-03-22 06:25] #179 closed

[2018-03-30 06:17] inksink commented on #43
I have read the [PR 164](https://github.com/RaRe-Technologies/smart_open/pull/164) which will migrate tests to boto3.
But there are many codes used boto in [smart_open_lib.py](https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/smart_open_lib.py). Do we have such a plan to migrate `smart_open_lib` to boto3?
I wish to reduce unnecessary external dependencies in my project.

[2018-03-30 07:29] menshikh-iv commented on #43
@inksink yes, we want to migrate all to `boto3`
CC: @mpenkov

[2018-04-02 10:06] #43 closed

[2018-04-03 21:12] carolingfish commented on #43
I noticed that commit on this has been merged. Any estimate on when the new package including the commit will be released?

[2018-04-04 04:13] menshikh-iv commented on #43
@carolingfish I think I'll release it in the current month

[2018-04-04 08:02] inksink opened #183 "S3.py use the rangestring without end?"
When I have a 30G object, maybe I only want to read front several bytes but I will read the whole object!

[2018-04-04 10:27] piskvorky commented on #183
`smart_open` uses streaming to read data from S3.

If you have a concrete bug report, please include instructions for reproducing the issue.

[2018-04-06 05:26] jayantj opened #184 "Significantly lower throughput compared to `open`"
I was iterating over a large csv file using `open` vs `smart_open` and noticed a significant performance drop when nothing was changed but `open` -> `smart_open`
[code]

Output with `open`:
[code]

Output with `smart_open`:
[code]

Unfortunately, the file I'm using is sensitive data, so I can't share it, but I assume this should be reproducible with any file with a large number of lines. Informati

[2018-04-06 05:29] mpenkov commented on #184
Thank you for the report. Are you using Python 2 or 3?

[2018-04-06 05:30] jayantj commented on #184
Python 3.6.4

[2018-04-06 06:45] menshikh-iv commented on #184
@jayantj can you demonstrate a number of columns & line length distribution (this will be really helpful for generating "fake" data & reproducing the problem).

[2018-04-06 08:12] jayantj commented on #184
Sure. Random sample of 1000 line lengths -
[code]

[2018-04-06 08:15] jayantj commented on #184
Re: columns, 1 column. The problem is reproducible with just iterating over lines in the file though. In fact, it is even more prominent.

open:
[code]
smart_open:
[code]
open is about 15x faster.

Code:

[code]

[2018-04-06 12:07] piskvorky commented on #184
That's super weird -- AFAIK, `smart_open` just returns `open` for local files, no wrapping at all. So it's exactly the same object underneath. Interesting mystery!

[2018-04-06 12:35] mpenkov commented on #184
@piskvorky that's not entirely true, and I'm to blame here :)

I think the problem is to do with UTF-8 decoding. You're opening the file directly in r mode, and Python does decoding for you behind the scenes. smart_open opens the file in binary mode first, and then applies a codecs.getreader (or .getwriter) to it. Ideally, these two should have the same performance, but I wouldn't be too surprised

[2018-04-06 12:38] jayantj commented on #184
I had a quick look at the code and there does seem to be some wrapping. A `codecs.getreader` call is made and the raw file object is wrapped inside it.

Using the same code as above with the file object wrapped in it -

[code]

Throughput -
[code]

Seems pretty close to the smart open results

[2018-04-06 12:39] jayantj commented on #184
Ah I see you beat me to it @mpenkov :)

[2018-04-06 14:17] piskvorky commented on #184
Aha, that must be some new development. I wasn't aware of that.

Yes, local files are definitely a "corner case" worth handling in an optimal way. A 15x slower performance hit is not good.

[2018-04-07 04:39] mpenkov commented on #184
The reason I refer to it as an "edge case" is because smart_open can only rely on the built-in open under certain conditions:

1. Opening a local file
2. Ignore file extension is set to True (by default, it's False)
3. Encoding is left at default (encoding keyword argument)
3. Anything I've missed?

If all of the above are True, then we can shortcut the process I described earlier and just use the

[2018-04-09 09:47] inksink commented on #183
Sorry, there's some bad description in my previous comment.

Suppose `s3://test/test` is a 30G object. Run the code below in IPython.
[code]
Then I will see that the memory of this process will increase to 30G (if you have) .

[2018-04-09 09:57] piskvorky commented on #183
Oh, if that is true, then it's a bug. Read should be buffered/stream.

Can you make your example reproducible, using a concrete S3 file?

[2018-04-09 10:05] inksink commented on #183
Hmmmm, it seems that I made a mistake.
When I run these codes, the memory of my proxy to s3 will increase, not these codes.
Sorry, I will close this issue and do more tests for it.

[2018-04-09 10:05] #183 closed

[2018-04-09 11:46] inksink opened #187 "S3 old object body was not closed after seek()"
In class SeekableRawReader:
If we seek(), self._body will be replaced with a new object['Body']:
[code]
But old body should been closed. Why not :
[code]

[2018-04-09 12:07] mpenkov commented on #187
I think once the function exits, the old body will get garbage-collected and closed then. I don't have anything to back this up.

However, I agree that closing it explicitly is a better idea. May be worth checking for None before the close.

Are you able to make a PR?

[2018-04-09 13:42] inksink commented on #187
OK I will make a PR tomorrow

杨阳

On Mon, Apr 9, 2018 at 8:08 PM +0800, "Michael Penkov" <notifications@github.com<mailto:notifications@github.com>> wrote:

I think once the function exits, the old body will get garbage-collected and closed then. I don't have anything to back this up.

However, I agree that closing it explicitly is a better idea. May be worth checking for None before the close.

A

[2018-04-10 13:26] #187 closed

[2018-04-15 04:43] mpenkov opened #189 "streaming gzip support broken for Py2"
Under Py2, we buffer the entire file in memory to support gzip decompression:

[code]

This is required because gzip requires seek, which we do not implement directly. Buffering works around this limitation, but defeats the purpose of smart_open, as it loads the whole file into memory first.

[2018-04-15 13:02] menshikh-iv commented on #151
**UPD** Regression & integration for S3 done in #158
Integration for HTTP done in #185

[2018-04-21 13:28] #184 closed

[2018-04-22 11:14] mpenkov commented on #172
@menshikh-iv I think this got resolved via pull request #185

[2018-04-22 11:15] mpenkov commented on #146
I think this is resolved by #185

[2018-04-22 13:58] menshikh-iv commented on #172
Yes, you are right, thanks @mpenkov!

[2018-04-22 13:58] #172 closed

[2018-04-22 13:58] menshikh-iv commented on #146
@mpenkov :+1:

[2018-04-22 13:58] #146 closed

[2018-04-22 13:59] menshikh-iv commented on #111
@mpenkov  great, thanks!

[2018-04-22 13:59] #111 closed

[2018-05-05 09:50] #156 closed

[2018-05-06 11:16] #171 closed

[2018-05-12 08:00] bolkedebruin opened #195 "Example with custom S3 isnt working"
The examples list

[code]

But this doesn't work. `smart_open` does not parse the host/port bits.

https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/smart_open_lib.py#L383

[2018-05-23 07:49] RHSman opened #197 "Can't read Word2Vec file from S3"
Hi,

I am trying to load a Word2Vec file from S3 into a Flask app. (Python 2.7)

The Word2Vec binary file was created via Gensim 3.4.0 using
`model.wv.save_word2vec_format('model_b.bin', binary=True)`

When pulling in from S3 I get the following error:

`  File "api/app.py", line 54, in load_model
    model = KeyedVectors.load_word2vec_format(model_str, binary=True, unicode_errors='ignore')
  File

[2018-05-23 08:51] piskvorky commented on #197
Hi, you want to use `load_word2vec_format()` directly using the S3 path (not on some `model_str` object). See the examples on the `smart_open` home page for how to specify S3 paths (the `s3://` prefix).

[2018-05-23 08:51] #197 closed

[2018-05-29 21:44] bkapoorUF commented on #43
Any update on when this will be released?

[2018-06-12 20:07] Arvinds-ds opened #198 "Support for GCS"
Do you have plans to support the Google Cloud Storage protocol `gcs://`

[2018-06-13 10:59] piskvorky commented on #198
Sounds like a good idea to me. No concrete plans yet -- do you want to implement this?

[2018-06-14 15:44] eschwartz opened #199 "Missing Support for Assumed IAM Roles (aws_session_token credentials)"
I was very excited to find this library, as I needed a solution streaming large datasets to S3.
Unfortunately, it looks like it can't support credentials from an assumed IAM role.

From what I can tell, the only way to configure AWS credentials is by embedding the credentials in the S3 URI:

[code]

But in order to use an assumed IAM role, I need the access_key_id, the secret_access_key and a **se

[2018-06-14 15:56] piskvorky commented on #199
A PR will be great, as that functionality sounds useful.

There was a related PR recently, #194 -- you can use that as the starting point.

[2018-06-14 16:15] eschwartz commented on #199
Great -- and thanks for responding so quickly.

I'm thinking that `smart_open()` will accept a `boto3_session` parameter. Does that sound like a good approach to you?

Looking at #194 - we actually _will_ need server side encryption too, so I may have to help get that one though as well. Any idea why that PR was closed by the author?

[2018-06-14 16:22] eschwartz commented on #199
So I'm sorry -- I apparently didn't look at existing PRs, before opening this issues.
Looks like we have a couple PRs working on this already: #149 and #130. I'll see if I can help shepherd those through.

[2018-06-14 20:05] eagene opened #200 "S3 getpwuid error"
I use smart_open in an AWS lambda to open S3 files. On occasion, I get the below error. Any ideas?

Thanks,
Elizabeth

Traceback (most recent call last):
File "/var/task/lambda_function.py", line 49, in getFile
f = smart_open.smart_open('s3://{}/{}'.format(bucket, key), 'w')
File "/var/task/smart_open/smart_open_lib.py", line 178, in smart_open
return s3_open_uri(parsed_uri, mode, **kw)
File "/var

[2018-06-18 18:01] eschwartz commented on #199
This will be resolved by #201

[2018-06-25 17:47] piskvorky commented on #199
Fixed by #201.

[2018-06-25 17:47] #199 closed

[2018-07-05 16:03] menshikh-iv opened #207 "Different behaviour with `open`"
**Problem:** `smart_open==1.6.0` doesn't work correctly with `numpy.frombuffer` function (`numpy < 1.13.0`, preferable to test with `numpy==1.11.3`, `python2.7`).

**Example:**
**env**:
- `numpy==1.11.3`
- `gensim==3.4.0`
- `smart_open==1.6.0`
[code]
Trace
[code]

If I replace
[code]
from https://github.com/RaRe-Technologies/gensim/blob/875b028ccd009fe2fa7665e177b8ab0b5e2dc40d/gensim/models/fastte

[2018-07-05 16:05] piskvorky commented on #207
Let me add that the bug is the violation of the `smart_open` contract: "for local uncompressed files, smart_open() is always a drop-in replacement for open()".

[2018-07-06 00:32] mpenkov commented on #207
We have two important contracts:

1. Quack like open (as you mentioned above)
2. Support both Py2 and Py3

Unfortunately, these two contracts conflict because the open functions
differ between the major Py versions. Py3 accepts many more parameters and
support for encodings.

How should we manage this conflict?
On Fri, Jul 6, 2018 at 1:07 Ivan Menshikh <notifications@github.com> wrote:

[2018-07-06 01:29] menshikh-iv commented on #207
@mpenkov "quack" like a python3 always (this still "contradiction",  but looks like best solution)?

[2018-07-06 06:43] mpenkov commented on #207
That’s going to be hard. Look at this example: open a local file with
koi8-r encoding.

Under Py3, you just call the built-in open and return a file descriptor.
This satisfies the contract that Radim mentioned. Everyone is happy.

Under Py2, the built-in open does not support encodings, so you have to
deal with it yourself. You _could_ wrap it in a codec layer, but then you’d
violate the contract:

[2018-07-06 07:46] piskvorky commented on #207
`smart_open` should work like `open` (no matter which Python).

[2018-07-06 10:03] menshikh-iv commented on #207
@piskvorky open from `python2` or `python3`? I agree with @mpenkov, this isn't clear: for example, we'll simply use standard python `open` - we'll have no encoding argument for python2, that's not our goal.

Probably, this should be affected only for trivial variants, i.e. if user pass parameters matched to
https://docs.python.org/2/library/functions.html#open (on `python2`) or
https://docs.python

[2018-07-06 16:16] piskvorky commented on #207
Not sure I understand. What I'm saying is that if native `open` doesn't support a parameter, neither do we.

I mean, if we support something extra, that's nice. But definitely not at the cost of breaking the "drop-in contact".

[2018-07-06 23:45] mpenkov commented on #207
We _do_ support an encoding parameter, regardless of what the built-in open
supports. That’s part of the problem.
On Sat, Jul 7, 2018 at 01:16 Radim Řehůřek <notifications@github.com> wrote:

[2018-07-06 23:53] mpenkov commented on #207
Going back to the example I gave previously, if we receive an encoding
parameter when the native open doesn’t support one (Py2), we can:

1) perform our own decoding, violating the contract
2) ignore the parameter, but keep to the contract
3) explode with an error
4) ... anything else?

How do you think we should handle the above situation?
On Sat, Jul 7, 2018 at 08:45 Misha Penkov <misha.penkov@g

[2018-07-07 05:11] piskvorky commented on #207
Both 1) and 3) are OK. 1) doesn't really violate the "drop-in" contract, since there is no original to violate (`open` wouldn't even work).

Note however that this is not the case that triggered this issue. There was no `encoding` parameter -- the original `open` worked fine.

[2018-07-07 05:50] mpenkov commented on #207
[code]

I can reproduce this problem with numpy-1.11.3. With newer numpy, it's no longer a problem.

[2018-07-13 14:41] vinuthna91 opened #209 "Data loss while writing avro file to s3 compatible storage"
Hi,

I am converting a csv file into avro and writing to s3 compliant storage.I see that schema file(.avsc) is written properly. However, there is data loss while writing to .avro file.
Below is snippet of my code

[code]

[2018-07-14 08:31] mpenkov commented on #209
Thank you for providing example source. Could you please describe what the problem is in detail? An example of the data loss, as well as how you detected it, would be very helpful.

[2018-07-14 19:20] vinuthna91 commented on #209
I converted the avro file to Json and read the number of lines. I expect the number of lines in Json to match the number of lines in csv and it didn't match.

[2018-07-15 01:49] mpenkov commented on #209
Have you confirmed that this problem still persists if you use local storage instead of smart_open?

[2018-07-15 03:19] vinuthna91 commented on #209
Yes, this problem doesn't exist if I use local storage . However file on local storage was not written through smart_open

[2018-07-15 06:52] vinuthna91 commented on #209
Yes file is being read correctly. I counted number of lines in the dataframe i loaded . i also counted the datumWriter count. It matches but after writing to avro on s3 and reading it i see there is data loss. This confirms that problem is with writing binary data to s3

[2018-07-15 07:37] mpenkov commented on #209
What version of smart_open are you using? Have you observed a similar problem with older versions?

[2018-07-15 08:03] vinuthna91 commented on #209
smart_open-1.3.5 with anaconda version of python 2.7

[2018-07-15 08:18] vinuthna91 commented on #209
I haven't tried with other versions

[2018-07-15 08:20] mpenkov commented on #209
OK, thank you for providing detailed information about this bug. We will investigate.

[2018-07-15 08:45] vinuthna91 commented on #209
thanks

[2018-07-15 16:01] macks22 opened #210 "Support for 's3a://' URIs"
**`smart-open` version**: 1.6.0

Currently, attempting to use a URI scheme start with `'s3a://'` results in `NotImplementedError`:
[code]

As far as I can tell, there is not currently a workaround for this. While the API does support using `boto.s3.key.Key`, it does not support the `boto3` Object metadata dict returned from `boto3.client('s3').get_object(Bucket=bucket, Key=key)`; gives:
[code]

It

[2018-07-18 13:56] vinuthna91 commented on #209
Hi, do you have any update?

[2018-07-18 14:12] mpenkov commented on #209
Sorry, no, I have not looked into this yet. Is this urgent for you?

[2018-07-19 02:16] vinuthna91 commented on #209
Yes, this is a blocker for us . We are also searching some alternative to smart open. Haven't found any yet. At least a work around asap would be great

[2018-07-19 08:53] mpenkov commented on #209
I think the workaround is to write the avro file to local storage first, and upload to S3 when it is complete.

I've started investigating the issue, but cannot reproduce the problem because your code sample is incomplete: the gen_schema function is missing. Could you please look at this file:

https://github.com/mpenkov/smart_open/blob/209/integration-tests/test_209.py

and update it so that it r

[2018-07-19 16:41] mpenkov commented on #209
Where is the updated file?

[2018-07-20 16:21] vinuthna91 commented on #209
I have updated the code in test_209.py you provided. It showed pushed

[2018-07-20 17:06] mpenkov commented on #209
I think your push failed. Here’s the file in your repo: https://github.com/vinuthna91/smart_open/blob/209/integration-tests/test_209.py

It’s unchanged from my version.

If you cant work it out, please paste the code here as a comment.

[2018-07-23 15:53] vinuthna91 commented on #209
I changed it, I am sorry for delayed response. I was out of station.

https://github.com/vinuthna91/smart_open/blob/209/integration-tests/test_209.py

def gen_schema(paramNames):
	paramNamesLen = len(paramNames)

	dataName = 'schema'
	avroSchemaOut = "{\n\t\"type\": 	\"record\", \"name\": \"%s\", \"namespace\": \"com.sandisk.bigdata\", \n \t\"fields\": [" %(dataName)

	if paramNamesLen==0:
		#no p

[2018-07-24 05:19] mpenkov commented on #209
I pulled your changes and made some updates. Unfortunately, the code crashes with an error unrelated to smart_open:

[code]

Please have a look and update the code. The updated code is here: https://github.com/mpenkov/smart_open/blob/209/integration-tests/test_209.py

[2018-07-25 16:15] vinuthna91 commented on #209
Updated code is here:
https://github.com/mpenkov/smart_open/pull/1/commits/3eaf46f0ca48d23b50f15921bdb16fe812ed17e2

[2018-07-26 00:59] mpenkov commented on #209
Thank you for the update. Unfortunately, I still cannot reproduce your problem because of errors in avro.

[code]

Can you please make sure the test runs and reproduces your actual problem?

[2018-07-26 11:46] vinuthna91 commented on #209
Can you give the csv you used?

[2018-07-26 11:53] mpenkov commented on #209
The CSV gets downloaded as part of the actual test. Please see the source
file.
On Thu, Jul 26, 2018 at 20:46 vinuthna91 <notifications@github.com> wrote:

[2018-07-26 17:32] vinuthna91 commented on #209
Could you please check now. I updated the code.
smart_open/integration-tests/test_209.py

[2018-07-27 05:08] vinuthna91 commented on #209
Were you able to try it? Please confirm that the code is working now

[2018-07-27 07:50] mpenkov commented on #209
Yes, the code is working now. I was able to use it to reproduce the problem. I also simplified it a bit to rule out errors in the actual test: https://github.com/mpenkov/smart_open/blob/209/integration-tests/test_209.py

I'll take it from here. Thanks for your help in reproducing the problem.

[2018-07-27 07:53] mpenkov commented on #209
[code]

[2018-07-27 08:11] mpenkov commented on #209
The two avro files are:

1. local.avro: written straight to local storage
2. remote.avro: written to S3 storage via smart_open, and then retrieved via the CLI
They should be the same, but they are different for some reason, suggesting there is a problem with smart_open.

[2018-07-27 16:39] mpenkov commented on #209
Some more details:

[code]
The same number of bytes get written in both cases, but there seems to be some corruption happening from bytes 02c0 to 02e0 (704 to 736 in decimal); and fd20 to fd40 (64800 to 64832 in decimal).

Interesting points:

- The first badness includes several write boundaries.
- The second badness is in the last 32 bytes on the file. It includes a boundary between writes.

[2018-07-27 17:30] mpenkov commented on #209
@vinuthna91 I've had a look at the issue. It appears avro is sending _slightly_ different data when writing locally compared to when writing to S3 via smart_open. Have a look at [this branch](https://github.com/mpenkov/smart_open/blob/94ac9bae9bf7c3738aeda6c2b36ba1903e8c327c/integration-tests/test_209.py).

I've also added logging to the library in the critical places. This logging is important fo

[2018-07-29 03:13] vinuthna91 commented on #209
Avro takes foutd as argument which is file writer. For local storage it is just fopen argument, while in s3 case, it is generated from smart open isn't it? Do you think avro cannot generate correct data for smart open key?

[2018-07-29 03:49] vinuthna91 commented on #209
Could you suggest any other way of writing avro files to s3 using python instead of using avro datum writer?

[2018-07-29 06:38] mpenkov commented on #209
I'm not 100% sure, but that's the only plausible explanation I can offer, given the test results above. To be 100% sure of what's going on, you'd have to debug avro, confirm that it's sending different data, and look for a reason why.

Sorry, I'm entirely unfamiliar with avro.

I have a follow-up question for you. How do you convert the avro files to JSON, so that you can see the effect of data co

[2018-07-29 06:45] vinuthna91 commented on #209
I have a follow-up question for you. How do you convert the avro files to JSON, so that you can see the effect of data corruption?

I use a Java jar to do this. Command below-
java -jar avro-tools-1.8.2.jar tojson <avrofilename.avro> > jsonfilename.json

[2018-07-30 02:37] mpenkov commented on #209
@scottbelden Thank you for looking into this.

S3 is a cloud-based storage solution from Amazon Web Services. S3 stores data in collections called buckets. In your case, you're trying to write to a bucket that you don't have write access to, as the error at the end of the stack trace is trying to tell you.

To help you solve the problem, I've added the option to mock out S3. This way, you can repr

[2018-07-30 03:34] mpenkov commented on #209
OK, then we need to make the tests more robust. Can fastavro convert avro files to JSON? I'd rather not have to include java in the test to do the same thing.

[2018-07-30 04:02] scottbelden commented on #209
Converting to JSON is something I'm actually working on in my free time at the moment, but it doesn't quite work yet. However, you can use the regular `avro` library to read the file and spit out the list of records and compare those.

To read the records you can do this:

[code]

And then you could add some check like you have with the binary diff:

[code]

When I do that I get:

[code]

[2018-07-30 04:59] mpenkov commented on #209
@scottbelden Thank you for providing insight about avro. I've updated the test.

@vinuthna91 Please see the updated test. Everything passes, so we cannot reproduce your error anymore. We get the same result with and without mocking.

Please try to reproduce the error using the updated test code.

[code]

[2018-07-30 05:44] vinuthna91 commented on #209
so, fix is to set the avro sync marker to same value to avoid data loss?
@mock.patch('avro.datafile.DataFileWriter.generate_sync_marker', mock.Mock(return_value=b'0123456789abcdef'))

[2018-07-30 05:51] mpenkov commented on #209
No, that line is there so that the sync marker does not interfere with the binary check. You may remove it during your tests, but if you do so, be sure to disable the binary check at the end as well.

The current test results show that there is no data loss. Please confirm using your own data and let me know if you get a different result.

[2018-07-30 05:56] vinuthna91 commented on #209
Ok, I will check and let you know

[2018-07-30 06:34] vinuthna91 commented on #209
I checked on my dataset. local.avro and remote.avro matched but total number of records in avro file and csv file did not match even by reading with read_avro function in your code.

[2018-07-30 06:34] vinuthna91 commented on #209
number of records read by avro should be same as number of data lines

[2018-07-30 06:49] mpenkov commented on #209
If local.avro and remote.avro matched, the problem isn't in smart_open.

[2018-07-30 07:03] vinuthna91 commented on #209
@mpenkov  thanks for the help. I will debug more to see what is the issue in the script.

[2018-07-30 07:38] vinuthna91 commented on #209
@mpenkov I have an observation:

while i read csv from local storage, convert it to avro
local.avro and remote.avro do not differ.

However, i read csv from s3, convert it to avro
local.avro and remote.avro differ.

[2018-07-30 08:07] mpenkov commented on #209
Without seeing your actual test case (source code or at least shell commands), it's hard for me to comment.

I ran an additional test to ensure that there is no data loss when _reading_ files from S3:

[code]

I downloaded the CSV file using 1) smart_open 2) AWS CLI and compared the two files. They were identical, so there is no data loss in the reading case, either.

[2018-07-30 09:14] vinuthna91 commented on #209
I have used same code provided by you except that i used my local data set. My csv file size is only 90KB

On line number 72, I have added #writer.close(). When writer.close() is uncommented, writing local.avro to local storage is complete and there is no data loss. However, writing to s3 storage throws an error AttributeError: 'S3OpenWrite' object has no attribute 'flush'.
Here local.avro and rem

[2018-07-30 10:41] menshikh-iv commented on #195
Thanks for report @bolkedebruin
CC @mpenkov

[2018-07-30 11:21] scottbelden commented on #209
I don't know how `pandas` works, but if you look at the [`data` variable](https://github.com/mpenkov/smart_open/blob/209/integration-tests/test_209.py#L57) which is the result of running the csv file through pandas you'll notice that it only has `[477 rows x 9 columns]`. The csv file has over 172,000 rows, so it seems like some data is getting truncated there.

[2018-07-30 11:36] vinuthna91 commented on #209
i don't see truncation in number of rows in pandas data frame. i see it only in the avro file. I am counting number of records written to local avro file when we use writer.close() and when we do not use.

[2018-07-30 11:41] scottbelden commented on #209
When I read in all the data using `SO_NUMROWS=477` and then print the resulting number or records I see that `local.avro` has 172396 while `remote.avro` has 172389

[2018-07-30 11:42] vinuthna91 commented on #209
when writer.close() is called it internally calls a flush() method that Flushes the current state of the file, including metadata. The error i am getting is 'S3OpenWrite' object has no attribute 'flush'. because of which metadata is being lost.

[2018-07-30 11:45] scottbelden commented on #209
I don't see that exception from the test script, but yeah, that would make sense.

[2018-07-30 11:49] vinuthna91 commented on #209
@scottbelden  that is exactly the data loss i am talking about.

If you uncomment writer.close() in line#72, you should see the exception while writing to avro file on s3

[2018-07-30 11:52] scottbelden commented on #209
I'm not sure which script has `writer.close()` on line 72...

[2018-07-30 11:54] vinuthna91 commented on #209
I made the change to test script. If you do not see the change, you need to add writer.close() to the write_avro function definition:

def write_avro(foutd):
    schema = avro.schema.parse(avroSchemaOut)
    dictRes = data.to_dict(orient='records')
    writer = avro.datafile.DataFileWriter(foutd, avro.io.DatumWriter(), schema)
    for ll, row in enumerate(dictRes):
        writer.append(row)
    w

[2018-07-30 11:58] mpenkov commented on #209
@vinuthna91 Why are you closing the writer manually? The writer is a context manager. It will take care of closing and cleaning up when the context exits (at the end of the "with" block).

[2018-07-30 12:01] vinuthna91 commented on #209
Thanks!

[2018-07-30 12:55] menshikh-iv commented on #43
@bkapoorUF already released as `smart_open==1.6.0`

[2018-07-31 07:32] menshikh-iv commented on #210
@macks22 good idea, I'm +1, wdyt @mpenkov?

[2018-07-31 07:47] mpenkov commented on #210
As long as we update the tests and they pass, sounds like a good idea to me.

@macks22 Can you make a PR?

[2018-08-02 04:52] vinuthna91 commented on #209
could you find anything?

[2018-08-02 04:59] mpenkov commented on #209
It's still Thursday. Weekend starts in two days.

[2018-08-02 14:40] vinuthna91 commented on #209
Okay.

[2018-08-04 11:29] vinuthna91 commented on #209
@mpenkov Thanks for looking into it.

unfortunately, i used the same code and it still throws me error about absence of flush method.
Error below-

CRITICAL:root:writing to <open file 'local.avro', mode 'wb' at 0x7fdb98674ae0>
CRITICAL:root:writing to <open file 'local-so.avro', mode 'wb' at 0x7fdb98674b70>
CRITICAL:root:writing to <open file 'local-nomanual.avro', mode 'wb' at 0x7fdb98674ae0>
CRI

[2018-08-04 11:30] vinuthna91 commented on #209
Also, in your test code, try reading csv file from s3 because my test case is reading a csv from s3 -> converting to avro -> writing back avro to s3

[2018-08-04 12:11] mpenkov commented on #209
Whoa... Please [format your code](https://guides.github.com/features/mastering-markdown/) next time.  Besides, most of that code is not relevant, because it demonstrates facts that we've already established (if you don't close the Avro writer, you'll lose some data).

Thank you for giving me details about your test case, I don't think this is relevant to the problem.

What version of avro are you

[2018-08-04 13:10] vinuthna91 commented on #209
Sure,  I will format it. I am using version 2.0

[2018-08-04 13:53] vinuthna91 commented on #209
Thanks. It says object is read only

Traceback (most recent call last):
  File "test_smartopenavro.py", line 119, in <module>
    write_avro_nomanualclose(foutd)
  File "test_smartopenavro.py", line 59, in write_avro_nomanualclose
    foutd.flush = lambda: None
AttributeError: 'file' object attribute 'flush' is read-only

[2018-08-04 14:01] mpenkov commented on #209
Sounds like you're overriding flush for the wrong object.

This means that flush already exists for that particular object.

[2018-08-04 14:05] vinuthna91 commented on #209
Got it. Its  working now . Thanks a lot for the work around :)

[2018-08-06 05:49] cclauss opened #213 "Undefined name 'uri' in smart_open_lib.py"
flake8 testing of https://github.com/RaRe-Technologies/smart_open on Python 3.7.0

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-08-07 14:08] menshikh-iv commented on #213
Good catch @cclauss, thanks for the report!

[2018-08-07 14:16] menshikh-iv opened #216 "Improve tooling for repository"
We need to improve the tooling of the repository to increase code-quality and simplify test process
- [x] Add style-checker (pycodestyle, flake8, any)
- [x] Add tox that should allow
  - [x] Run tests with all python version
  - [x] Run style-checkers
  - [x] (optional) Run integration tests

**Discussion:** @piskvorky @mpenkov wdyt to add automatic code-formatter like  https://github.com/google/y

[2018-08-07 14:19] #213 closed

[2018-08-07 21:07] piskvorky commented on #216
Fine with me (of course), good idea. As long as we can enforce, or at least allow, hanging indent (not vertical) and lines longer than 80 chars.

[2018-08-07 22:18] cclauss opened #218 "Travis CI: Why does enabling sudo cause the tests to fail?"
Demonstrated: #217 Output: https://travis-ci.org/RaRe-Technologies/smart_open/builds/413337196

Blocks #215

[2018-08-13 03:30] menshikh-iv commented on #207
Fixed by #208

[2018-08-13 03:30] #207 closed

[2018-08-13 03:34] menshikh-iv commented on #218
@cclauss I think that's a question to `boto3` team, can you submit an issue to https://github.com/boto/boto3?

[2018-08-13 06:09] cclauss commented on #218
https://github.com/boto/boto3/blob/develop/.travis.yml#L23-L25

[2018-08-13 06:12] menshikh-iv commented on #218
@cclauss That's not an answer to the question "why this happens", I see that it works in the `boto3` repo, but this is different way of installation (we using PyPI, `boto3` use `boto3` repo).

[2018-08-15 18:05] trentgerman commented on #33
I'd be interested in seeing the implementation for this. I've used pysftp in the past for such tasks and it is very slow for large files (you're better of with sftp)

[2018-08-16 16:08] trentgerman opened #220 "Streaming many 200mb files to s3 - is this the right library?"
Hi all -

The header says it all! I'm looking for a way to stream ~30 200 mb files to s3. would you say this is the correct library to do so? I'd like to do this in a way that is async using python 2.7, and I've had some trouble doing this task.

One thing I've noticed is that smart_open seems to fail if I make a call within a python multiprocessing.process. I believe this is actually some issue w

[2018-08-17 01:16] menshikh-iv commented on #220
yes

30 files looks not so much, can be easily done in sequential model (without any multiprocessing), but if you really needed - can you please share your current code (that raise an Exception) with full trace, we'll have a look.

as idea, what's about standart threads (most of this task are IO -> GIL released ->  should works OK with standart threads)?

[2018-08-17 09:48] stolam opened #222 "_parse_uri not public anymore?"
Hi,
I like how elegantly you refactored parsing URI using tuples. Is there a reason, why is it protected now?
It is handy and we would like to use it outside of smart_open.

[2018-08-29 21:19] hyphen1370 opened #223 "Syntax Error when try to upload to S3"
I try to upload a file from Twilio URL to S3.

Here is the code I am using:

[code]

It always gives me syntax error:

[code]
The S3 URI should be correct since I follow the instruction, any clues?

Example S3 URI:
s3://<access-key>:<secret-key>@omax-mis/twilio-messages-media/final/MEcd7c36e75f87dc6dd9e33702cdcd8fb6

Thanks

[2018-08-29 21:27] mpenkov commented on #223
This is fixed in https://github.com/RaRe-Technologies/smart_open/pull/204, waiting to merge.

[2018-08-29 21:57] hyphen1370 commented on #223
Do you want when it merge will happen? After that, could I do pip update to update the version?

[2018-08-29 23:07] mpenkov commented on #223
We will merge soon. You can pip update once we do a release.

@menshikh-iv When are we planning the next release?

[2018-08-30 01:35] menshikh-iv commented on #223
@mpenkov  let's finish #204 and I'll make bugfix release after it (weekend or next week)

[2018-08-31 12:07] mpenkov commented on #209
Closed via https://github.com/RaRe-Technologies/smart_open/pull/212

[2018-08-31 12:07] #209 closed

[2018-09-02 05:40] #94 closed

[2018-09-02 14:02] mpenkov commented on #223
Closed via https://github.com/RaRe-Technologies/smart_open/pull/224

[2018-09-02 14:02] #223 closed

[2018-09-04 20:28] hyphen1370 opened #226 "upload remote file to S3 using this library"
Hello,

I would like to use this library to stream a file from URL to S3.

Here is the code I tried:

    smart_open_s3_uri = 's3://' + aws_access_key + ':' + aws_SecretAccess_key + '@' + event['S3Bucket'] + '/' + event['S3KeyPath']
    print(smart_open_s3_uri)

    with smart_open(smart_open_s3_uri, 'wb') as fout:
        for line in smart_open(event['MediaURL']):
            print(line)

[2018-09-04 22:41] mpenkov commented on #226
If you don't see anything on standard output, then perhaps whatever you're trying to write is empty?

What do you see if you do:

    aws s3 cp s3://whatever/the/event/media/url/is test.dat
    ls -lh test.dat

from the command line?

[2018-09-04 23:18] hyphen1370 commented on #226
I am sorry that I can't do the cp command since the file is not showing up in S3. The event['MediaURL'] contains a URL generate from Twilio, like

https://api.twilio.com/2010-04-01/Accounts/AC45215bd3e339f0374b99a1272d42c5e1/Messages/MM4da22524eab6f965d87f34329f8bcd3e/Media/MEcb9bc0b863fd6c29517519d83d387d83

which publicly accessible.
This URL redirect to
https://s3-external-1.amazonaws.com/media

[2018-09-04 23:35] hyphen1370 commented on #226
So, do you know why it doesn't any message return? Is that redirect URL being the problem?

[2018-09-05 00:08] mpenkov commented on #226
I think you need to debug your code.

Try something like:

[code]

If everything checks out, then you can start read-writing on the fly.

[2018-09-06 00:01] hyphen1370 commented on #226
Figured out the issue, it looks like the package has to run under python 3.6. I used the pip3 install smart_open -t <directory> and it works. It doesn't work when I use pip

[2018-09-06 01:33] menshikh-iv commented on #226
@hyphen1370 that's strange because of smart open support python `2.7` and `3.3+` (@mpenkov code should work for both python versions)

[2018-09-07 21:19] hyphen1370 commented on #226
Hello,

One more issue, every file uploaded to S3 has the same content type "binary-ostream". Is there anyway to set content-type while uploading/streaming file to S3 using smart_open?

[2018-09-08 00:34] mpenkov commented on #226
I don't think so. You may have to use boto3 to do that explicitly after streaming.

[2018-09-10 04:09] menshikh-iv commented on #226
So, I think I can close this thread (no bug in `smart_open`)

[2018-09-10 04:09] #226 closed

[2018-09-10 10:53] pranasziaukas opened #227 "Cannot install 'smart-open' using Pipenv - incompatible dependencies"
I am using Python 3.7 and Pipenv to manage the dependencies.

I am starting from scratch in a new folder with
[code]
This is supposed to create a new virtual environment using Python3, install `smart-open` and... that's it. However, it cannot lock the dependencies and returns
[code]

Further inspection
[code]
returns
[code]

[2018-09-11 08:50] pranasziaukas commented on #227
Sorry, I'm moving this to the `pipenv` issue tracker.

[2018-09-14 02:26] menshikh-iv opened #228 "Support Azure BLOB storage"
Add a connector for Azure blob storage, original request - https://github.com/RaRe-Technologies/gensim/issues/2184

[2018-09-15 05:26] #210 closed

[2018-09-18 09:02] piskvorky opened #231 "Return number of bytes written from `write()`"
Python3 `write()` is expecting to return the number of bytes written. `smart_open`'s write doesn't return anything (`None`).

Addressed in #132 but PR abandoned -- requires a unit test before merge.

[2018-09-19 13:43] whyboris commented on #227
I too have the problem with `pipenv` installing the package. Is it not an issue with `smart-open` though? I am trying to install _gensim_ and get this tree:
[code]
Specifically, notice that we have incompatible versions required:
[code]
I'm looking on `pipenv` issue tracker as well, but why are the `required` fields different? I imagine that comes from the package, not the _pipenv_ installer 😕

[2018-09-19 13:56] whyboris commented on #227
Related ticket for tracking on `pipenv` side: https://github.com/pypa/pipenv/issues/2867

[2018-09-19 14:04] whyboris commented on #227
We're in trouble ... @menshikh-iv ?

It looks like `pipenv` is doing its best, but the versions are simply incompatible -- two dependencies want two different versions of sub-dependencies:

`smart_open` wants
[code]
https://github.com/RaRe-Technologies/smart_open/blob/master/setup.py#L54

While `boto3` wants
[code]
https://github.com/boto/boto3/blob/develop/setup.py#L17

[2018-09-19 15:59] #227 closed

[2018-09-19 15:59] menshikh-iv commented on #227
Fixed in #232, let me release this bugfix too as `1.7.1`

[2018-09-19 16:27] menshikh-iv commented on #227
Version `1.7.1` (with unpinned `boto3` & `botocore`) released @whyboris @petergaultney

[2018-09-19 16:34] petergaultney commented on #227
Thank you for this!!

For anyone else watching this issue, I had to run `curl -X PURGE https://pypi.org/simple/smart_open` to get pip to actually find the new 1.7.1 version on PyPi.  YMMV :)

[2018-09-19 19:30] rizplate opened #233 "chunk load save?"
processing line by line is takes very long time on big files.

does this support chunksize or num_lines etc, so that large files can be processed in big batches?

[2018-09-19 21:02] rileypeterson opened #234 "Exception thrown when parsing URI without "@""
Recently had some test failures caused by `smart_open.smart_open`. I'm pretty sure this is due to the pull requests that were accepted from [Issue 94](https://github.com/RaRe-Technologies/smart_open/issues/94) and [this line](https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/smart_open_lib.py#L491).

Here is the traceback from Jenkins:
[code]

In my instance this variable:
`ur

[2018-09-20 01:53] menshikh-iv commented on #233
as I remember - no, but `smart_open` has an internal buffer, i.e. fetch N bytes at once (not 1 by 1).
CC: @mpenkov

[2018-09-20 01:53] #233 closed

[2018-09-20 01:56] menshikh-iv commented on #234
@rileypeterson hello, submit PR are the pretty good idea :+1:

[2018-09-20 05:55] mpenkov commented on #233
If fetching things line-by-line doesn't work, then you can always open the remote file as binary and do your own buffering.

[2018-09-20 06:50] piskvorky commented on #233
@rizplate what file scheme are you streaming from? (s3, local, hdfs…)

Also, what is "very long time" on "big" files, concretely?

[2018-09-20 06:52] piskvorky commented on #234
Don't forget to include a unit test (fails before, passes after), to avoid regressions.

[2018-09-20 16:17] whyboris commented on #227
Confirming the problem is solved. I no longer get the error I got before I opened this issue. 🎉

Thank you for the swift work 🙌

[2018-09-20 19:02] piskvorky commented on #227
Ivan is an unstoppable release tornado this week 🌪 Thanks @menshikh-iv

[2018-09-20 23:10] rizplate commented on #233
@piskvorky I am using s3 and file size is around 1TB.

 I need to do some processing before fetching next line, and I can not store whole thing locally right away. That is why I was wondering if any chunksize is supported so that network latency is not bottleneck on the internal buffer

[2018-09-21 01:46] menshikh-iv commented on #233
@rizplate as @mpenkov suggested - you can implement your own buffering with binary mode

[2018-09-21 03:37] mpenkov commented on #233
@menshikh-iv Actually, it's not even necessary to use binary mode in this case. @rizplate has indicated that he's processing the file _line by line_ and that the processing takes time. So, @rizplate needs to implement their own line-based buffer.

[2018-09-21 05:35] piskvorky commented on #233
AFAIK the S3 reader in `smart_open` already does line buffering, like @menshikh-iv said. What would @rizplate gain by re-implementing that? I don't follow.

[2018-09-21 07:45] mpenkov commented on #233
@piskvorky We don't allow the user to specify the buffer size. We also don't implement a rolling buffer - we read the current buffer to the end before loading any new data.

Doing the buffering themselves would enable the user to do the above.

[2018-09-21 07:53] piskvorky commented on #233
Wouldn't a rolling buffer means even more requests/latency? That doesn't sound like a solution.

Buffering doesn't seem what @rizplate needs; rather, he need to be pre-loading the lines in the background, in a separate I/O thread, while the main thread is doing the line processing. AFAICT this can be done with existing `smart_open` already, no difference to us.

[2018-09-23 21:02] rizplate commented on #233
@piskvorky yes I just need a big buffer to be read, process it and then the request for same buffer size needs to go.

I was hoping that I can just set some buffer-size/chunk setting on smart_open. And it would read that chunk, let me process it, and then make next call to read remaining of s3 chunk-by-chunk. preferably I would like to read 64 mb , process it and then have the next request be sent

[2018-09-24 05:11] rileypeterson commented on #234
[Here is the PR](https://github.com/RaRe-Technologies/smart_open/pull/235)

[2018-09-24 05:57] piskvorky commented on #233
@rizplate that's exactly how smart_open already works, so I suspect your real bottleneck/issue is something else.

[2018-09-25 19:42] #234 closed

[2018-09-26 07:09] menshikh-iv commented on #234
Fixed by #235

[2018-09-28 07:42] #220 closed

[2018-09-28 15:29] trentgerman commented on #220
Just to update, I used standard threads and that worked great!

+1 for using the simplest solution, even though I didn't end up using your library.

Thank you!

-Trent

[2018-09-30 12:45] mpenkov commented on #195
The code itself is "fine", but the example is misleading. If you use an integer as a port number, everything is cool. If you use the literal "port" for the port number, you'll get an exception.

[code]

The solution is to:

- Fix the example to use an integer port number
- Improve the exception handling

I'll take care of this tomorrow :)

[2018-10-01 03:35] #195 closed

[2018-10-01 13:49] mpenkov commented on #108
@menshikh-iv Looks like we can close this. We can't really do anything without access to the offending file, and the user seems to have found a work-around.

[2018-10-02 04:11] menshikh-iv commented on #108
yes, let's close it @mpenkov

[2018-10-02 04:11] #108 closed

[2018-10-02 04:15] #123 closed

[2018-10-05 03:28] #218 closed

[2018-10-15 06:13] EliYk opened #243 "Documentation dpesn't mention Python 3 support"
Hi,

Sweet library, thank you.

Wanted to point out that If someone reads the official doc -
https://smart-open.readthedocs.io/en/latest/

and doesn't check the github, he may be under the impression smart_open only works with python 2.

Cheers,
Eli

[2018-10-15 06:16] menshikh-iv commented on #243
Hi @EliYk,

thanks for report. To be honest, I have no idea who controls https://smart-open.readthedocs.io/en/latest/, @piskvorky through? Looks outdated.

Just for clarity: right now we support `2.7`, `3.5`, `3.6` and 3.7`

[2018-10-15 09:12] piskvorky commented on #243
It looks like I added `smart_open` to RTD long, long time ago (and then forgot).

I deleted it now, so it doesn't confuse people.

[2018-10-15 09:17] #243 closed

[2018-10-23 14:42] navado opened #244 "S3 upload failing silently if the connection lost during upload"
Code sample:
[code]

If connection interrupted before `smart_open(furl, ‘w’) as fout:`
so the open fails with an exception after 5 retries
[code]

But in case the connection interrupted after the stream was successfully opened and few bytes written to the stream, the upload silently completes without any visible error, but obviously with no data actually uploaded.

[code]

From the code it looks l

[2018-10-24 00:14] mpenkov commented on #244
Good catch @navado . Are you able to make a PR? It's still not too late for #hacktoberfest ;)

[2018-10-25 03:48] menshikh-iv commented on #244
@navado hi, I see that you not participate in #hacktoberfest, just for clarification of @mpenkov comment: if you are interested - check out https://hacktoberfest.digitalocean.com (you can get free T-shirt for 5 PRs in any open-source projects)

[2018-11-09 16:12] navado opened #247 "smart_open with Digital Ocean spaces and Google's GS"
Is it possible to use **smart_open**  with Digital Ocean Spaces (s3 compatible API)

With AWS CLI it works like following:
[code]

i.e. there is a need to provide endpoint URL.
An option? or new feature?

[2018-11-10 15:30] mpenkov commented on #247
I think setting the endpoint is possible. Unfortunately, we don't yet have clear documentation on how to achieve this.

Grep for "host" and "endpoint_url" in the library to get started.

[2018-11-12 09:53] navado commented on #247
https://github.com/RaRe-Technologies/smart_open/compare/master...navado:patch-1

Added an example to README - if you wish.
[code]

[2018-11-15 00:15] eode opened #249 "Make metadata accessible"
Hi, I was wondering if you could make metadata accessible as well -- I.e., what you get from `s3_client.head_object(Key=key, Bucket=bucket)['Metadata']`.

Perhaps stored at `some_s3_f_obj.metadata` -- though, it might need to be given before writing, either at object open time, or assigned before the first write (depending on how you handle writes).

Thanks for the great tool!

[2018-11-15 00:31] mpenkov commented on #249
I think that would involve duplicating functionality that is already in boto3, as you've demonstrated in your example.

What would be the benefit of doing this over accessing the metadata via boto3 directly?

[2018-11-15 01:00] eode commented on #249
Upload is the only critical one, but implementing both would have this
primary and critical benefit:
  * Allow setting of metadata when using `smart_upload` which, with some
weird exceptions, is currently unsettable with `smart_open`
    * Weird exception: Uploading the wrong name, then using the AWS API to
copy the file to the right name, with the right metadata
..and these tertiary benefits:
  *

[2018-11-15 01:02] eode commented on #249
Upload is the only critical one, but implementing both would have this
primary and critical benefit:

  * Allow setting of metadata when using `smart_upload` which, with some
weird exceptions, is currently unsettable with `smart_open`
    * Weird exception: Uploading the wrong name, then using the AWS API to
copy the file to the right name, with the right metadata
..and these tertiary benefits:

[2018-11-27 01:18] kmax12 opened #250 "Can't create anonymous client"
I am trying to anonymously download a file from S3. Using the [S3Fs](https://s3fs.readthedocs.io/en/latest/) library I am able to do something like this

[code]

Looking at their source code they create an anonymous client like this

[code]

however, I only see the option in `smart_open` to pass in a session, not a client.

How can I create an anonymous client in smart_open?

[2018-12-03 07:12] vinuthna91 opened #251 "False error while writing avro to s3compatible storage"
Hi,
This is addition to Issue #209 :
I have recently tried using same avro write on some other s3 compatible object store. where i see that smart_open throws an error "Failed to terminate multipart upload" although file is written sucessfully and completely without any data loss.
[code]
Could anyone please help me resolve this?
Thanks
Vinuthna

[2018-12-21 07:46] saikatkumardey opened #253 "How to keep a S3 file open for writing?"
I want to do something like:
[code]

This doesn't create any file on S3.

However, if I use the following, it works.
[code]

I want to be able to keep the file open for writing and not use a context-manager.

Please help.

[2018-12-21 07:53] saikatkumardey commented on #253
Actually, I got the answer as soon as I finished typing. file.write() writes to a buffer which needs to be flushed/closed in order to write the buffer to S3. This works as intended.

[2018-12-21 07:53] #253 closed

[2019-01-17 06:17] #174 closed

[2019-01-22 11:38] leiserfg opened #257 "Upload zip files"
It's just an idea, you can use https://github.com/allanlei/python-zipstream as a weak dependency for doing that.

[2019-01-22 11:43] menshikh-iv commented on #257
thanks for idea @leiserfg

[2019-01-30 09:10] eromoe commented on #195
How can I pass AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY as arguments in smart_open ?
There is no example for this.

[2019-01-30 11:11] mpenkov commented on #195
@eromoe Specifying those parameters directly is not possible.

However, you can achieve the same thing by passing a boto3 [Session that includes your credentials](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html#method-parameters):

[code]

[2019-01-30 11:12] mpenkov opened #258 "Document passing boto3 credentials"
Need a recipe page or something to include this:

https://github.com/RaRe-Technologies/smart_open/issues/195

[2019-02-17 16:36] botzill opened #259 "List bucket - provide credentials"
Hi.

IS it possible to provide custom credentials when listing bucket? I see here https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/s3.py#L537 there is no way to provide params.

Thx.

[2019-02-25 02:50] mpenkov commented on #259
Currently, it is not possible. You have to ensure that boto3 picks up your credentials via is default mechanisms (https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html#method-parameters).

However, I think it would be relatively simple to implement in a PR. You'd need to pass the session parameters as kwargs to the s3_iter_bucket function. Are you able to make such a PR?

[2019-02-25 13:10] MartinThoma opened #264 "How can I define ACL for boto3?"
I need to define an ACL in my current setting when I write on S3, otherwise the file will end up with no permissions (nobody can read it). How can I do that with smart_open?

[2019-02-25 13:31] MartinThoma commented on #264
Please note that I cannot pass it as a kwarg, as the following line will fail:

[code]

[2019-03-07 06:18] menshikh-iv opened #269 "Incorrect endlines handling with compressed input"
**Problem:** I tried to read gzipped jsonl with `smart_open` and stuck with a problem: `smart_open` incorrectly handle end lines (pick them from json, instead of "real" endline) -> breaks lines -> breaks jsonl.

**Input data:**
[code]

**Code:**
[code]

[2019-03-07 07:35] mpenkov commented on #269
I think the culprit here is the [Unicode line separator character](https://www.fileformat.info/info/unicode/char/2028/index.htm) hiding in your data.

I'm not sure why it's causing smart_open to interpret it as a line break, though. I will have to investigate some more.

[2019-03-07 09:13] lambdamusic opened #270 "Multiprocessing error with s3_iter_bucket on Mac OSx"
OS: 10.14.1 (Mojave)
Python: 3.7.2 (brew)

I've been using `s3_iter_bucket` to traverse a S3 bucket, but no matter how many workers I use (tried the default 16, then 8 and then 1), python crashes with a multiprocessing error.

Not sure if this is an OS or smart_open issue, but do wonder if anyone else experienced it.

This is the relevant bit when I'm calling smart_open:

[code]

And this is the u

[2019-03-07 09:39] piskvorky commented on #270
@lambdamusic thanks for reporting. What is the actual error your seeing (versus expected result)?

You mention some Python crash (segfault?), but then show some traceback?

[2019-03-07 12:00] lambdamusic commented on #270
No error in the terminal. Just hangs.
An OS application window saying Python has crashed.

This is what I was able to find in the console log:

[code]

.. will try to reproduce it..

[2019-03-07 12:08] piskvorky commented on #270
Sorry, I'm still not clear. If Python crashed (OS killed the process), how did you get the traceback in the OP? "Crashing" and "responding to CTRL-C" are mutually exclusive.

[2019-03-07 13:18] lambdamusic commented on #270
Apologies, I might just be doing something wrong. I've just reproduced this again so here is a detailed walkthrough:

* I run a script which get logs files from S3 and loads them into a local Elasticsearch instance; each time a new log file is found, a notification message gets printed out
* after ~100k records (number varies, but roughly) I get a system error saying that Python quit unexpectedly:

[2019-03-07 15:03] piskvorky commented on #270
OK, so it looks like some other Python process crashed (not the main script you were running; possibly some of forked multiprocessing processes).

This might be tricky to debug. Any chance you could share a minimal reproducible example? No Elasticsearch, just a minimal script we can run and observe the same crash (I have a MacBookPro too).

[2019-03-07 15:37] lambdamusic commented on #270
Here's the script I'm using:

https://gist.github.com/lambdamusic/029c88483922604c18f84e5f164e09a6

Thanks a million for looking into this!

[2019-03-07 16:26] piskvorky commented on #270
I'm thinking it might be RAM-related. `for key, content in s3_iter_bucket(…)` will keep both `key` and `content` in RAM. Did you observe any unusual RAM spikes, when running your script? (especially before the crash)

Looking at the code, it will greedily fill the input queue with S3 keys, and also the output queue with the downloaded objects. So if your processing of the results is slow (such as,

[2019-03-07 21:19] canada11 opened #271 "smart_open() printing lots of output during transfer when not desired"
When I use smart_open() (connecting to s3) it prints a ton of stuff like this:

[code]

Can I turn that off? What is it? There's a *lot* of it, I don't want it to print this.

Also some docs around the project would be greatly appreciated.
For example another question (because there's no docs):

How do I know if the s3 connection is using multipart upload or uploading serially? Maybe you guys alwa

[2019-03-07 21:23] piskvorky commented on #271
`smart_open` never prints anything. If you include a reproducible example, we'll have look.

[2019-03-07 23:34] canada11 commented on #271
(python 3.6.7, boto3 1.9.103, botocore 1.12.103)
[code]

[2019-03-08 00:40] canada11 commented on #271
While hitting ctrl+c while it's outputting to the screen, I had this output:
[code]

Maybe debug was turned on somewhere in smart_open?

[2019-03-08 03:38] mpenkov commented on #271
The output you are seeing is a stack trace. This always gets printed to standard error when you interrupt your Python program by pressing ctrl+c.

What do you see if you don't hit ctrl+c? Please post the full output.

[2019-03-08 03:46] mpenkov commented on #270
@piskvorky I think your interpretation is correct. @lambdamusic What is the memory usage like on the machine when you start having problems?

I'm not sure about the implementation of multiprocessing.Pool. That's something we need to check when investigating this in more detail. Before we can do that, though, we need a minimal reproducible example. The code posted by @lambdamusic has many moving pa

[2019-03-08 07:54] piskvorky commented on #270
@lambdamusic can you replicate the issue when you replace sending the downloaded data to ES with a simple `sleep(5.0)`? (= to simulate consuming the downloaded object queue more slowly than they are being generated)

[2019-03-08 12:04] lambdamusic commented on #270
Hey folks thanks for the feedback. I also thought it was a memory issue but didn't notice anything out of the ordinary there. Will look at it again.

Also, I'll test the `sleep(5)` test later today.

[2019-03-08 16:43] canada11 commented on #271
I tried to get the output in a file by running a python script and I noticed that there was no output when run as a script. But the output happens when I run the code by hand in a python shell interpreter. I copied the output from the interpreter and it is 44413 lines that *all* are this:
[code]
I gave the first and last 5 lines of the output and everything in between for 44413 lines all look like

[2019-03-09 00:28] mpenkov commented on #271
That’s really strange.

Let’s try to narrow the problem down a bit. I see you’re using smart_open twice in your example. Once to read, once to write. Those two things are independent, so you try to reproduce the problem using only one of them.

Also, what is special about the number 44413 (+5) in your data? It looks like something inside a loop is doing the printing. It’d help knowing what it is a

[2019-03-09 07:56] piskvorky commented on #271
@canada11 how did you install `smart_open`? Did you make any edits to its source code?

[2019-03-09 13:58] #36 closed

[2019-03-09 22:09] canada11 commented on #271
I have smart-open 1.8.0. I installed it with `pip3 install smart-open`. I didn't make any edits to the source code.

I was thinking it would be nice to use smart-open to stream from a url into s3 w/o writing the data to a local area first. That's why I used it to open two sources and read from one and write the reads into the other. It's quite handy if it can work.

I couldn't get it to print in a

[2019-03-09 22:50] mpenkov commented on #271
Turns out this is expected behavior. The Python interpreter outputs the result of the last command, if it is not `None`. For example:

[code]

The .write method returns the number of bytes written.  So

[code]

You can suppress that by assigning to a throwaway variable:

[code]

[2019-03-09 22:50] #271 closed

[2019-03-09 22:54] mpenkov commented on #231
Works on master:

[code]

Must've gotten fixed along the way somewhere.

[2019-03-09 22:54] #231 closed

[2019-03-10 08:06] mpenkov commented on #269
This may be relevant: https://stackoverflow.com/questions/17273598/python-codecs-line-ending

I suspect that gzip does this:

1. Split the **bytes** by end-of-line characters (ASCII values)
2. Decode each resulting line separately

With the codecs route, I think what's happening is:

1. Decode **everything** as from bytes to Unicode on the fly
2. Split the Unicode by end-of-line characters (Unicod

[2019-03-10 09:46] piskvorky commented on #269
My slight preference would be to mimic `open`, yes. But not important either way (not worth any massive refactoring IMO).

[2019-03-15 05:27] mpenkov commented on #250
@kmax12 We don't support this yet, but it should be possible: https://stackoverflow.com/questions/34865927/can-i-use-boto3-anonymously

Basically, we need to pass a separate set of parameters to the .client() function. Are you able to make a PR? If so, please have a look at the current master branch.

[2019-03-15 13:22] leiserfg commented on #257
I'm thinking about doing it myself this weekend. Should I add zipstream as a hard dependency or as an extra dependency?

[2019-03-15 13:34] mpenkov commented on #257
The thing with zip-stream is its only one-way, right? It doesn't allow you to both read _and_ write zip files. I think if we go ahead with an implementation, we should make it bidirectional.

Before you go ahead, we should also discuss the API. zip files aren't just compressed, they're _archives_. So you need to work out a way to specify the member of the archive to read/write as well.

[2019-03-15 15:03] leiserfg commented on #257
It will not work bidirectionally because not all zip can be decompressed with streams, depends on the algorithm and the flags used in the compression.

[2019-03-15 15:06] leiserfg commented on #257
The name of the file can be set by using `#`  like `something.com/file.zip#text_file`  but it won't allow using multiple files so maybe is better to document how to use both libraries together in the readme.

[2019-03-15 15:14] mpenkov commented on #257
I'm not sure if this use case is sufficiently broad to include it in the library. My arguments against:

1. unidirectional (write-only)
2. requires updating the URL format (hacky, I really don't like that idea, to be honest)
3. requires additional parameters for zip compression
4. tricky edge cases (e.g. using multiple files, as per your comment)

I think a better way to integrate zipfile would be

[2019-03-18 21:27] piskvorky opened #275 "Charges for Amazon S3 bucket"
The free credits for our `rare-opensource` AWS account, which we're using to CI-test `smart_open`, have expired.

As a consequence, I will be terminating that account in a few days, because I don't want to be charged by AWS for an open source project.

@mpenkov do you know what we need that AWS account for? What will happen when it disappears?

Any ideas how to replace it with something free? (Ama

[2019-03-19 00:57] mpenkov commented on #275
We need the AWS account for testing that smart_open actually works with Amazon S3 (integration tests).

I strongly recommend that we do _not_ terminate the account for the following reasons:

- Without it, we will be unable to know *for sure* that writing to S3 buckets works (very bad)
- Without it, we will have to work out a different place to store integration test results (inconvenient)
- It do

[2019-03-27 21:38] jepmarketo opened #276 "Best way to go to specific line in a CSV file streamed from HTTP?"
I am using a Lambda function with a 5-minute timeout to stream data from a CSV file on HTTPS using csv DictReader. I can read about 3 million lines in 5 minutes, after which I save the `lines_processed` in DynamoDB. When I restart my Lambda function, I want to resume reading at `lines_processed`.

I initially tried to use `seek`, but that didn't work well with DictReader. Now I'm reading through t

[2019-03-28 02:00] mpenkov commented on #276
Save the byte offset of the stream (you can get it with f.tell()). You can then seek to that offset and continue reading.

I think the issue there is the DictReader needs access to the very first row of the CSV (the file header). Without it, DictReader would not know what the fields of the CSV are. I think you have two choices here:

1. Abandon DictReader and use the regular csv.reader
2. Wrap the

[2019-03-28 02:34] #144 closed

[2019-03-28 02:34] #258 closed

[2019-03-28 17:44] jepmarketo commented on #276
Thanks, I hadn't thought about DictReader needing the column names in the first row. I will also try configuring DictReader to handle files without a header by explicitly specifying the columns. That would minimize the changes to my existing code.

[2019-03-28 17:44] #276 closed

[2019-03-29 12:41] mpenkov commented on #148
This is currently possible on the master branch:

[code]

I don't think any further work is necessary here.

[2019-03-29 12:41] #148 closed

[2019-03-29 12:43] mpenkov commented on #257
@leiserfg Any updates on this? If you got it working, we could include it in our documentation as an example or recipe.

[2019-03-29 12:47] mpenkov commented on #189
We're not going to do anything about this.

Python 2 is reaching the end of its life soon, and it's not worth reimplementing gzip just to satisfy this use case.

[2019-03-29 12:47] #189 closed

[2019-04-08 20:14] hexvolt opened #280 "No matching distribution found for smart-open==1.8.1"
Could you upload new version to PyPi please? Thanks

[2019-04-09 07:06] mpenkov commented on #280
We will upload in the next day or so. I'll post again here once it's done.

[2019-04-09 09:33] piskvorky commented on #280
@hexvolt where did you get / see this error? Can you provide context?

[2019-04-09 14:07] hexvolt commented on #280
@mpenkov @piskvorky
yes, exactly `pip install smart_open==1.8.1`. And `pip install smart-open` used to install 1.8.0 as a latest version. It works now, thanks a lot! The new version features are very handy.

[2019-04-10 17:01] caboteria opened #283 "Install failure with 1.8.1 on Centos 7"
smart_open 1.8.1 fails to install on Centos 7:

[code]
It looks like the addition of 'backports.lzma;python_version<"3.3"' is the only substantive change to setup.py since 1.8.0.  According to the setuptools docs, that feature was added in 20.5 but Centos 7 ships with 0.9.8.

Not sure what to do here but I guess that setup.py should have an install_requires on setuptools>=20.5 so at least it's cle

[2019-04-10 20:49] piskvorky commented on #283
Thanks for investigating @caboteria .

@vmarkovtsev @mpenkov do we have any other way to handle this? I'm not happy about complicating our core dependencies, introducing backward compatibility issues (apparently), for the benefit of such arcane features as `.xz` format (I never even heard of it). Cheers.

[2019-04-10 20:52] piskvorky commented on #283
Ah I see you guys are already on it, on #282. Nice!

[2019-04-11 06:06] vmarkovtsev commented on #283
Not sure what is meant by "arcane", but [xz-utls have been around in Linux since 2014](https://packages.ubuntu.com/search?keywords=xz-utils&searchon=names), that is 5 years ago. XZ is the GNU equivalent of 7z. The main advantage is higher compression ratio than bz2 at roughly the same compression speed.

Reference: https://unix.stackexchange.com/questions/108100/why-are-tar-archive-formats-switchi

[2019-04-11 06:37] mpenkov commented on #283
I think "uncommon" or "esoteric" is a better word than "arcane". Regardless of the precise meaning of the word, I think we agree in sentiment: we shouldn't handle .xz compression inside the smart_open library. Instead, we should offer support indirectly through the compressor registry.

https://stackoverflow.com/questions/6493270/why-is-tar-gz-still-much-more-common-than-tar-xz

[2019-04-11 07:11] vmarkovtsev commented on #283
Well, I don't, but nvm.

Regarding the uncommonness, the link from the above shows that it is common in Linux - and it is included into the standard Python3 distribution.  What's truly uncommon for tar is snappy, brotly, zophly, lz4, and zstd - all of them used at Google and Facebook nevertheless.

For Windows - yes, I have not seen xz archives for sure.

[2019-04-11 08:38] piskvorky commented on #283
I'm not against adding more fringe features per se – just not at the cost of compromising core dependencies.

The question stands: is there something we can do to get rid of the setuptools >= 20.5 requirement? Ideally without breaking builds on older systems that don't have it (Python 2.7 is still super popular, we're not dropping support for it any time soon).

[2019-04-11 21:33] hexvolt opened #285 "Can't open S3 files with ?-like characters in name"
[code]
results to `the s3 key 'folder/picture ' does not exist, or is forbidden for access`.

At the same time
[code]
downloads the file successfully.

## Some investigation
Internally, `smart_open` takes unquoted value (`folder/picture #1.jpg`) and after parsing, it thinks that the path is `older/picture `  cutting the rest of the key.

I can try to feed it the quoted value (`folder/picture%20%23

[2019-04-11 23:04] mpenkov commented on #285
Thank you for reporting this problem. I think the bug is in our S3 URL parsing code, somewhere in [this function](https://github.com/RaRe-Technologies/smart_open/blob/ce3d8acf7810358c93cbe11375dc48485901ccdf/smart_open/smart_open_lib.py#L650).

Are you able to make a PR?

[2019-04-12 01:04] mpenkov commented on #283
Fixed by #282

[2019-04-12 01:04] #283 closed

[2019-04-12 07:25] piskvorky commented on #280
@mpenkov is this really a bug fix release? Looking at the release notes, there are significant new features (implying 1.9.0), or even 2.0 because of that backward-incompatible `open()` function.

I worry that presenting this as a mere bug-fix release may be misleading.

[2019-04-12 08:30] shoegazerstella opened #287 "How to open an audio file?"
Hello and thank you for this very useful tool!

It would be possible to use it for opening an audio file that is stored on s3?
I can't find the proper script for this. Thanks a lot.

[2019-04-12 09:41] piskvorky opened #288 "No handlers could be found for logger "smart_open.ssh""
When importing the latest smart_open 1.8.1.

[code]

This is a bug: the library should not be logging anything at import-time. Logging is not configured yet at that time, and cannot be configured even in principle: configuring logging is up to the user, not the library.

The culprit seems to be here, introduced in #267:
https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/ssh.py#

[2019-04-12 09:44] piskvorky opened #289 "Package missing __version__ attribute"
It seems we're missing the standard `__version__` attribute, so users could check their installed package version:

[code]

(ignore the "No handlers found…", that's a separate issue #288 ).

We should definitely include `__version__`, same way we do for Gensim etc.

[2019-04-12 10:25] mpenkov commented on #280
There's nothing backwards incompatible about this release. Open is a new function in the API. The existing smart_open function works the same as before, preserving backwards compatibility, with the only visible change in behavior being a deprecation warning.

We added some minor features, like the compressor registry, but they don't really justify a major release imho.

[2019-04-12 10:59] piskvorky commented on #280
They do justify minor release though, IMO. This doesn't look like a bugfix release.

I mean, it's already done, but a note for the future.

[2019-04-12 11:26] mpenkov commented on #280
Ok, how about instead of doing 1.8.2 to fix the xz stuff, we release 1.9.0?

[2019-04-12 14:24] hexvolt commented on #285
No, it actually happens [before this function](https://github.com/RaRe-Technologies/smart_open/blob/ce3d8acf7810358c93cbe11375dc48485901ccdf/smart_open/smart_open_lib.py#L607) - that's the result the `urlsplit()` returns. It treats `folder/picture ` as the `path` and `1.jpg` as a `query`.

Which, from it's standpoint, is also kinda valid if you treat the S3 URL as a standard URL.

I can make a PR

[2019-04-12 14:25] rtkamorozov opened #290 "S3 argument change in 1.8.1 is backwards-incompatible with 1.8.0"
First off, thanks for the wonderful library! It really saves us a lot of effort when streaming objects to/from S3.

I think it would be nice if you guys adopted the semver workflow from https://semver.org/. Namely, I would propose you bump the major version when making API-incompatible changes.
To give you an example - I've had the `smart_open` version pinned as `>=1.8.0,<2.0` to make sure I get a

[2019-04-13 00:42] mpenkov commented on #290
Thank you for the report. Glad you are finding the library helpful.

We are on board with the semantic versioning concept. One of our goals for 1.8.1 was to make maintain full backwards compatibility with 1.8.0. E.g. we intended the old smart_open.smart_open function to behave exactly as in 1.8.1. It sounds like we failed to meet that goal in your case, and that's something we'd like to fix moving

[2019-04-13 06:20] mpenkov commented on #287
You can open an audio file the same way you open any other file on S3. For examples, please see the README.rst file.

[2019-04-13 06:20] #287 closed

[2019-04-13 07:35] mpenkov commented on #280
@piskvorky I'd like to make a new release soon to resolve the problem in this ticket, can you let me know which you prefer:

1. Release as 1.9.0
2. Release as 1.8.2
3. Something else?

[2019-04-14 05:25] mpenkov commented on #285
Which version of smart_open are you using? I cannot reproduce the problem using the most recent version.

The urlsplit code is behaving correctly, because we pass `allow_fragments=False` to it.

[code]

[2019-04-15 00:33] mpenkov commented on #288
Strictly speaking, the comment at the top of the file lists you as the _copyright owner_, as required by the [gensim contribution guidelines](https://github.com/RaRe-Technologies/gensim/wiki/Developer-page#legal) as opposed to the direct author of the code. If you like, I can add myself to the copyright statement to emphasize the joint copyright. The same thing goes for other modules.

Let me know

[2019-04-15 00:34] mpenkov commented on #285
I could only reproduce the problem with question mark (?) in the URL. We'll fix this in #291. Thanks again for letting us know.

[2019-04-15 06:41] ilons commented on #264
One hacky solution here is to call the s3 implementation directly:
[code]

[2019-04-15 07:49] shoegazerstella commented on #287
Sorry I did not include any code or errors. I am indeed trying something like:

[code]

[code]

And of course Librosa does not work as it expects a path-like object.
Do you have any advice on how to actually read that `smart_open.s3.SeekableBufferedInputBase` object as an audio?

Thanks a lot

[2019-04-15 12:14] mpenkov commented on #287
This sound system like a question for the librosa devs.

[2019-04-15 13:13] rtkamorozov commented on #290
Thanks for the prompt response, @mpenkov .
Sure, let' me elaborate on my use case.

I am using `smart_open` to create a large `tar.gz` archive and stream it to S3. The bucket I am uploading to requires server-side encryption, and I have been passing additional arguments to `open` like this:
[code]

During one of the builds, `smart_open` got upgraded and I started seeing cryptic "Access Denied" mes

[2019-04-15 13:27] mpenkov commented on #290
Thank you for providing details. We will investigate and release a bugfix that restores back compatibility.

I am sorry that this caused you inconvenience.

[2019-04-15 13:46] rtkamorozov commented on #290
No worries, thanks for following up so quickly!

[2019-04-15 14:39] hexvolt commented on #285
Hm, yes you're right, just debugged this example again and # appeared to work ok. Maybe I mixed it up with `urlparse` in requests when I was trying to find a culprit and experimented with both `requests` and `smart_open`. So the issue is with question mark only indeed. Thanks for addressing this.

[2019-04-16 01:06] #47 closed

[2019-04-16 01:06] #285 closed

[2019-04-16 01:06] #288 closed

[2019-04-16 01:06] #289 closed

[2019-04-16 12:06] loretoparisi commented on #287
@mpenkov Is it possible to convert a `SeekableBufferedInputBase` to bytes?

[2019-04-16 14:04] caboteria commented on #283
Thanks everyone for jumping on this so quickly!

[2019-04-17 04:07] #290 closed

[2019-04-17 04:39] mpenkov opened #295 "ResourceWarning: unclosed SSLSocket"
We get lots of warnings like this in the logs:

[code]

More here: https://travis-ci.org/RaRe-Technologies/smart_open/jobs/521076231

Is there a way we can clean this stuff up?

[2019-04-17 04:44] mpenkov commented on #287
Yes, just do `buffer.read()` from it.

[2019-04-17 09:16] loretoparisi commented on #287
@mpenkov okay, thank you, so it seems that `audioread` does not support reading the bytes directly - https://github.com/beetbox/audioread/issues/92

[2019-04-17 12:12] mpenkov opened #299 "Fix race condition in integration tests"
We often see this, primarily with Py2.7 builds:

[code]

It's a PITA because it requires us to restart the build, taking over 10 minutes of time. We should really fire-proof that test so it waits for the bucket to be created before actually starting.

[2019-04-18 01:07] mpenkov opened #300 "Remove old bz2file dependency"
https://github.com/RaRe-Technologies/gensim/issues/2448

[2019-04-19 02:22] mpenkov opened #301 "Occasional TypeError in threading code"
This happens occasionally during our CI builds:

[code]

[2019-04-19 20:12] piskvorky commented on #288
You're right, my bad, sorry.

I have a *slight* preference for including code author(s) as well (in addition to the copyright) in the header. This makes contacting authors in the future easier. More relevant in Gensim than here, TBH. No big deal either way.

[2019-04-19 20:21] piskvorky commented on #280
@mpenkov sorry, was on holiday this week. Super impressed to see the amount of work (and notifications) produced in the mean while :-)

My preference here: 1.8.2.

My preference in general:
- incrementing bugfix (1.8.X) only for innocuous changes and bug fixes
- incrementing minor (1.X.0) for anything more serious, new features
- major bumps (2.0.0) for API rewrites (but not necessarily dropping o

[2019-04-20 04:22] mpenkov commented on #280
@piskvorky In general, I agree with your preference. For the next couple of releases, I'll double check the version number with you before proceeding.

[2019-04-20 13:12] amitdhawan opened #302 "Is there a way to convert line to JSON?"
Im new to python and found this library interesting to parse large csv files from S3. Im able to get the csv line using this library but now i need to convert thr csv line to json and send out  json line to other consumers.

I used below code to parse and make json from csv:-

[code]

 print(convert_csv_to_json(str(line))) prints below lines in my csv file:-

[code]

Now the error i get is attache

[2019-04-20 13:51] mpenkov commented on #302
Thank you for your interest in the library, but this is the wrong place to ask your question, because it is not related to a bug or problem with the smart_open library. Please try somewhere like StackOverflow.

[2019-04-20 13:51] #302 closed

[2019-04-20 14:12] amitdhawan commented on #302
@mpenkov thanks for your reply. Surely, i will ask on other platforms, but would you mind providing me some direction in to the solution. If not, then also its fine :-)

[2019-04-22 08:27] luckydonald opened #303 "Checking for file existence."
As we use s3 for storage of generated assets, and only generate them again if not existing yet, we need to implement a check for existence.

How about a `from smart_open import exists`?
It would be great if this library could also allow easy checking for existence, tailored for it's multiple backends.

[code]

[2019-04-22 10:42] luckydonald commented on #303
For `boto3`, which is internally used by `smart_open` we used the listing with `Prefix=file_path` to check for existence, as it doesn't download the file.
[code]
Source: [Stackoverflow](https://stackoverflow.com/a/55234136/3423324#check-if-a-key-exists-in-a-bucket-in-s3-using-boto3)

[2019-04-22 11:29] luckydonald opened #304 "transport_params: default value for keyword argument is mutable"
For some reason, `transport_params.session` defaults to something I didn't set, causing it to ignore the arguments set via url.

Here is my code:
[code]
The logs:
[code]

It shouldn't have any session though, and just use the url params.

[2019-04-22 11:46] luckydonald commented on #304
My guess is, that the problem is that the default value of `transport_params` is mutable.
Having `transport_params=dict()`, Pycharm helpfully notes:
<img width="396" alt="Screenshot 2019-04-22 at 13 25 14" src="https://user-images.githubusercontent.com/2737108/56498544-73e15d00-6502-11e9-9c1f-3d2ce781c155.png">

This means, if you modify _anything_ inside this `transport_params` dict, _anywhere_ d

[2019-04-22 12:10] luckydonald opened #305 "Custom S3 host is ignored when using the url format."
https://github.com/RaRe-Technologies/smart_open/blob/052ff93c110ab9e4ef94bd55667c9b6707d1ceee/smart_open/smart_open_lib.py#L589-L593
This is missing something like `endpoint_url`:
[code]
<br><br>

---------
Maybe you could add integrations checks against a self hosted instance.
Minio is quite easy to set up:  [Quick start guide](https://docs.min.io/docs/minio-quickstart-guide.html).
Also they have

[2019-04-22 12:42] luckydonald commented on #305
The ugly workarround is the following:
[code]

[2019-04-22 13:55] mpenkov commented on #303
Why not just open the URL and see if that fails?

[2019-04-22 13:57] mpenkov commented on #304
Can you please post a code sample that demonstrates how the existing code breaks?

[2019-04-22 13:58] luckydonald commented on #303
@mpenkov I don't wanna download it, just need to make sure that I don't waste resources to produce it twice.
Also I don't understand how that would look like, maybe you can show me a code example?

[2019-04-22 13:59] mpenkov commented on #305
Thanks for reporting this. I will look into it.

[2019-04-22 14:03] mpenkov commented on #303
You don't need to download it. Smart_open **streams** its data. If you open a stream, but don't actually read from it, nothing gets downloaded.

Try:

[code]

The ValueError gets raised [here](https://github.com/RaRe-Technologies/smart_open/blob/052ff93c110ab9e4ef94bd55667c9b6707d1ceee/smart_open/s3.py#L150) in case you want to do more precise checking.

[2019-04-22 14:03] #303 closed

[2019-04-22 14:04] luckydonald commented on #303
@mpenkov shouldn't it raise an `IOError`?

[2019-04-22 14:06] mpenkov commented on #304
Thank you for reporting this. I'll have a look into it.

[2019-04-22 14:08] mpenkov commented on #303
I suppose IOError is more suitable. ValueError is there for historical reasons.

[2019-04-22 14:12] luckydonald commented on #303
@mpenkov
Being a "better" `open` I would expect similar or even same exception classes being used.
Should I create an issue for that? Or you wanna do that?

[2019-04-22 14:14] luckydonald commented on #304
The param `=dict()` to be happening at several places.

[2019-04-22 14:17] luckydonald commented on #304
Here is an short example illustrating the effect:
[code]
[code]

[2019-04-22 14:23] mpenkov commented on #303
Sure, you could make a new issue. A PR would be even better.

[2019-04-22 14:23] luckydonald commented on #304
So basically the reproduction you asked about and deleted would be using `smart_open.open` twice.

[2019-04-22 14:27] luckydonald opened #306 "Failed file access should raise IOError not ValueError (S3)"
See https://github.com/RaRe-Technologies/smart_open/issues/303#issuecomment-485426630 for details.

I recognise this to be a breaking change (Unless you make a subclass extending both Exception classes) so proper semantic verion should be assigned.

[2019-04-22 14:29] luckydonald commented on #303
I don't feel comfortable editing this online, as I don't have the code cloned locally, and therefore have no unit test setup.

[2019-04-22 14:37] luckydonald commented on #305
Here is a full example leveraging the play.min.io demo:

[code]

[2019-04-22 14:49] luckydonald commented on #306
Maybe while working on this, the original error could made available as parameter, so it isn't swallowed.

[2019-04-23 13:32] amolsaudar123 opened #308 "uploading failed while dealing with empty file"
Hi,
  Currently I am using smart_open library.But I am facing an issue related with empty file .while it is working well with any file but when I deal with any empty file it throws me exceptions
Like
raise error_class(parsed_response, operation_name)
botocore.exceptions.ClientError: An error occurred (AccessDenied) when calling the PutObject operation: Access Denied
can you please Help me out how

[2019-04-23 13:36] amolsaudar123 commented on #308
![c1](https://user-images.githubusercontent.com/29245705/56585099-c8680380-65fa-11e9-8c61-949e1f32b3f9.PNG)
![c2](https://user-images.githubusercontent.com/29245705/56585101-c8680380-65fa-11e9-98c6-48c94d26122b.PNG)
Here is the snippet ,where in one file I have some data in test2 ,but in test1 we dont have any data ,so in test1 to upload it to s3 it gives me botocore.exception

[2019-04-23 23:08] mpenkov commented on #308
From the screenshots you are posting, the operation is failing because of an "Access Denied" error.

I can confirm that writing empty files to S3 works with smart_open 3.8.2 and the below code:

[code]

What version of smart_open are you using?

[2019-04-24 08:33] amolsaudar123 commented on #308
How do  know smart_open version?
can you please help me out

[2019-04-24 08:43] mpenkov commented on #308
Run `pip show smart-open`

[2019-04-24 08:48] MMMohit commented on #308
Hi I am facing issue related with empty file,during uploading from hdfs to s3 .whenever I upload any non empty file its uploaded successfully on s3 ,but once I deal with any empty file it gives me exception like
raise error_class(parsed_response, operation_name)
botocore.exceptions.ClientError: An error occurred (AccessDenied) when calling the PutObject operation: Access Denied

and also can you j

[2019-04-24 08:58] mpenkov commented on #308
I've tried to reproduce the problem on my end, unsuccessfully (see my first comment). I'd like to help you, but your recent comment provides absolutely no new information to me.

In order for me to be able to help you, I need to know more information:

1. The smart_open version (see my reply above for methods of getting it)
2. A **full** stack trace (copy paste). You've provided me some screenshot

[2019-04-24 09:12] MMMohit commented on #308
smart_open version i s
1.8.0
 here is the code snip
![sv1](https://user-images.githubusercontent.com/30354328/56647462-20f0dc80-669f-11e9-91a0-64b5bc9fdafe.PNG)

[2019-04-24 09:36] mpenkov commented on #308
Try installing the newest version of smart_open (1.8.2).

Alternatively, try `from smart_open import smart_open as open` instead.

[2019-04-24 09:50] MMMohit commented on #308
Yes it works for me thanks but after running this code I got output as a

u' '
what is meaning of this output ?

and here is the code
from smart_open import smart_open as open
hdfs_path='hdfs://user/mohitm/sagar/test1.csv'
with open(hdfs_path, 'r') as fin:
    print(repr(fin.read()))

[2019-04-24 10:02] mpenkov commented on #308
From this discussion, it is obvious to me that there is no bug in this case, so I'm closing the ticket.

If you have further questions, then the more appropriate place to ask them is stackoverflow.com.

[2019-04-24 10:02] #308 closed

[2019-04-24 21:26] luckydonald commented on #305
Sweet.

[2019-04-26 01:30] #304 closed

[2019-04-26 01:30] #305 closed

[2019-04-26 01:31] #300 closed

[2019-04-26 05:09] #295 closed

[2019-04-26 05:09] #299 closed

[2019-04-30 11:38] michelazzo opened #311 "Multiple files inside target zip file"
It would be nice having the ability to write multiple zip-entries (meaning, multiple source files) to the target zip file. Something like this:

[code]
Is this something to be considered?

[2019-04-30 12:01] piskvorky commented on #311
Archives are not supported by `smart_open` -- see previous discussion in #134 and #205, and especially this comment: https://github.com/RaRe-Technologies/smart_open/pull/205#issuecomment-419821951

[2019-04-30 12:01] #311 closed

[2019-04-30 12:01] mpenkov commented on #311
I've thought about it, but I think it's out of scope for this library. You could probably achieve what you want by using smart_open in combinaton with the [zipfile](https://docs.python.org/3.7/library/zipfile.html#zipfile-objects) module of the standard library:

[code]

[2019-05-01 09:32] michelazzo commented on #311
Thanks for the directions @piskvorky and @mpenkov

[2019-05-02 06:59] amitdhawan opened #312 "Facing issue botocore.exceptions.ReadTimeoutError: Read timeout on endpoint URL: "None""
Hi,

Im facing a issue as below:-

[code]

[2019-05-02 07:10] mpenkov commented on #312
What smart_open version are you using?

Is this an intermittent issue? What happens if you retry reading?

[2019-05-05 09:09] luckydonald commented on #306
To keep code compatible maybe we can make a exception subclass of both?

[code]

[code]
and old code expecting `ValueError`.

[2019-05-09 00:58] koshy1123 commented on #264
This works:
[code]

[2019-05-09 01:11] #264 closed

[2019-05-15 14:38] ubswrk opened #313 "Question - Upload using Django and stream to S3"
Hi,
I'd be happy to hear your recommendations for the simple use case of exposing an endpoint to upload a file to S3. So basically the use case is as follows:
1. User uploads a ~500MB (zipped) file through a web browser
2. Django web server handles the request and pushes the file to S3

I'm currently looking at MultiPartParser, and if I understand this correctly Django will save the file
to a loca

[2019-05-15 15:49] amitdhawan commented on #312
It was gz files i was trying to open for which i didn't mentioned the encoding format at open method call. Now i can see exactly which lines was causing issues in my csv.

[2019-05-15 15:49] #312 closed

[2019-05-15 23:14] mpenkov commented on #313
Sorry, this is more of a Django question than a smart_open question.

smart_open will stream anything you give it, in theory. So provided you have access to the incomplete upload stream, you should be able to write it to S3 as it comes in.

[2019-05-15 23:14] #313 closed

[2019-05-16 21:29] caboteria opened #314 "writing to S3 requires unnecessary permissions"
I'm trying to write to an S3 bucket for which I have permission to write to a path in the bucket, but I don't have permission to list the root of the bucket, which is a fairly common use case when using S3 to transfer files to/from multiple organizations in the same bucket.  The write fails because of a check on line 426 of s3.py: it tries a head_bucket operation which requires[1] the ListBucket p

[2019-05-16 21:49] caboteria commented on #314
It looks like this code was added to fix issue 154 so I tried to write to a bucket that doesn't exist to see if smart_open tried to create it implicitly (which I agree would be bad).  It didn't try to create the bucket so lines 425-428 may no longer be necessary:

[code]

[2019-05-18 14:14] #314 closed

[2019-05-19 14:40] piskvorky opened #316 "Render user-friendly string representation of open files"
Currently, an open S3 object prints like this:

[code]

This is not useful, and we can do much better: [we have full info](https://github.com/RaRe-Technologies/smart_open/blob/master/smart_open/s3.py#L329) about the concrete bucket, key, mode, etc. Compare to boto3's nice native display:

[code]

Task: render open objects more nicely in `__str__`. This is **great help during logging and debugging*

[2019-05-19 17:48] piskvorky opened #317 "Opening an S3 URI significantly slower than boto3"
While replacing some legacy code that used raw `boto3` with `smart_open`, I hit an unexpected performance regression. The smart_open-based code rewrite takes 930 ms, where the original was 403 ms (more than 2x slower).

[code]

A bit of overhead is OK, but >2x slower is too much. I see no reason for smart_open to be so much slower in this scenario.

I tracked down the following code path, which I

[2019-05-23 06:47] mehmetilker opened #319 "WARNING this function is deprecated, use smart_open.open instead"
Every operation I do with gensim I am seeing "2019-05-23 09:42:54,149 WARNING this function is deprecated, use smart_open.open instead"

for example:
[code]

I guess it started after upgrading gensim.

smart-open        1.8.3
gensim            3.7.3